[2012-12-17 15:41] leonfrr opened #1 "in webs seems like a "mi tele""
Helo,

I just tried to download to telecinco's web (mitele.es) and i read the instructións to proceed.
I'm working with chrome.
I click on the alt button but it doesnt works.
But if I tried from the video is running on the web "mitele.es", when i click right the download is like mp4.
Works if the video are initializing in the web.

sorry for my English

a greeting

[2012-12-17 15:52] vhela commented on #1
Hi I am trying to download a video from "my TV" and not let me from Chrome or from firefox or from explorer. I followed the instructions but still does not let me download

also sorry for my English

[2012-12-18 02:06] aabilio commented on #1
Si habláis castellano adelante, que soy gallego de toda la vida :P
Las instrucciones descritas en la wiki a mi me funcionan bien, solo que hay que ser en algunos casos bastante rápido, sobre todo, si PyDownTV ha tardado en devolver el enlace...
La verdad que no entiendo muy bien qué me queréis decir, a ver si me podéis volver a comentar ;)

Saludos.

[2012-12-20 12:15] simonbcn opened #2 "El icono del botón en la barra de apps de Firefox no aparece"
Firefox 17.0.1
Ubuntu 12.04 64 bits

El icono del botón en la barra de apps de Firefox no aparece

![captura_1220_13:05:42](https://f.cloud.github.com/assets/428231/24331/e2805b42-4a9e-11e2-984b-cdd815587be6.jpg)

[2012-12-20 16:59] aabilio commented on #2
Gracias por reportar, le echaré un vistazo ;)

[2012-12-27 14:26] dextertru opened #3 "No funciona rtmp mtv.es"
No me funciona ningún enlace generado para rtmp en mtv.es, a ver si podéis dar con la solución, gracias por la pagina y un saludo.

[2012-12-27 19:52] aabilio commented on #3
Es por problemas de geo boqueo (los servidores de PyDownTV están situados fuera de España), lo mismo me está pasando con Canal Historia. Tengo que encontrar un proxy español para rastrear los vídeos. Mañana si tengo un poco de tiempo lo arreglo.. Sorry.

[2012-12-27 19:52] aabilio commented on #2
Esto debería estar solucionado con la actualización del plugin, no?

[2012-12-27 21:27] deivipsp21 opened #4 "Ahora si que no me funciona mitele.es (a alguien más le pasa?)"
Hola, antes de la actualizacion me podía descargar los vídeos de mitele, algunas veces me daba problemas pero lo intentava 3 o 4 veces y al final podía. ahora es que no consigo, y lo e intentado un montón de veces y rápido como dice el tutorial de ayuda. Solución por favor. gracias

[2012-12-28 02:27] aabilio commented on #4
La verdad es que a mí me va muy bien, incluso esperando el tiempo que quiera para descargarme el vídeo.. No sé por qué te fallará a tí. A ver si a alguien más le pasa..

[2012-12-28 15:03] dextertru commented on #3
Muchas gracias por la rapidez, gran trabajo con la pagina un saludo y enhorabuena¡¡¡¡¡

[2012-12-31 21:04] aabilio commented on #3
No me he olvidado ni de MTV ni de Canal Historia. Solo que no he encontrado un proxy fiable. Pero esta semana estará, estoy pendiente de activación de un hosting para una proyecto que estoy montando donde alojaré yo un proxy directamente. Así futuros problemas en este sentido estarán solucionados al momentos también.

Siento la tardanza. Saludos.

[2013-01-04 14:25] cur3n79 opened #5 "El plugin para chrome no detecta bien la url desde la que se ejecuta"
Desde la última actualización del plugin si se tiene al menos 2 ventanas de chrome abiertas al pulsar el botón del plugin desde la segunda la url que le pasa a la página es la que esta abierta en la primera ventana.
No es muy importante, pero puede llevar a engaños a alguien inexperto.

[2013-01-04 16:22] aabilio commented on #5
Conocía ya este bug, pero muchas gracias por reportar. A ver si lo puedo corregir pronto. Saludos ;)

[2013-01-04 17:20] aabilio commented on #3
Los problemas con mtv y Canal Historia deberían estar solucionados. Necesito confirmación ;)

[2013-01-04 17:36] aabilio commented on #5
La actualización ya está subida al repositorio de plugins de Google Chrome (https://chrome.google.com/webstore/detail/pydowntv/ljbpalaakngapgpfkidnohfokabnkiof/details).
Esperando a que se actualice en los servidores, la versión que debería corregir el problema es la 3.0.5 (por ahora aun se encuentra en la 3.0.1).
Google Chrome actualizará automaticamente el plugin supongo ;)

Supongo que funciona

[2013-01-04 18:00] aabilio commented on #5
Ya está disponible la actualización en: https://chrome.google.com/webstore/detail/pydowntv/ljbpalaakngapgpfkidnohfokabnkiof

[2013-01-04 18:21] dextertru commented on #3
Excelente trabajo funciona a la perfección, lo he he probado y funciona todo bien, gracias por solucionarlo tan pronto,saludos¡¡¡¡

[2013-01-04 19:43] cur3n79 commented on #5
Funciona perfectamente muchas gracias y enhorabuena de nuevo por el proyecto.

[2013-01-04 19:43] #5 closed, assigned to nobody

[2013-01-16 16:41] Begas opened #6 "MiPony"
Me gustaría...

...que se adaptara a MiPony, como ya lo hace (supuestamente, porque no lo he probado) con JDownloader.

Mil gracias!!!

[2013-01-17 11:46] simonbcn commented on #2
Sí, está solucionado con la versión 0.3 (se actualizó hace unos días).
Gracias. Un saludo.

[2013-01-17 11:46] #2 closed, assigned to nobody

[2013-01-18 00:56] aabilio commented on #6
En cuanto tenga un poco de tiempo veré qué se puede hacer ;-)

[2013-01-18 16:30] Begas commented on #6
Muchas gracias!!!

Lo utilizo bastante para bajarme series de TVE y Antena3, pero utilizo el
MiPony.

El 18 de enero de 2013 01:56, Abilio Almeida notifications@github.comescribió:

[2013-01-20 13:06] frentemorao commented on #3
hola aabilio

He conocido tu web gracias a Jesús de tvalacarta y pelisalacarta.
Este es mi primer post para decirte que a mi no me funciona ningún enlace generado para rtmp en mtv.es (he probado con Aragon TV para ver si era cosa del rtmp pero con Aragon TV funciona perfecto!!).

El error que me da la consola (windows XP) es:
Error: Closing connection: netstream.play.streamnotfound

Gracias, un sa

[2013-01-20 13:57] aabilio commented on #3
Podrías poner un enlace concreto para probar? Yo acabo de probar con un par de vídeos de MTV y me ha funcionado con los dos (en Mac OS X Lion, y rtmpdump versión 2.4)

[2013-01-20 14:06] frentemorao commented on #3
Pues por ejemplo: http://www.mtv.es/programas/destacados/geordie-shore-2/videos/geordie-shore-ep-208-parte-1-de-4-846388/

Este el código que se supone tengo que pegar en cmd: rtmpdump -r 'rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/geordie-shore-2-temporada/gs-208_768x432_1700_m30.mp4' -o 'Geordie_Shore_Ep.208_Parte_1_de_4.mp4'

qué videos te han funcionado?? quizá podría proba

[2013-01-20 14:13] aabilio commented on #3
![Captura de pantalla 2013-01-20 a la s 15 10 56](https://f.cloud.github.com/assets/664712/81249/56dcab88-630b-11e2-8885-61fb0a937e1a.png)

Como puedes ver en la captura de pantalla que adjunto a mi ese comando me va perfectamente.
Qué versión de rtmpdump estás usando, 2.4?

[2013-01-20 14:18] frentemorao commented on #3
sí, uso la 2.4 pero pone rtmpdump 2.4 git-b627335 2001-7-23
![cmd](https://f.cloud.github.com/assets/3320661/81256/40348828-630c-11e2-8b2d-4a07ee3e1f44.JPG)

[2013-01-20 14:24] aabilio commented on #3
Prueba esto (que puede ser una tontería pero por probar no se pierde nada): después de pegar el comando con las flechas de dirección posicionate sobre las comillas simples y edita las a mano,borrando la que está y oponiendo tú a mano las comillas simples desde tu teclado, a ver qué pasa.. ;-)

[2013-01-20 14:27] frentemorao commented on #3
nada... no ha funcionado...
tendrá algo que ver el Unknown protocol??
o la versión de rtmpdump?? donde puedo descargar la tuya??

[2013-01-20 15:21] aabilio commented on #3
Lo del protocolo puede que sea por que en esa versión de desarrollo que tienes no esté incorporado el soporte para rtmpE. Prueba esta: http://pydowntv.googlecode.com/files/rtmpdump-win32.zip No sé qué versión es, pero es la que tenía en descargas para la versión primera de pydowntv para Windows (es la que tengo enlazada en la sección de ayuda de pydowntv)

[2013-01-20 15:23] frentemorao commented on #3
esa misma es la que había descargado (la enlazada)... puede que haya alguna diferencia entre la de windows y la de Mac???

[2013-01-20 15:33] aabilio commented on #3
No creo que sea el SO. Me decanto mas por la versión. El problema es que en la web oficial no reparten binarios para la 2.4, solo dan el código para que lo compiles tú. He buscado en google a ver si alguien había compilado alguna 2.4 más moderna que la que tú tienes y entre otras cosas me ha salido esto: http://m.general-files.com/download/rtmpdump (el segundo resultado, es una 2.4 mas actual, por

[2013-01-20 15:39] frentemorao commented on #3
la he descargado pero no veo ningun .dll
he copiado el rtmpdump.exe sin exito... me sigue dando el mismo error

qué videos de mtv sí te funcionan a ti??

[2013-01-20 15:42] aabilio commented on #3
Pues he probado con los últimos de Gandia Shore, ejemplo..

[2013-01-20 16:43] frentemorao commented on #3
nada... sin exito...

[2013-01-20 17:25] aabilio commented on #3
Con la otra versión también te salía el mismo error? Estas intentando descargar el vídeo desde una IP española o te encuentras fuera de España?

[2013-01-20 17:34] frentemorao commented on #3
he probado con varias versiones y en todas el mismo error...
intento descargar el video desde IP española (también puedo ver bien el video en la web de mtv...)

[2013-01-20 17:51] aabilio commented on #3
Pues no tengo ni idea de por qué.. Es un problema mas especifico de rtmpdump tanque a mí me descargan bien los vídeos. Buscaría por foros específicos y trataría de obtener la versión mas reciente de rtmpdump que pudiera. No sé qué más probar..

[2013-01-22 00:14] aabilio commented on #6
Ya me he puesto en contacto con el desarrollador de Miponi para ver si su software dispone de alguna manera de integrar enlaces de terceros desde una web. Esperando respuesta ;)

[2013-01-24 01:42] mmon opened #7 "BBC One y demás familia"
Hola,
de antemano muchas felicidades por este gran trabajo y compartirlo con los usuarios que nos liamos con mas de dos lineas de comando ;)
Queria proponer todos los canales que tiene BBC y no podemos verlos online por causa de la IP.
Gracias por todo y mucho animo para seguir adelante con este proyecto que ya es una realidad.

mmon

[2013-01-26 16:58] iptvwebtv opened #8 "Se soportará Telecinco.es en la API?"
Hola, me gustaría saber si tenéis previsto dar soporte a Telecinco.es en la API para una posible aplicación. Veo que Mitele.es si que funciona, pero no los videos con dirección telecinco.es. Muchas gracias

[2013-01-26 17:18] aabilio commented on #8
Sí que hay soporte para telecinco.es si no funciona es que debe estar fallando. Mañana le echo un ojo..

[2013-01-27 14:31] iptvwebtv commented on #8
Ok, gracias por la atención tan rápida. Pensaba que la API no soportaba todos los que soporta la versión web al ver que los enlaces de Telecinco.es si que los saca esta pero la API no.

[2013-01-28 13:03] aabilio commented on #8
No es que la API de spaintvs soporte todos los canales de PyDownTV2, sino que PyDownTV2 utiliza al mismo tiempo la API directamente (forman parte del mismo proyecto, son lo mismo ;))

El problema con Telecinco.es era muy raro, utilizando directamente spaintvs sobre PyDownTV2 obtenía unos datos diferentes que si lo hacía la vista que maneja las peticiones a la API.

Ahora mismo parece estar solucio

[2013-01-28 13:12] aabilio commented on #7
No te voy a engañar, ahora mismo tengo muchos proyectos en marcha y les estoy dando prioridades distintas. Debido a que PyDownTV nació como soporte a las televisiones españolas, incluir BBC no es un prioridad ahora mismo, aunque no se descarta para un futuro.

De todas maneras, PyDownTV y spaintvs son Software Libre, y cualquiera puede hacer un fork del proyecto y continuarlo si quiere, como si po

[2013-01-28 13:14] #1 closed, assigned to aabilio

[2013-01-28 13:15] aabilio commented on #4
@deivipsp21 continúas con este error?

[2013-01-28 13:16] aabilio commented on #6
Continuo esperando respuesta del creador de Mipony..

[2013-01-29 00:31] deivipsp21 commented on #4
Gracias por preocuparte, pero desde a actualización no he conseguido bajarme ningún vídeo, y no será por intertarlo

soy david

Abilio Almeida notifications@github.com wrote:

[2013-01-29 00:58] aabilio commented on #4
Es que es rarísimo, eres el único que me ha reportado este error.. No sé a qué se debe.,

[2013-01-29 09:42] deivipsp21 commented on #4
de nuevo muchas gracias por preocuparte. Lo volvi a intentar, y no conseguia que descargara el video, pero claro, yo le estaba dando al enlace como la anterior version de pydowtv, no al titulo del video que me quiero descargar, que aparece un poco mas abajo en azul y subrayado. Por fin ya puedo descargar y sin problema (por lo menos el primer video). Muchas gracias.

Date: Mon, 28 Jan 2013 16:58:0

[2013-01-29 12:57] #4 closed, assigned to aabilio

[2013-02-05 20:20] iskraelectrica opened #9 "mi tele no va"
~$ python /home/joseluis/proyectos/pydowntv/trunk/PyDownTV2/Script/pydowntv.py -n http://www.mitele.es/series-online/la-que-se-avecina/temporada-6/capitulo-77/

[ URL ] http://www.mitele.es/series-online/la-que-se-avecina/temporada-6/capitulo-77/
[INFO] Mitele.es
[INFO] ID: /nogeo/serie/laqueseavecina/t6/c77.mp4
mitele.es: No funciona el procedimiento.

[2013-02-05 20:41] aabilio commented on #9
Empezó a fallar hace unos días. Pero lo corregí el mismo día. Debería volver a funcionar si actualizas la versión. No sabía que nadie usaba la versión en desarrollo del script. Lo lanzaré oficialmente esta semana. Saludos.

[2013-02-09 16:44] iptvwebtv commented on #8
Entendido :)

Si, ahora funciona perfectamente. Muchas gracias de nuevo :)

[2013-02-12 21:06] zikinkeriak opened #10 "Eitb.tv: WARNING: Unknown protocol! ERROR: You must specify a playpath or url"
Buenas,

Al intentar descargarme un vídeo de eitb.tv me sale el error de abajo.

No se como ponerle la categoría de bug ni la versión de la web. Lo siento.

Muchas gracias!

WARNING: Unknown protocol!

ERROR: You must specify a playpath (--playpath) or url (-r "rtmp://host[:port]/p
laypath") containing a playpath
El nombre de archivo, el nombre de directorio o la sintaxis de la etiqueta del v
olum

[2013-02-12 23:17] aabilio commented on #10
Me puedes decir con qué vídeo en concreto te pasa eso?

[2013-02-13 21:13] zikinkeriak commented on #10
El video es este:
http://www.eitb.tv/es/#/video/1941133202001

Gracias!

[2013-02-14 00:22] aabilio commented on #10
A mi me descarga perfectamente con el comando proporcionado por PyDownTV: rtmpdump --rtmp 'rtmp://cp150446.edgefcs.net/ondemand/&mp4:102076681001/102076681001_1942097066001_107738-20121102-150921.mp4?**nn**=1497926354001&slist=102076681001/&auth=daEa0c9aZdSbJa0dLcAdNbBb5bjcea8aRc0-brhcKa-bWG-mnyAssvx_yCAt_GFEz_EtC&aifp=bcosuds' --app='ondemand?**nn**=1497926354001&slist=102076681001/&auth=daEa0c9a

[2013-02-14 14:20] #8 closed, assigned to aabilio

[2013-02-14 17:39] zikinkeriak commented on #10
He hecho los dos intentos y sigue sin dejarme.

[2013-02-14 17:59] zikinkeriak commented on #10
He instalado en linux y si que me funciona, pero en windows no. No se que puede ser....

[2013-02-14 18:01] aabilio commented on #10
Tengo que probarlo en una instalación de Windows que tengo para ver... A ver si lo puedo ver luego ;)

[2013-02-14 22:45] aabilio commented on #10
Acabo de comprobar desde Windows 7 que efectivamente el problema está en las comillas simples. He cambiado todas y cada una de ellas por comillas dobles normales (las que están encima del dos) y me ha descargado el vídeo correctamente.
Tendré que ver si cambiar las comillas simples por las dobles por defecto (es que las dobles se suelen copiar mal en  la terminal...).

[2013-02-20 16:36] philipsduff opened #11 "Ver canales en directo"
Cabe la posiblidad de extraer la url de las televisiones en directo. Y posteriormente poder reproducir ese link en vlc por ejemplo?

[2013-02-20 18:09] aabilio commented on #11
Puede que introduzca alguna sección para obtener los enlaces de los directos. Tengo que disponer de un poco tiempo aun para ponerme a ello ;)

[2013-02-23 11:17] vitorfontam opened #12 "problemas reproducción videos tvg con verión web pydowntv"
He descargado varios vídeos, variados, de la Televisión de Galicia usando Pydowntv. No he tenido ningún problema, los descarga perfectamente. El problema viene a la hora de reproducirlos: cada 20-30 segundos la reprodución se interrumpe volviendo hacia atrás repitiendo los anteriores 5-10 segundos. Pasa con todos los vídeso que he descargado sin excepción y no encuentro la solución. Mi sestema ope

[2013-02-24 12:15] pakocg opened #13 "eitb.tv"
Llevo días usándo PyDownTV para descargar vídeos de eitb.tv, pero hoy da problemas:

rtmpdump --rtmp 'rtmp://cp101675.edgefcs.net/ondemand/&mp4:23/102076681001/201302/1405/102076681001_2160170703001_132574-20130212-174459-copy.mp4?**nn**=1545806548001&slist=23/102076681001/201302/109/;23/102076681001/201302/1405/;23/102076681001/201302/2533/&auth=daEdbaPbnbNb2cKbTbzaBcLc8aaaOcmdVb0-brkGda-bWG-zAyn

[2013-02-26 10:24] garaolaza commented on #13
Confirmo este bug. "No se reconoce el tipo de contenido"

[2013-02-26 12:39] aabilio commented on #12
El problema está a la hora de descargarlo.
Prueba a poner el rtmpdump en modo live añadiendo el flag "-v" al comando proporcionado por PyDownTV a ver qué pasa ;)

[2013-02-26 12:44] aabilio commented on #13
@pakocg para el vídeo que a tí te da error, a mí sí me lo deja descargar (empezar a descargar vamos, no lo he probado hasta el final)
![Captura de pantalla 2013-02-26 a la s 13 43 01](https://f.cloud.github.com/assets/664712/196256/2f7f7b46-8012-11e2-9d96-06addd76822b.png)
.. [imagen adjunta]

[2013-02-26 12:45] aabilio commented on #13
@garaolaza es error que te da a tí no es el mismo que a @pakocg, a tí ni siquiera te detecta el vídeo PyDownTV. Pásame el enlace que probaste cuando te salió ese error, o con otro que te pase lo mismo ;)

[2013-02-26 13:34] garaolaza commented on #13
Ok, aquí está el dump:

pydowntv.py http://www.eitb.tv/eu/bideoa/2168035591001
[INFO VERSIÓN] Comprobando si existen nuevas versiones de PyDownTV
[INFO VERSIÓN] Tu versión de PyDownTV es la más reciente

[ URL ] http://www.eitb.tv/eu/bideoa/2168035591001
[INFO] EITB
[!!!] No se reconoce el tipo de contenido

[2013-02-26 16:54] vitorfontam commented on #12
Funciona! No conocía ese truco, que me será de mucha ayuda.
Muchísimas gracias.

[2013-02-26 16:55] aabilio commented on #13
@garaolaza, ¿estás usando la versión de PyDownTV2 de aquí de GitHub o el antiguo de PyDownTV?
Si usas el antiguo, usa el nuevo. Si ya usabas el nuevo prueba a bajarte los últimos cambios ;)

[2013-02-26 17:06] aabilio commented on #12
Ya son algunas personas que me comentan que les va mejor con el "-v" así que lo pondré directamente en el comando que proporcione PyDownTV.
Cierro Issue.

[2013-02-26 17:06] #12 closed, assigned to aabilio

[2013-02-26 17:07] #9 closed, assigned to aabilio

[2013-02-26 17:24] garaolaza commented on #13
Pues lo siento,
- Lo he clonado del git
- sudo python setup.py install
- pydowntv.py http://www.eitb.tv/eu/bideoa/2168035591001
  [INFO VERSIÓN] Comprobando si existen nuevas versiones de PyDownTV
  [!!!] ERROR al comprobar la versión del cliente

[ URL ] http://www.eitb.tv/eu/bideoa/2168035591001
[INFO] Euskal Irrati Telebista
No se reconoce el tipo de contenido

Bueno, si no reproducís el proble

[2013-02-28 23:00] RULOGARRULO opened #14 "De buenas a primeras aparece un fallo recurrente que no me deja descargar"
Se ha detectado error:
ERROR al recuperar el vídeo: mitele.es: RTMP no soportado para el canal por ahora.

[2013-02-28 23:21] aabilio commented on #14
Te da el error en muchos vídeos de diferentes programas? Algunos vídeos ya sabía que no estaban soportados, pero no eran muchos. Con qué vídeos te está dando?

[2013-03-01 18:01] robmir opened #15 "Problems downloading a link"
http://desprogresiva.antena3.com/mp_seriesh4/RTMPE/2013/02/27/00003/002.mp4

No hay forma de guardar  la 2da parte de las seis que forman el capitulo 34,  al bajar este link da error

[2013-03-01 20:41] aabilio commented on #15
Con qué enlace tienes problemas (de antena3).
Los enlaces que devuelve PyDownTV son los que se obtienen de rastrear el vídeo. Si alguno de esos enlaces no está accesible es debido a algún problema en sus servidores.
Se ve la parte dos desde la web?

[2013-03-01 20:44] aabilio commented on #13
Iba a hacer pruebas con el enlaces que me dices desde una versión recién instalada de PyDownTV2, pero parece que ese enlace si alguna vez existió, ahora parece no estar accesible (no me carga desde el navegador).
Existe algún otro enlace todavía disponible que te de el mismo error para este canal?

[2013-03-01 21:38] robmir commented on #15
Si, la parte 2 si se ve desde la web

[2013-03-01 21:47] robmir commented on #15
He bajado mas de 33 capitulos para mi esposa de antena 3 y es primera vez que aparece este problema , intento guardar y un segundo despues termina, y en vez de decir pydowntv dice 0 bytes-anten3.com cuando cualquiera de los otros dicen 51.5 MB-pydowntv.com

[2013-03-01 22:05] aabilio commented on #15
Pon aquí el enlace de la web de donde está el vídeo que intentas descargar para echarle un ojo a ese estilo especificamente

[2013-03-01 23:23] aabilio commented on #13
@garaolaza parece que el error se encuentra en la versión de la web según el idioma. Mientras no arreglo este error, parece que se soluciona si eliges la versión en español de la página (al lado del logo del canal, arriba a la izquierda, seleccionar ES en vez e EU).
Espero corregirlo en los próximos días de todas maneras ;)

[2013-03-01 23:45] aabilio commented on #13
@garaolaza parece que ya está solucionado (http://web.pydowntv.com/?url=http%3A//www.eitb.tv/eu/%23/bideoa/2127283747001) en el script debería de funcionar correctamente también.
Saludos.

[2013-03-02 02:25] robmir commented on #15
http://desprogresiva.antena3.com/mp_seriesh4/RTMPE/2013/02/27/00003/002.mp4

[2013-03-02 02:26] aabilio commented on #15
No, me refería al enlace que le dices a PyDownTV ;)

[2013-03-02 12:56] robmir commented on #15
http://www.antena3.com/videos/amar/temporada-1/capitulo-34.html     es el enlace original y el segmento que no quiere bajar es el
http://desprogresiva.antena3.com/mp_seriesh4/RTMPE/2013/02/27/00003/002.mp4

[2013-03-04 14:17] Ritxard opened #16 "Problemas con los programas 60 minutos de Eitb"
Buenas

No consigo hacer descargar los programas "60 minutos" de EITB, como este:

rtmpdump --rtmp 'rtmp://cp150446.edgefcs.net/ondemand/&mp4:102076681001/102076681001_2101582342001_128771-20130117-225931.mp4?**nn**=1497926354001&slist=102076681001/&auth=daEdQd7cDdqa6axcvdaaKbecobFadcZbban-brnkJG-bWG-moGCAsxw_yDzn_ACBz_FqC&aifp=bcosuds' --app='ondemand?**nn**=1497926354001&slist=102076681001/&auth

[2013-03-04 14:45] aabilio commented on #16
Cuál es el problema exactamente?

[2013-03-04 16:46] Ritxard commented on #16
Buenas tardes
Es posible que no esté llevando a cabo todos los pasos correctamente, pero cuando intento descargar, me da error. Me puedes indicar los pasos correctos? Muchas gracias.
 Date: Mon, 4 Mar 2013 06:45:26 -0800
From: notifications@github.com
To: PyDownTV2@noreply.github.com
CC: ricardovalls45@hotmail.com
Subject: Re: [PyDownTV2] Problemas con los programas 60 minutos de Eitb (#16)

Cuál

[2013-03-04 17:28] aabilio commented on #16
Pero estás utilizando rtmpdump?
Para descargas vídeo de EITB se necesita rtmpdump, echa un vistazo a esta ayuda para comprender cómo: http://web.pydowntv.com/ayuda#DescargarRtmp

[2013-03-04 18:05] aabilio commented on #15
Parece que ya está solucionado: http://web.pydowntv.com/?url=http://www.antena3.com/videos/amar/temporada-1/capitulo-34.html

Si puedes hacer pruebas con algún que otro vídeo más y confirmar sería bienvenido.

Gracias por reportar. Saludos.

[2013-03-04 18:30] Ritxard commented on #16
Si claro, pero me da
un error. Algun paso debo estar haciendo mal.
Voy a ver el tutorial y mañana lo aplico,
y si me da error te envio una captura de pantalla.
Muchas gracias.

El 04/03/2013, a las 18:28, "Abilio Almeida" notifications@github.com escribió:

[2013-03-04 18:51] aabilio commented on #16
Aquí hay algún reporte sobre EITB anteriores por si le quieres echar un vistazo también: https://github.com/aabilio/PyDownTV2/issues/search?q=eitb

[2013-03-04 19:24] pakocg commented on #13
@aabilio: Estoy probando con otro video de eitb.com y ahora si descargar correctamente. Gracias.

[2013-03-04 19:26] #13 closed, assigned to aabilio

[2013-03-04 20:09] agus20 commented on #10
Hola.

Yo introduzco:
C:\Videos>rtmpdump --rtmp "rtmp://cp101675.edgefcs.net/ondemand/&mp4:23/10207668
1001/201302/2901/102076681001_2191259861001_135699-20130226-192714.mp4?**nn**=15
45806548001&slist=23/102076681001/201302/1083/;23/102076681001/201302/2741/;23/1
02076681001/201302/2901/&auth=daEbHb8dgaHb.aXbfdEasdSdjdkcrbdbodt-brno8W-bWG-BBx
p_EAn_ALwD_DmJ&aifp=rtmpeuds17" --app="ondemand?**nn**

[2013-03-04 20:20] aabilio commented on #10
@agus20 la respuesta está justo antes de tu pregunta ;)
A ver si lo arreglo para que directamente salgan las comillas simples en estos casos.
Saludos.

[2013-03-05 07:28] Ritxard commented on #16
Buenos días En este tutorial me basé para seguir los pasos Voy a hacer nuevamente la prueba, y en función de los resultados te comento. Muchas gracias.
 Date: Mon, 4 Mar 2013 09:28:34 -0800
From: notifications@github.com
To: PyDownTV2@noreply.github.com
CC: ricardovalls45@hotmail.com
Subject: Re: [PyDownTV2] Problemas con los programas 60 minutos de Eitb (#16)

Pero estás utilizando rtmpdump?

Par

[2013-03-05 07:38] Ritxard commented on #16
Según el tutorial de mas abajo, voy a ir haciendo los pasos y te los voy comentando:  1.- Descargo la versión de rtmpdump para Windows. 2.- Ejecuto rtmpdump en Windows. Es decir, copio rtmpdump.exe y pego en system32. Posteriormente le doy a inicio-buscar y escribo "cmd" y me sale la consola (captura de pantalla 1).
3.- Copio el siguiente video  http://www.eitb.tv/es/#/video/2101343573001 en PyDow

[2013-03-05 08:25] agus20 commented on #10
Hola.
Pydown da el resultado con ' yo lo cambio a " pero me da los errores que
puse.
El 04/03/2013 21:20, "Abilio Almeida" notifications@github.com escribió:

[2013-03-05 12:47] robmir commented on #15
Pues parece que antena 3 resolvio el problema por que hoy probe y ya se pudo guardar perfectamente, gracias por estar pendiente.

[2013-03-05 13:25] aabilio commented on #15
@robmir es que he estado haciendo cambios en PyDownTV para que te funcionara bien ;) El problema es que ahora el funciona mal a otros. Tengo que encontrar un punto medio ;)

[2013-03-05 13:43] aabilio commented on #16
No veo las capturas de pantalla.. :S por lo tanto no puedo ver el error que te sale, pero en principio lo estás haciendo bien ;)

Prueba con este comando:
rtmpdump --rtmp 'rtmp://cp150446.edgefcs.net/ondemand/&mp4:102076681001/102076681001_2101582342001_128771-20130117-225931.mp4?**nn**=1497926354001&slist=102076681001/&auth=daEdWcWb.drbQcbc8d4dAbTc1dvbOaBcPcl-brnEXq-bWG-snFBtsyx_ABzm_GFBz_FpE&aif

[2013-03-05 13:45] aabilio commented on #10
A mí en Mac me descarga con las dos formas, y en Windows a veces me falla con las comillas simples, pero si las paso a comillas dobles siempre me funciona. No sé qué puede estar pasando entonces..

[2013-03-05 21:29] robmir commented on #15
ooops, lo curioso es que siemprre funciono bien hasta este segmento en particular !!!!!!

[2013-03-05 21:32] robmir commented on #15
por lo pronto he podido bajar el 35, el 36 y el 37 perfectamente.

[2013-03-07 16:51] mardojin opened #17 "Que occurre con ciertos videos que nunca se descargan"
Hay ciertos programas que no puedo descargar y no comprendo por que, cuando descargo perfectamente muchos otros. Por ejemplo:

Comando Actualidad El precio de alquilar, de RTVE a la carta. Este es el enlace que me da pydowntv:
Comando Actualidad El precio de alquilar, Comando Actualidad A la Carta
Cuando intento descargarlo me sale esto:

Forbidden
You don't have permission to access /auth-content

[2013-03-11 15:36] satelite opened #18 "ERROR al recuperar el vídeo: mitele.es: RTMP no soportado para el canal por ahora."
Hola!!

Al intentar descargar el archivo via web ... http://www.mitele.es/series-online/llama-a-la-comadrona/temporada-1/capitulo-1/ me sale el error mencionado arriba. Otros archivos de mitele van bien, asi que si estoy haciendo algo mal no se que puede ser.

Gracias.

[2013-03-12 21:37] rlcortes opened #19 "No encuentro el video descargado"
Tras seguir el paso a paso que indicas en la web de PyDown para obtener el siguiente video http://www.crtvg.es/informativos/un-grupo-de-cientificos-galegos-avanza-na-investigacion-da-metastase-544274 veo que rtmdump.exe finaliza la descarga indicando el la ventana de cmd "Download complete".

En teoría el video debería estar en la carpeta raíz C, en la práctica... no lo veo por ninguna parte, debe

[2013-03-12 21:43] aabilio commented on #19
Si te fijas, en la consola, antes de pegar el comando aparece una ruta de archivos. Es en esa ruta donde se debería haber descargado el vídeo. Ejemplo: C:\rlcortes>

[2013-03-12 21:50] rlcortes commented on #19
Cierto! Muchas gracias, ya imaginé que sería una tontería.

Ahora que lo tengo localizado, veo que está en un formato que uso comunmente, .mp4, para reproducir videos, sin embargo, cuando lo intento abrir se me indica que:

"El Reproductor de Windows Media no puede reproducir el archivo. Es posible que el Reproductor no admita el tipo de archivo o el códec usado para comprimir el archivo."

Compro

[2013-03-12 22:01] rlcortes commented on #19
Datos adicionales:

En propiedades del video, el apartado Duración, Frame width, Frame height, Data rate, Total bitrate y Frame rate están completamente vacíos, a diferencia de cualquier otro vídeo.

¿Sugieres descargar de nuevo el vídeo modificando algún parámetro?

[2013-03-13 17:18] aabilio commented on #19
Lo de que el vídeo sea más grande de lo que tendría que ser es normal. Normalmente CRTVG pone pedazos de vídeos más grandes incrustados en los reproductores online, sin embargo, para descargarlos, es necesario hacerlo en su totalidad. Lo que es raro es que el vídeo no se reproduzca, ¿has probado con VLC (http://www.videolan.org/)? puede ser algún problema de codecs ;)

[2013-03-13 17:21] aabilio commented on #17
Me puedes poner el enlace de RTVE a ese vídeo en concreto para echarle un vistazo?

[2013-03-13 17:22] #15 closed, assigned to aabilio

[2013-03-13 17:22] #3 closed, assigned to aabilio

[2013-03-13 22:22] mardojin commented on #17
Hola y gracias por tu ayuda.  Este es el primer enlace, de uno de los programas que antes podia descargar sin ningun problema y de repente no me deja:

http://www.rtve.es/alacarta/videos/la-noche-tematica/noche-tematica-reza-para-diablo-regrese-infierno/1714100/

Este es el otro:

http://www.rtve.es/alacarta/videos/grandes-documentales/grandes-documentales-gigantes-del-mar-voces-del-mar/1719147/

[2013-03-14 01:04] aabilio commented on #17
¿Te encuentras fuera de España? Puede ser por que estén Geolocalizados. Si es así, en estos casos, puedes probar a editar a mano la URL que te proporciona PyDownTV para descargar estos vídeos.
En este supuesto, puedes probar lo siguiente y si te funciona nos lo comentas ;)

En las URL que te proporciona PyDownTV se suele encontrar una parte de la siguiente forma: /TE_XXXXX/ prueba a cambiar esta p

[2013-03-14 01:12] mardojin commented on #17
Si, estoy en Canada.  Voy a probar lo que me dices y si me resulta te lo dire.

Muchas gracias.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Wednesday, March 13, 2013 9:04:11 PM
Subject: Re: [PyDownTV2] Que occurre con ciertos videos que nunca se descargan (#17)

¿Te encuentras fuera de España?

[2013-03-14 11:39] aabilio commented on #18
Los vídeos que MiTele proporciona a través del protocolo RTMP aun no están soportados por PyDownTV. Sorry.

[2013-03-14 11:40] #14 closed, assigned to aabilio

[2013-03-14 19:29] mardojin commented on #17
Hola de
nuevo.  Te escribo para darte las gracias
por tu ayuda. Hice como me dijiste y puse ngva.
¡Ha funcionado
perfectamente!
 
Muchas gracias.
 

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Wednesday, March 13, 2013 9:04:11 PM
Subject: Re: [PyDownTV2] Que occurre con ciertos videos que nunca

[2013-03-14 22:20] satelite commented on #18
Gracias por la respuesta. Y muchisimas gracias por el curro desinteresado que tiene todo esto.

[2013-03-15 12:27] aabilio commented on #17
He añadido un poco de código a la aplicación para que si detecta que se está fuera de España y PyDownTV devuelva una URL con TE_GLESP lo cambie automáticamente por TE_NGVA. Espero que funciones bien.
Solo disponible con el modo de descarga normal (Ni con "A Granel", ni en la API). Cierro Issue.
Saludos.

[2013-03-15 12:27] #17 closed, assigned to aabilio

[2013-03-15 12:30] aabilio commented on #10
Como a mí en MacOS y en GNU/Linux siempre me va bien con las comillas simples, y se han reportado  que en Windows a veces falla (y yo lo he comprobado un par de veces con Windows 7) ahora PyDownTV si detecta que te conectas a través de Windows proporcionará el comando directamente utilizando comillas dobles. A ver cómo se pegan en la consola de Windows (ya que sé de casos de que cuando se utilizab

[2013-03-15 14:28] mardojin commented on #17
De nuevo, muchisimas gracias!
From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Friday, March 15, 2013 8:27:54 AM
Subject: Re: [PyDownTV2] Que occurre con ciertos videos que nunca se descargan (#17)

He añadido un poco de código a la aplicación para que si detecta que se está fuera de España y PyDownTV devu

[2013-03-19 17:34] benick opened #20 "Enlace que no se puede bajar desde la wed de PyDownTV"
Hola. He intentado bajar un enlace de la web MITELE.es y no se puede. El enlace es correcto. Este es el enlace:

http://www.mitele.es/series-online/la-que-se-avecina/#TemporadaBrowser_51489c80a2821373057560

Espero que lo puedan arreglar.

Saludos.

[2013-03-19 19:27] aabilio commented on #20
El enlace que me pasas es el de la vista de temporada, creo que el vídeo que quieres descargar es este: http://www.mitele.es/series-online/la-que-se-avecina/temporada-6/especial-monografico-6/ ¿no?
Si es ese: http://web.pydowntv.com/?url=http%3A//www.mitele.es/series-online/la-que-se-avecina/temporada-6/especial-monografico-6/

[2013-03-19 19:39] mardojin opened #21 "De repente problemas con mitele de Telecinco."
Han vuelto a cambiar algo en Telecinco mitele?  De repente no puedo descargar nada. Me pide contraseña y dice que no tengo autorización.

Gracias.

[2013-03-19 20:06] aabilio commented on #21
Parece que sí, esta noche tengo un hueco, a ver si lo puedo solucionar ;)

[2013-03-19 20:17] mardojin commented on #21
Siempre estan haciendo igual!

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Tuesday, March 19, 2013 4:06:26 PM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)

Parece que sí, esta noche tengo un hueco, a ver si lo puedo solucionar ;)
—
Reply to this email directly o

[2013-03-19 23:56] Atsmcc opened #22 "No descarga vídeos de Cuarto Milenio"
Buenas tardes:
Había estado descargando los vídeos de Cuarto Milenio Temporada 2. El último que descargué ayer lunes 18 fue el Capítulo 76, pero hoy que intento descargar el Capítulo 77, el enlace no aparece como archivo mp4, sino como página HTML. Intenté con el Capítulo 78, pero el resultado fue el mismo. ¿A qué se debe esto? Ayuda por favor, ya que son muy interesantes los temas. Por su atenció

[2013-03-20 01:34] aabilio commented on #22
Sí, estoy al corriente de este fallo (falla todo MiTele), es más, estoy haciendo cambios para que funcione todo y ahora mismo no está ni disponible la web a través de http://web.pydowntv.com
Si entras a través de http://www.pydowntv.com/ todo debería de funcionar correctamente ;)

[2013-03-20 01:35] aabilio commented on #21
Si entras a través de http://www.pydowntv.com/ se deberían solucionar temporalmente los errores..

[2013-03-20 15:58] mardojin commented on #21
Hola de nuevo. Pues no todavia no por que lo acabo de intentar y sigue ocurriendo lo mismo.

Gracias.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Tuesday, March 19, 2013 9:35:14 PM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)

Si entras a través de http://www.p

[2013-03-20 15:59] aabilio commented on #21
Lo solucioné por la noche y esta mañana ha vuelto a fallar. Estoy trabajando ahora en ello ;)

[2013-03-21 05:20] aabilio commented on #21
Ahora está solucionando, a ver cuánto dura..

[2013-03-21 15:21] dporto opened #23 "No descarga videos de mitele bug"
Buenas tardes, estoy intentando descargar videos de MHYV alojados en mitele.es y lo que ocurre es que detecta el enlace pero a la hora de guardar enlace como... no reacciona, utilizo chrome.

Gracias

[2013-03-21 15:38] mardojin commented on #21
Siento molestarte
de nuevo pero no me funciona. Parece que no les da la gana de que nadie descargue
nada. 

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Thursday, March 21, 2013 1:20:50 AM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)

Ahora está solucionando, a v

[2013-03-21 15:39] mardojin commented on #21
Muchísimas gracias. Eso digo
yo también. A ver cuánto tardan en fastidiarnos otra vez.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Thursday, March 21, 2013 1:20:50 AM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)

Ahora está solucionando, a ver cuánto dura..
—
R

[2013-03-21 16:46] aabilio commented on #21
Nos han vuelto a bloquear

[2013-03-21 16:47] aabilio commented on #23
Sí, nos tienen bloqueados, estamos trabajando para solucionarlo

[2013-03-21 16:54] mardojin commented on #21
Son idiotas.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Thursday, March 21, 2013 12:46:31 PM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)

Nos han vuelto a bloquear
—
Reply to this email directly or view it on GitHub.

[2013-03-22 00:04] Atsmcc commented on #22
Muy buenas tardes:
Quiero agradecer infinitamente el haber corregido los problemas en la página de Mitele. Ayer todavía no funcionaba, pero hoy que lo intenté nuevamente y pude seguir descargando los capítulos de Cuarto Milenio.
Un cordial y afectuoso saludo.

 Antes solía ser indeciso, ahora... no estoy tan seguro

Anthony McCartney

Atsmcc

Date: Tue, 19 Mar 2013 18:34:34 -0700
From: notificatio

[2013-03-22 02:02] #22 closed, assigned to aabilio

[2013-03-22 04:12] #20 closed, assigned to aabilio

[2013-03-22 04:12] aabilio commented on #23
Duplicada --> https://github.com/aabilio/PyDownTV2/issues/21

[2013-03-22 04:12] #23 closed, assigned to aabilio

[2013-03-22 04:13] aabilio commented on #21
Los problemas deberían de estar solucionados ya

[2013-03-22 19:26] mardojin commented on #21
No....sigue igual. Parece que esta vez lo han puesto dificil. 

Gracias por intentarlo.

---

 From: Abilio Almeida notifications@gitilb.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Friday, March 22, 2013 12:13:08 AM
Subject: Re: [PyDownTV2]  De repente problemas con mitele de Telecinco.  (#21)—
Reply to this email directly or view it on GitHu

[2013-03-24 01:12] aabilio commented on #21
Pues no he cambiado nada y yo sí puedo descargar. Me puedes poner un enlace con el que te falle?

[2013-03-27 08:06] carabo69 opened #24 "versión web de PyDownTV añadir a la pagina conversores de video"
les sugiero esto puesto que antena 3 tv ahora esta empezando a trabajar con archivos con extensión f4v ,por ejemplo en la serie la biblia y mucha gente no les puede reproducir en sus pcs
esta opcion ya la incluye la pagina http://www.filsh.net/ y creo que seria una muy buena opcion para mejorar y hacer crecer nuetra PyDownTV web.

¡¡ un saludo!!

[2013-04-22 00:20] xuxiao0427 commented on #21
Saludos,
Ahora tampoco puedo descargar los vídeos de telecinco, por ejemplo los últimos capítulos de La Noche de José Mota. Se puede detectar el enlace, pero tampoco reacciona al dar ¨guardar como...¨. Y si doy con el enlace, primero aparece una página de Google de redirección, después una de ¨401 Authorization Required¨. No sé qué ha pasado, nos bloquean otra vez?

[2013-04-22 00:42] aabilio commented on #21
Eso parece

[2013-04-22 00:53] aabilio commented on #21
Aunque acabo de probar y a mi si me va con esos vídeos..

[2013-04-22 01:06] xuxiao0427 commented on #21
ah... no sé si es por razón de países, pues los estoy descargando desde China...
Pero hace unas semanas podía descargar los vídeos perfectamente.

[2013-04-22 01:32] aabilio commented on #21
ah pues sí puede ser :S puede que para esos capítulos hayan incluído geo bloqueo.. sorry

[2013-04-22 02:09] xuxiao0427 commented on #21
No pasa nada. ¡Muchísimas gracias por su trabajo!

[2013-04-25 14:33] MagoSolar opened #26 "Petición de nuevo canal: videos de ABC.es"
El link del canal ABC.es:
http://www.abc.es/multimedia/index.asp

Agradezco.

[2013-04-25 17:16] aabilio commented on #26
He añadido soporte para algunos vídeos, no sé en realidad cuántos están soportados (solo los que utilizan brightcove como cdn para los vídeos). Ejemplo: http://www.pydowntv.com/url/http://www.abc.es/videos-internacional/20130424/crimen-pasional-illinois-2324889522001.html (Lo malo es que son a través de rtmp:// :S)

[2013-04-25 22:50] MagoSolar commented on #26
Intenté este link:
http://www.pydowntv.com/url/http://www.abc.es/videos-sociedad/20130402/metodos-escandinavo-waldorf-otra-2271253467001.html

y la respuesta fue:

C:\rtmpdump>rtmpdump -r 'rtmp://cp151415.edgefcs.net/ondemand/mp4/videos/5581426
0001/55814260001_2271873102001_M-todo-Escandinavo-y-Waldorf-la-otra-educacion-co
mpleto.mp4' -o 'VideoABC.mp4'
RTMPDump v2.1d
(c) 2010 Andrej Stepanchuk, H

[2013-04-25 23:00] MagoSolar commented on #26
Con otra versión del RTMPDump:

C:>rtmpdump -r 'rtmp://cp151415.edgefcs.net/ondemand/mp4/videos/55814260001/558
14260001_2271873102001_M-todo-Escandinavo-y-Waldorf-la-otra-educacion-completo.m
p4' -o 'VideoABC.mp4'
RTMPDump 2.4 git-b627335 2011-7-23
(c) 2010 Andrej Stepanchuk, Howard Chu, The Flvstreamer Team; license: GPL
WARNING: Unknown protocol!

Connecting ...
INFO: Connected...
ERROR: Closin

[2013-04-25 23:07] aabilio commented on #26
En un rato pruebo yo ese comando con mi versión a ver si me va

[2013-04-25 23:53] aabilio commented on #26
Pues a mí los comandos que pegas me van con RTMPDUMP:
RTMPDump 2.4
(c) 2010 Andrej Stepanchuk, Howard Chu, The Flvstreamer Team; license: GPL

Para Mac OS X..

[2013-04-26 04:37] MagoSolar commented on #26
Curioso, ayer mismo usé el rtmpdump y funcionaba bien... no sé lo que va mal.

[2013-04-28 12:09] quarter2013 opened #27 "La Sexta Noche si, El Gran Debate de Tele5 no"
Hola zagales.

Como todos los domingos, me descargo con esta nuestra maravillosa web ambos programas que emitieron esta pasada madrugada para vermelos en la tele del dormitorio tranquilamente hasta que cierro los ojos y me echo la sagrada siesta usando el disco multimedia APPROX al que cargo su correspodiente memoria USB.

El tema es que los ficheros obtenidos .mp4 de la Sexta los reproduce perfec

[2013-04-28 20:49] aabilio commented on #27
No sé a qué puede ser debido ese comportamiento. Desgraciadamente desde PyDownTV no podemos hacer nada, ya que solo buscamos y mostramos el enlace final del vídeo, no podemos alojarlo ni tratarlo de ninguna manera ya que de esta manera estaríamos nosotros distribuyendo esos vídeos directamente...

Si encuentras alguna manera de solucionar este error que comentas sería interesante que expusieras aq

[2013-05-01 20:44] mardojin opened #29 "Problema con un programa en mitele.es"
Hola. Tengo problemas con el programa " Que hago yo aqui" de mitele en telecinco.
Cuando intento descargarlo me dice que no tengo autorizacion.

http://www.mitele.es/programas-tv/que-hago-yo-aqui/temporada-1/programa-1/

Gracias.

[2013-05-02 01:32] aabilio commented on #29
Estás fuera de España? Yo es que lo puedo descargar perfectamente.

[2013-05-02 01:40] aabilio commented on #24
Es que esto es imposible para el servidor en el que estamos trabajando ahora. A parte, que trabajando en uno en el que nos lo pudiéramos permitir, esto causaría mucho consumo de recursos en el servidor, con lo que tendríamos que financiarnos de alguna manera para poder contratar planes más caros. Y cobrar por el servicio va contra las políticas de PyDownTV (http://www.pydowntv.com/legal).
Es cuest

[2013-05-02 01:40] #24 closed, assigned to aabilio

[2013-05-02 01:40] #21 closed, assigned to aabilio

[2013-05-02 13:23] mardojin commented on #29
Si. estoy fuera. Algunas veces tengo problemas por eso. Si no se puede pues nada tampoco es una emergencia. Simplemente queria preguntar.

Gracias.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Wednesday, May 1, 2013 9:32:11 PM
Subject: Re: [PyDownTV2] Problema con un programa en mitele.es (#29)

[2013-05-03 02:05] aabilio commented on #29
Si quires acceder a esos vídeos bloqueados tendrás que utilizar alguna herramienta extra (proxy, VPN, ...). Te dejo un enlace: http://blog.tvalacarta.info/2013/05/01/evitando-el-geobloqueo-los-metodos-mas-populares/

Saludos.

[2013-05-03 16:38] mardojin commented on #29
Gracias. Lo intentare.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Thursday, May 2, 2013 10:05:23 PM
Subject: Re: [PyDownTV2] Problema con un programa en mitele.es (#29)

Si quires acceder a esos vídeos bloqueados tendrás que utilizar alguna herramienta extra (proxy, VPN, ...). Te dejo un enlac

[2013-05-08 02:11] ghost opened #30 "Ya no se puede Descargar de EITB"
Han cambiado algo en la web de http://www.eitb.tv/es/ y ahora es imposible descargar los videos de alacarta. ¿Alguna sugerencia?

[2013-05-08 13:59] aabilio commented on #30
Tengo que echarle un ojo a ver qué está pasando..

[2013-05-10 13:27] aitorarber opened #31 "No se puede descargar de Eitb.tv"
Da enlace no válido.

[2013-05-10 13:28] aitorarber commented on #30
De todas formas, eres un crack. :)
Dale a ver si investigas porque necesito unos cuántos videos de EITB para mis clases...

[2013-05-10 14:08] aabilio commented on #30
Si el problema es que no tengo tiempo, pero espero poder este fin de semana ;)

[2013-05-10 14:09] aabilio commented on #31
Duplicate: #30

[2013-05-10 14:09] #31 closed, assigned to aabilio

[2013-05-13 08:17] Suppaman opened #32 "Pedir soporte para nuevo canal: 8TV"
Actualmente los videos del canal 8TV (http://www.8tv.cat/) los sirve Brightcove. Se pueden descargar (en baja calidad) desactivando Flash y cambiando el User Agent de Chrome a "Chrome - Android Tablet".

Ejemplo de enlace:
http://www.8tv.cat/8aldia/videos/xavier-sala-i-martin-aquesta-tarda-a-8-al-dia/

[2013-05-13 08:54] aabilio commented on #32
En cuanto tenga un poco de tiempo lo miro ;)

[2013-05-13 08:55] #27 closed, assigned to aabilio

[2013-05-13 08:55] #7 closed, assigned to aabilio

[2013-05-13 08:55] #19 closed, assigned to aabilio

[2013-05-13 15:32] mardojin commented on #29
De nuevo me prohiben descargar de mitele. Lo he estado haciendo sujetando "ALT" y el enlace al mismo tiempo. Eso me permitia descargarlo. Ahora nada. Me pone que no tengo autorizacion. Han vuelto a cambiar algo? 

Este es el video y me imagino que pasara igual con todo lo de mitele.

http://www.mitele.es/programas-tv/el-gran-debate/temporada-2013/programa-70/

Hay algo que pueda hacer. De aqui des

[2013-05-13 15:41] aabilio commented on #29
A mí solo me da problemas con ese vídeo, bien es cierto que he probado solo cinco o seis más. Es cuestión de ver qué está pasando cuando tenga un poco de tiempo. Saludos.

[2013-05-13 15:43] mardojin commented on #29
Parece que han prohibido el gran debate. He probado algunos proxys pero no valen para nada.

---

 From: Abilio Almeida notifications@github.com
To: aabilio/PyDownTV2 PyDownTV2@noreply.github.com
Cc: mardojin doloresjimenez@rogers.com
Sent: Monday, May 13, 2013 11:41:23 AM
Subject: Re: [PyDownTV2] Problema con un programa en mitele.es (#29)

A mí solo me da problemas con ese vídeo, bien es cierto

[2013-05-13 17:09] Edu1980 commented on #3
Buenas, pues a mi también me daba el  "Error: Closing connection: netstream.play.streamnotfound", pero encontré como solucionarlo.

Versión rtmpdump: 2.4 git-b627335
Sistema operativo: Windows 7 x64

El script web me tira este enlace:

rtmpdump -r 'rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/catfish/catfish-101_768x432_1700_m30.mp4' -o 'Catfish_Ep.101_Parte_1_de_4.mp4'

Como se

[2013-05-13 17:11] aabilio commented on #3
@Edu1980 gracias ;)

[2013-05-14 01:32] aitorarber opened #33 "Videos de EITB.TV"
Estuve tratando de ver en el código html que tienen las páginas de los videos, pero nada. Al pegar la dirección en "introduce la url del video a descargar" sale otra página de error, diciendo que la url no existe o no está disponible.

[2013-05-15 13:04] simonbcn commented on #32
+1

[2013-05-15 13:10] simonbcn opened #34 "mitele.es ha dejado de funcionar"
Lo que intento bajar es el vídeo del debate de GH: http://www.mitele.es/programas-tv/gran-hermano/gh-14/el-debate-13/
Lo he intentado con Google Chrome v26.0.1410.63 y Firefox 21 y en los dos falla.

En el caso de Google Chrome cuando selecciono "Guardar enlace como..." no hace nada.
En el caso de Firefox me baja un HTML en lugar del vídeo y el contenido del HTML es:

[code]

[2013-05-15 13:34] aabilio commented on #34
Parece que algunos vídeos de mitele están empezando a dar problemas. Le echaré un vistazo en cuanto tenga tiempo..

[2013-05-18 08:58] simonbcn commented on #34
Estoy bajando el programa de GH de este jueves y aunque la descarga comienza bien se corta a los pocos minutos de empezar.

[2013-05-18 10:32] ghost commented on #33
Si dispones de windows puedes usar el programa este para mirar su código. http://www.streamtransport.com/

[2013-05-18 18:46] aabilio commented on #34
¿Con el script o a través de la web? ¿Utilizas algún gestor de descargas o simplemente a través del propio navegador? ¿Te ha pasado algo similar con algún otro vídeo o es un caso aislado?
¿Me puedes pasar el enlace exacto del problema?

[2013-05-18 19:42] simonbcn commented on #34
Por fin, a la tercera va la vencida y ya ha bajado.
Uso la extensión de Chrome.

[2013-05-18 20:33] aabilio commented on #33
#30

[2013-05-18 20:33] #33 closed, assigned to aabilio

[2013-05-18 20:34] #29 closed, assigned to aabilio

[2013-05-19 22:58] aabilio commented on #32
He estado viendo un poquito este fin de semana y tengo los streams rtmp. Ahora solo tengo que buscar un comando que funcione..

[2013-05-19 22:59] aabilio commented on #30
Ya tengo la solución. A ver di me a tiempo a subirla mañana. Saludos.

[2013-05-20 21:00] ghost commented on #30
A quien les estas diciendo eso?. Como yo abrí este hilo igual es a mi. Saludos.

[2013-05-23 10:31] melguel opened #35 "No deja descargar desde mtv.es"
Intentando descargar el episodio de Alaska y Mario 3x01, la consola del sistema da el error NetStream.Play.SreamNot Found, no se si es porque hago algo mal o es mtv que no lo bloquea, muchas gracias.
![captura](https://f.cloud.github.com/assets/4508409/553846/9035447e-c393-11e2-9a22-12ebd51526f6.jpg)

[2013-05-23 10:37] aabilio commented on #35
Me puedes pegar aquí el enlace de MTV para cuando pueda hacer pruebas, por favor?

[2013-05-23 10:48] melguel commented on #35
¡qué veloz! mira el enlace de mtv es este
http://www.mtv.es/programas/destacados/alaska-mario-tercera-temporada/videos/alaska-y-mario-ep-301-parte-1-de-2-909342/
y el que te proporciona es este
rtmpdump -r 'rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/ALASKA_Y_MARIO_3TEMP/aym-301_768x432_1700_m30.mp4' -o 'Alaska_y_Mario_Ep.301_Parte_1_de_2.mp4'
muchas gracias!

[2013-05-23 10:58] aabilio commented on #35
No lo he dejado descargar hasta el final, estoy trabajando y no le puedo prestar mucha atención ahora.. pero sí me ha empezado a descargar con el comando de rtmpdump que me proporcionas.
Puede que sea problemas con las comillas, prueba a editar el comando una vez pegado y donde aparecen esas pseudo comillas cambiarlas por unas comillas simples (las de la misma tecla que el cierre de interrogación)

[2013-05-23 19:56] nonamenoway opened #36 "RTVE links failing"
May, 23. RTVE changed links algorithm. Not working

[2013-05-23 20:01] aabilio commented on #36
I'm aware and I'll try to fix as soon as possible. Thanks for reporting.

[2013-05-24 01:17] aabilio commented on #36
Should be fixed right now.
Ex: http://www.pydowntv.com/?url=http%3A//www.rtve.es/noticias/20130523/autoridades-identifican-uno-atacantes-londres-como-britanico-origen-nigeriano/670020.shtml

[2013-05-24 01:17] #36 closed, assigned to aabilio

[2013-05-24 01:26] aabilio commented on #30
EITB a la carta debería de funcionar bien ya otra vez. (http://www.pydowntv.com/url/http://www.eitb.tv/es/video/de-boca-en-boca-lo-+-visto/594281726001/2379140153001/de-boca-en-boca-el-gran-crack-espanol-/)

[2013-05-24 01:26] #30 closed, assigned to aabilio

[2013-05-24 01:27] #34 closed, assigned to aabilio

[2013-05-24 01:27] #18 closed, assigned to aabilio

[2013-05-24 01:28] #16 closed, assigned to aabilio

[2013-05-24 01:29] #10 closed, assigned to aabilio

[2013-05-24 01:29] #6 closed, assigned to aabilio

[2013-05-24 01:37] aabilio opened #37 "disney channel replay"
Alguien pidió por Facebook soporte para disney channel replay. Lo dejo aquí para el futuro...

[2013-05-24 13:04] melguel commented on #35
He intentado hacerlo en otro ordenador (ambos con Windows 7) con la version de RTMPDUMP 2.4, que creo que es la ultima, y nada... Cambiando las comillas me sale otro mensaje
![sin ttulo](https://f.cloud.github.com/assets/4508409/560337/273c55ae-c472-11e2-8158-1af916697d6a.png)
No se me ocurre que haré, voy a ver si con otra versión anterior quizá, ¡gracias!

[2013-05-25 16:02] iptvwebtv opened #38 "Enlaces de ClanTV no funcionan en peticiones a la API"
Hola,

cuando hago una petición de un video de Clan a la API, por ejemplo, http://pydowntv2.appspot.com/api/http://www.rtve.es/infantil/videos-juegos/#/videos/peppa-pig/todos/clase-gimnasia/1548877/

me devuelve {"exito": false, "mensaje": "No se encuentra el ID del v\u00eddeo"}

Sin embargo a través de vuestro web si que funcionan.

Muchas gracias por tu atención y trabajo

Saludos

[2013-05-25 16:22] aabilio commented on #38
Tengo que echarle un ojo. En cuanto tenga un rato ;-)
Graciñas por reportar. Saludos.

[2013-05-26 12:58] melguel commented on #35
Solucionado! He instalado otra vez, y eso sí cambiando a comillas normales, y escribiendo a mano rmtpdump.exe, esta vez sí me permitió descargar, ¡muchas gracias!

[2013-05-26 13:21] aabilio commented on #35
Puedes dejar escrito qué versión utilizaste, dónde la descargaste y qué tipo de comillas utilizaste? Por favor.

Saludos y gracias.

[2013-05-27 15:29] melguel commented on #35
Sí claro, la versión que aparece es RTMDump 2.4 git-b627335 2011-7-23, y las comillas que puse son las de la tecla del numero 2, es decir " ", recordar que en sistema operativo windows, respecto a la descarga no conservo el historial lo siento, y muchas gracias!

[2013-05-27 15:45] aabilio commented on #35
Gracias ;)

[2013-05-29 16:16] rkmax opened #39 "Continuar descarga"
Es posible continuar una descarga.

He construido un pequeño script con python que hace uso de APi de PyDownTV funciona de maravilla con mitele.es pero me gustaria implementar que las descargas se puedan reanudar.

pienso que esto es posible de implementar ya que el reproductor de mitele.es permite adelantar el progreso del capitulo

analizando la URL que devuelve para descargar el archivo, Ej,

[

[2013-05-29 18:04] aabilio opened #40 "MTV error en descarga de partes"
Reportado por @soysalva en Twitter:

Salva (@soysalva) twitteó a las 10:38 AM on mié, may 29, 2013:
@pydowntv MTV, Alaska y Mario 3x01 y 3x02. Cuando te descargas la segunda parte en realidad te descarga la primera. Con la 1a si funciona
(https://twitter.com/soysalva/status/339662033282801664)

[2013-05-31 16:20] solemelen opened #41 "porblemas con mi tele capitulos de anatomia de grey"
y esto es lo que me pone ---> : ERROR al recuperar el vídeo: mitele.es: RTMP no soportado para el canal por ahora.

[2013-06-04 14:00] aabilio commented on #41
Los vídeos que mitele dispone a través del protocolo RTMP no están soportados por Pydowntv. Puede que en algún momento lo estén, pero no por ahora.

[2013-06-04 14:00] #41 closed, assigned to aabilio

[2013-06-06 18:15] aabilio opened #42 "Canal Sur (por lo menos A la Carta) no funciona"
[Visto en un comentario en la extensión para Chrome]
Vídeo de Canal Sur, no están funcionando.

[2013-06-10 23:23] aabilio commented on #39
Lo primero, por si acaso te interesa, el proyecto de PyDownTV actualmente dispone de un script en python para terminal: https://github.com/aabilio/PyDownTV2/tree/master/Script por si te interesaría trabajar en este en vez de crear uno nuevo.

Sobre lo que comentas, el valor de start, según he podido ver jugando un poco con él, representa los segundos (empezará a reproducir el vídeo desde el segund

[2013-06-29 16:47] Edu1980 opened #43 "Me da error al "recuperar" los enlaces rtmp de MTV.es"
Hola que tal

Pues eso, desde hace unos dias que no puedo obtener los enlaces de descarga de los vídeos de MTV.es

Lo he probado tanto con el pluggin de crome como por el script web, y nada, en ambos casos tras poner el enlace del vídeo, me sale "ERROR al recuperar el vídeo. ¿Es una URL válida?"

Ejemplo, con este mismo: http://www.mtv.es/programas/destacados/jersey-shore-temporada-5/videos/jersey

[2013-06-30 03:12] aabilio commented on #43
En cuanto pueda le echo un vistazo. Gracias por reportar. Saludos.

[2013-07-01 22:43] Edu1980 commented on #43
Ok muchas gracias. Espero noticias

Saludos!

From: Abilio Almeida
Sent: Sunday, June 30, 2013 5:12 AM
To: aabilio/PyDownTV2
Cc: Edu1980
Subject: Re: [PyDownTV2] Me da error al "recuperar" los enlaces rtmp de MTV.es (#43)

En cuanto pueda le echo un vistazo. Gracias por reportar. Saludos.

—
Reply to this email directly or view it on GitHub.

[2013-07-11 16:02] aabilio commented on #37
:+1:
Merged (y añadido a la web también: https://github.com/aabilio/PyDownTV2/commit/0676d3ccb2ccb1bc6b6b15e8234e063152b96dd2).
Graciñas.

[2013-07-11 16:03] aabilio commented on #37
Parece que en algunos vídeos duplica la misma url (para la descarga), ¿no?

[2013-07-11 16:11] jaimeMF commented on #37
¿Tienes algún ejemplo?

[2013-07-11 16:21] aabilio commented on #37
--> http://replay.disneychannel.es/jake-y-los-piratas-de-nunca-jamas/la-roca-de-la-ronda.html
[...]/PyDownTV2/Script/pydowntv.py -nsd "http://replay.disneychannel.es/jake-y-los-piratas-de-nunca-jamas/la-roca-de-la-ronda.html"

En Web: http://www.pydowntv.com/url/http://replay.disneychannel.es/jake-y-los-piratas-de-nunca-jamas/la-roca-de-la-ronda.html

[2013-07-11 16:58] #37 closed, assigned to aabilio

[2013-07-11 16:59] #39 closed, assigned to aabilio

[2013-07-13 23:28] antonio8909 commented on #37
yo ya sabia desde hace 3 meses la manera de descargar de disney channel replay

[2013-07-14 16:20] aabilio commented on #43
@Edu1980 todo bien ahora?

[2013-07-14 16:31] Edu1980 commented on #43
Perfecto! Muchas por tu trabajo.

[2013-07-14 16:41] aabilio commented on #43
Gracias a jaimeMF que fue el que solucionó el error.

NOTA: Algunos vídeos de vez en cuando fallan algunas veces antes se dar un resultado correcto. Creo que se debe al proxy para los geo bloqueados. Aún hay que mirar esto y lo de las partes para algunos videos, que da el mismo enlace para las diferentes partes..

[2013-07-14 17:40] Edu1980 commented on #43
Ah, pues gracias @jaimeMF también (:

Sobre lo que comentas en la nota:

Los vídeos en MTV suelen estar en 4 partes, pero al obtener el enlace de cualquier parte de esas, lo que se descarga es el video completo, no se baja en 4 partes.

Saludos!

[2013-07-18 07:20] ghost commented on #42
Sí, estoy intentándolo con uno desde el ejecutable de Windows y me da este error...

![pydowntv-error](https://f.cloud.github.com/assets/407360/817635/8b0286c0-ef7a-11e2-86b0-11e9c2acc4ca.png)

[2013-07-20 14:01] ghost opened #48 "No se pueden descargar videos de MiTele"
Desde hace apenas unas horas al intentar descargar cualquier video de MiTele, me aparece este mensaje:

ERROR al recuperar el vídeo: mitele.es: No funciona el procedimiento

Puede algo que ver con el anuncio que se reproduce antes del video? Si le puedes echar un vistazo, sería perfecto.

Gracias de antemano

PD: Por cierto, fantástica utilidad. Muchas gracias por compartirla con todos.

[2013-07-20 16:30] aabilio commented on #48
Tengo que verlo. Hasta mañana por la tarde no podré..
Gracias por reportar.
Saludos.

[2013-07-21 11:24] aabilio commented on #48
He podido comprobar que es debido a otro bloqueo más por parte de mitele a pydowntv.

[2013-07-21 12:05] ghost commented on #48
Vamos, que están constantemente poniendo trabas a PyDownTV los de mitele.
Si encuentras la manera de poder descargar los videos, perfecto. Si no, pues no pasa nada

Gracias por tu tiempo

[2013-07-21 15:53] aabilio commented on #48
Solucionado, o debería.
Saludos.

[2013-07-21 15:53] #48 closed, assigned to aabilio

[2013-07-21 16:56] ghost commented on #48
Muchísimas gracias.

Eres un crack

[2013-07-24 19:53] antonio8909 opened #49 "Soporte MiteleKids"
Pido soporte si es posible para el nuevo MiteleKids (url de ejemplo:http://www.mitelekids.es/castellano/series-infantiles/berni/temporadas/1/Golf_23_1637295001.html)
Un saludo

[2013-07-25 19:40] aabilio commented on #49
Añadido. Saludos. Ejemplo: http://pydowntv.com/url/http://www.mitelekids.es/castellano/series-infantiles/berni/temporadas/1/Golf_23_1637295001.html

[2013-07-25 19:44] antonio8909 commented on #49
Otra página ya se os ha adelantado pero muchísimas gracias!

[2013-07-25 20:26] aabilio commented on #49
Perfecto! Cuantos más mejor. Saludos.

[2013-07-25 20:26] #49 closed, assigned to aabilio

[2013-07-25 20:27] antonio8909 commented on #49
Gracias!

[2013-08-03 09:38] denobisipsis opened #50 "Nuevo método para rtve"
http://code.google.com/p/pydowntv/issues/detail?id=73#c20

[2013-08-03 19:50] aabilio commented on #50
Muy buen aporte. Muchas gracias! Estoy de vacaciones, en cuento vuelva le meto mano ;-)

[2013-08-05 00:37] denobisipsis commented on #50
Abilio,

en telemadrid tienes que cambiar una cosa:

videos como este
http://www.telemadrid.es/programas/objetivo/objetivo-la-sombra-de-eta

no se descargan y es por el servidor. Al obtener el amf veo que
cambias a telemadrid

http://telemadridhd.pd.ak.o.brightcove.com.edgesuite.net/hd/104403117001/104403117001_1743516720001_c2634c68-a163-47af-a9ce-0086e188c2ba.mp4

y eso es lo que falla para vide

[2013-08-05 00:45] denobisipsis commented on #50
Me acabo de dar cuenta que no es sólo el servidor, es toda la dirección. El amf que saco yo contiene otros enlaces que funcionan.

[2013-08-05 20:16] denobisipsis commented on #50
Qué tal,

Telemadrid da problemas con algunos videos, pero tengo una idea y es
cambiar la llamada amf a

com.brightcove.experience.ExperienceRuntimeFacade.getDataForExperience

en la dirección

http://c.brightcove.com/services/messagebroker/amf?playerId=

al parecer aquí también devuelve enlaces que funcionan.

Lo que he notado es que los enlaces que no funcionan como

104403117001/104403117001_16

[2013-08-06 09:03] #43 closed, assigned to aabilio

[2013-08-06 09:04] aabilio commented on #40
Descargando una de las partes de los vídeos de MTV ya descarga el vídeo entero..

[2013-08-06 09:04] #40 closed, assigned to aabilio

[2013-08-12 09:50] aabilio opened #51 "Petición de Nuevo canal: hogar util"
A través de emai he recibido la sugerencia de este canal:
"[...]La web es la de hogar util en donde hay videos muy chulos..

http://www.hogarutil.com/tv/programas/[...]"

[2013-08-14 20:35] denobisipsis opened #52 "Solución a Telemadrid"
Ciertos videos como este http://www.telemadrid.es/?q=programas/madrilenos-por-el-mundo/madrilenos-por-el-mundo-londres-2012, y en general los de estos programas (Objetivo, Dossier...) no están disponibles.

La llamada PlayerMediaFacade.findMediaById amf, u otras por el estilo, devuelven sin embargo varios links mp4 que no funcionan. La solución completa a estos casos es la siguiente:

1- se recoge

[2013-08-15 00:04] denobisipsis commented on #51
RTMP

[2013-08-17 22:06] denobisipsis commented on #26
Como comentaba en http://code.google.com/p/pydowntv/issues/detail?id=5#c23 (no sé si sigues los issues allí)

hay videos directos de descarga MP4. En el ejemplo que comentas http://www.abc.es/videos-internacional/20130424/crimen-pasional-illinois-2324889522001.html,

tienes http://comeresa.uds.ak.o.brightcove.com/78527749001/78527749001_2324881568001_130424AGEWEB-24AB050HQ.mp4

Estos enlaces se ob

[2013-08-17 22:50] denobisipsis commented on #38
Para estos casos tienes que utilizar el cdnAssetDataId del json. Tendrás que comprobar los dos y ver cuál funciona. Cuando el primero no lo hace, el xml que devuelve contiene "code='state-not-valid'".

http://www.rtve.es/infantil/videos-juegos/#/videos/peppa-pig/todos/clase-gimnasia/1548877/

http://mvod.lvlt.rtve.es/resources/TE_GLESP/mp4/3/4/1371659712243.mp4

[2013-08-17 22:59] aabilio commented on #26
Sí, leo todo. Lo siento por tardar, pero más liado no puedo estar. Una empresa y varios proyectos que llevar.. Sorry. Espero tener un hueco a finales de semana. Si alguien quiere codificar bienvenido sea ;-) Graciñas a todos los que estáis activos esta semana (tanto en las issues del pydowntv2 como en pydowntv de Google Code. Saludos.

[2013-08-17 23:34] denobisipsis commented on #26
Te echaría una mano, pero Python no sé, aunque todo puede llegar.

Un saludo y buen trabajo,

On 8/18/13, Abilio Almeida notifications@github.com wrote:

[2013-08-21 09:11] vikenbauer opened #53 "Los vídeos de cuatro (al menos los de TikiTaka) no se descargan"
Ejemplo: http://www.cuatro.com/tiki-taka/a-carta/Tiki-Taka_2_1655880019.html

Dice "Error al recuperar el vídeo:cuatro.com:no se encuentra contenido.
Lo estoy probando con Chrome y el plugin. También lo probé escribiendo directamente la url en http://www.pydowntv.com/, y tampoco.

De todos modos, enhorabuena, habéis tenido una idea genial.

[2013-08-21 09:52] denobisipsis commented on #53
Será un error al obtener la id, puede variar según las páginas,

http://storage.telecinco.es/nogeo/2013/08/21/MDSVID20130821_0019-0.mp4?vf=20130821094919&vu=20130822094919&h=0466ee0caa344b97f42f0

[2013-08-21 10:11] vikenbauer commented on #53
Con esta url tampoco lo consigo. No sé muy bien como funciona esto, ¿es una
url de un solo uso?
  Víctor

2013/8/21 denobis notifications@github.com

[2013-08-21 10:15] denobisipsis commented on #53
Botón derecho del ratón y guardar enlace como

[2013-08-21 10:17] aabilio commented on #53
Era el mismo problema que el del otro día con T5, por eso ya está solucionado. Gracias por reportar. Saludos.
http://www.pydowntv.com/url/http://www.cuatro.com/tiki-taka/a-carta/Tiki-Taka_2_1655880019.html

[2013-08-21 10:17] #53 closed, assigned to nobody

[2013-08-21 10:18] vikenbauer commented on #53
Esto es del primer capítulo de "Internet para dummies" :D En fin, corramos
un tupido velo, y muchas gracias :)
  Víctor

El 21 de agosto de 2013 12:15, denobis notifications@github.com escribió:

[2013-08-22 11:01] spain-shoemaker opened #54 "¿La branch master es la última versión?"
Hola,

¿La branch master es la última versión correspondiente a la Web? Si lo es no acabo de entender cómo en la web me puedo descargar el siguiente vídeo:

http://www.telecinco.es/fragiles/temporadas/temporada-02/t02xc05-el-deportista-atropellado/T02xC05-deportista-atropellado_2_1654830129.html

No obstante si lo ejecuto desde el Script de python me da el siguiente error:

$ git clone https://git

[2013-08-22 11:02] aabilio commented on #54
Nop, no subí los últimos cambios. Ahora hago un push ;)

[2013-08-22 11:09] aabilio commented on #54
Ya: https://github.com/aabilio/PyDownTV2/commit/3b71e0da50e00f497ca0786f1c9c53ff2f750fc1 ;)
T5: https://github.com/aabilio/PyDownTV2/blob/3b71e0da50e00f497ca0786f1c9c53ff2f750fc1/spaintvs/telecinco.py

Saludos.

[2013-08-23 01:14] simonbcn opened #55 "Mitele.es ha dejado de funcionar otra vez"
Intento descargar este programa: http://www.pydowntv.com/?url=http%3A//www.mitele.es/programas-tv/me-cambio-de-familia/temporada-3/programa-29/ y me baja un html, en lugar del MP4, con este error:

[2013-08-23 07:35] #54 closed, assigned to nobody

[2013-08-23 19:22] aabilio commented on #55
He probado un par de vídeos más a parte de ese y parece que no dan problemas. No sé qué puede estar pasando con ese. Cuando tenga tiempo le echo un ojo. Gracias por reportar. Saludos.

[2013-08-26 11:41] PaPoT opened #56 "Jdownloader y nombre de archivos (Version Web)"
Buenas, Estoy teniendo alguna dificultad al intentar usar el la version web de  PyDownTV, concretamente en la interaccion con Jdownloader, la mayor parte de las veces que intento añadir un link o un conjunto de links el jdownloader los reconoce como offline, o solo reconoce una de las partes.
Por otro lado he notado que todos los archivos se descargan con el mismo nombre 001, 002, 003 esto supone

[2013-08-26 11:57] aabilio commented on #56
Por lo que me estuve documentando cuando añadí el botón de jdownloader, este, no da muchas opciones para comunicarse con otro programas. Yo solo puedo pasar links a jdownloader, y si este los detecta como online no creo que pydowntv pueda hacer  nada (desde pydowntv puedo no mandar links que sé que no van a funcionar, por ejemplo  como pasa con los de mitele, que caducan en poco tiempo, y entre qu

[2013-08-26 12:09] PaPoT commented on #56
los links son de la 6.
el nombre del archivo tambien me pasa descargandolos x navegador, en este caso si puedo renombrarlos antes de empezar la descarga, pero tendria q estar delante del pc antes de descargar cada uno.

[2013-08-28 00:21] PaPoT commented on #56
no consigo ningun tipo de informacion... me estoy arreglando con las dd por web.
se agradece en igualmente. :)

[2013-08-28 00:27] PaPoT opened #57 "canal 13 -Argentina-"
Aca les dejo la propuesta para añadir un nuevo canal.

http://www.eltrecetv.com.ar/

El contenido es muy bueno. Cualquier cosita comentan :)

Gracias.

[2013-08-28 13:05] denobisipsis commented on #55
http://videosgeo.telecinco.es/geo/programa/mecambiodefamilia/t3/c29ok2_1f6f3332.mp4?vf=20130828130421&vu=20130828150421&h=01131ac888e54ee2598bc&start=0

El fallo está en el propio xml de mitele

["link"]=>
        string(55) "/geo/programa/mecambiodefamilia/t3/c29ok2_1f6f3332.mp4 " (espacio al final)

[2013-08-28 18:41] aabilio commented on #55
Thanks Denobis ;)
He corregido eso, pero al ver si funcionaba, me da un 401... En fin, si no son muchos más vídeos lo apunto para más adelante.

[2013-08-28 18:42] aabilio commented on #57
Tomo nota para más adelante ;)

[2013-08-28 18:53] denobisipsis commented on #55
Quita simplemente los espacios vacíos del link, en php lo hago con
str_replace(" ","",$link). A mí me funciona, lo que pasa es que el
link caduca, aquí está de nuevo

http://videosgeo.telecinco.es/geo/programa/mecambiodefamilia/t3/c29ok2_1f6f3332.mp4?vf=20130828185016&vu=20130828205016&h=0caafa61d2d2fb89cef7d&start=0

On 8/28/13, Abilio Almeida notifications@github.com wrote:

[2013-08-28 19:16] aabilio commented on #55
Sí, si el error que me comentabas al principio lo hice de la misma manera que tú .replace(" ", ""): https://github.com/aabilio/PyDownTV2/commit/524addbbc3120c2ca9b6cd37fd3aab76e87f7530

Pero el resultante me da un 401, incluso al instante, solo con ese vídeo (si fuera con todos ya pensaría que están bloqueado por 1233423523412 pydowntv de alguna manera), con otros sigue funcionando bien...

Además

[2013-08-28 19:57] denobisipsis commented on #55
Prueba con "User-Agent: iPod|iPad|android"

On 8/28/13, Abilio Almeida notifications@github.com wrote:

[2013-08-28 20:09] aabilio commented on #55
Para hacer la petición al tokenizer supongo ¿no?
OK, luego en un ratito pruebo y te digo. Graciñas ;)

[2013-08-28 20:15] denobisipsis commented on #55
Sí, la llamada con el hash, id, startime y endtime

On 8/28/13, Abilio Almeida notifications@github.com wrote:

[2013-09-06 23:35] aabilio commented on #55
@denobis Sí, con ese User-Agent dura más :+1: Muchas gracias.
PD: Siento tardar tanto. Aun he podido probarlo ahora...

[2013-09-06 23:36] aabilio commented on #55
https://github.com/aabilio/PyDownTV2/commit/06823154885ef479c7fa8de4ba24d057bde14bff

[2013-09-06 23:36] #55 closed, assigned to aabilio

[2013-09-16 15:22] kiraaaaaa opened #58 "no funciona este enlace y no se por que"
http://www.mitele.es/series-online/yo-soy-bea/temporada-3/capitulo-620/

[2013-09-16 15:30] aabilio commented on #58
El enlace para ese vídeo es: http://videos.mitele.es/nogeo/serie/yosoybea/t3/c620_858fc7c6.mp4?vf=20130916152917&vu=20130916172917&h=0f36bf75fed719943f601&start=0 (botón derecho, Guardar enlace como...)

Tengo que ver qué está pasando. Gracias por reportar.

[2013-09-16 15:59] aabilio commented on #58
Solucionado: http://pydowntv.com/url/http://www.mitele.es/series-online/yo-soy-bea/temporada-3/capitulo-620/

Saludos.

[2013-09-16 15:59] #58 closed, assigned to aabilio

[2013-09-18 07:47] kiraaaaaa opened #59 "no se si se podra solucionar esto"
http://www.mitele.es/series-online/el-don-de-alba/temporada-1/capitulo-13/

no coje ningun capitulo de el don de alba da un error

[2013-09-18 09:15] aabilio commented on #59
Esa serie, MiTele la pone a disposición de la audiencia a través de un protocolo llamado RTMP. Los vídeos que mitele dispone a través de este protocolo no están soportados aun por Pydowntv. En un futuro los podrás reconocer por que el mensaje de error proporcionado por Pydowntv es precisamente este que estoy diciendo.

Ahora mismo no estoy trabajando en una solución, pero no lo descargo para cuand

[2013-09-18 09:15] #59 closed, assigned to aabilio

[2013-10-01 09:49] abulon opened #60 "Pedir soporte para nuevo canal"

[2013-10-01 09:52] #60 closed, assigned to nobody

[2013-10-01 09:53] abulon opened #61 "Atresmedia Player"
THIS ISSUE WAS DELETED AND BLOCKED

[2013-10-02 16:04] mardojin opened #62 "Atresplayer"
THIS ISSUE WAS DELETED AND BLOCKED

[2013-10-03 16:58] mardojin opened #63 "Por favor, una contestación para: Atresplayer afectando antena 3, la sexta, nova, etc..."
THIS ISSUE WAS DELETED AND BLOCKED

[2013-10-03 16:59] #62 closed, assigned to nobody

[2013-10-03 17:05] #63 closed, assigned to nobody

[2013-10-03 20:03] mardojin opened #65 "Si puedo descargar casi todo............"
Quería añadir algo.  He estado haciendo pruebas, y resulta que yo puedo descargar todo perfectamente.

Siempre he utilizado IDM, (Internet Download Manager) para descargar todo. Es muy rápido y muy bueno.  Yo nunca he utilizado el método de hacer cliq y escoger "guardar como....."

En mi caso, después de obtener el enlace con pydown, al hacer cliq, salta IDM para ofrecer el descargo. Entonces  he

[2013-10-03 20:07] aabilio commented on #65
No sé cuál puede ser el problema la verdad. Supongo que estarán más protegidos al ser una producción extrajera..

[2013-10-03 20:07] #65 closed, assigned to nobody

[2013-10-05 14:24] mardojin opened #66 "Un capitulo no se descarga"
Gracias por todo su trabajo!
Hay un capitulo que por lo que sea no quiere descargarse. Aqui esta el mensaje que me da pydowntv cuando lo intento.

ERROR al recuperar el video.  Es una URL valida? Invalid control character at: line 1 column 801 (char 800)

Tiene algun arreglo? Si no tiene pues nada.

Gracias.

ADD: Este es el enlace: http://www.atresplayer.com/television/series/la-patrona/temporada

[2013-10-06 13:38] mardojin opened #67 "Este es el enlace"
El enlace es este:

http://www.atresplayer.com/television/series/la-patrona/temporada-1/capitulo-3-2-10-13_2013100300158.html

[2013-10-06 18:16] peter55 opened #68 "Api problema espacios (atresplayer) bug"
Hola, gracias por la rapidez en soportar atresplayer.

Quería comentar que las urls de atresplayer que contienen espacios en la api no funcionan correctamente y en la versión web si.

Por ejemplo:
http://www.atresplayer.com/television/programas/karlos-argui%C3%B1ano-en-tu-cocina/temporada-1/Karlos%20Argui%C3%B1ano%20en%20tu%20cocina-C27_2013092700194.html
Gracias.
Saludos.

[2013-10-06 22:05] aabilio commented on #68
si puedo mañana le echo un ojo. Gracias por reportar.

[2013-10-08 07:15] susobaco opened #69 "Problema con atresmedia"
Hola...Gracias por el pronto soporte...creo que queda algún flequillo que pulir...en el programa de "el objetivo":

http://www.atresplayer.com/television/programas/el-objetivo/temporada-2/capitulo-6-vicente-martnez-pujalte_2013100600191.html

El error es el siguiente:

ERROR al recuperar el vídeo. ¿Es una URL válida? Expecting , delimiter: line 1 column 1055 (char 1054)

Muchas gracias!

[2013-10-08 08:31] #67 closed, assigned to nobody

[2013-10-08 09:48] aabilio commented on #68
Puedes poner la url sin "http://" si utilizas la forma "restfuliana" en: http://www.pydowntv.com/api/www.atresplayer.com/television/programas/karlos-argui%C3%B1ano-en-tu-cocina/temporada-1/Karlos%20Argui%C3%B1ano%20en%20tu%20cocina-C27_2013092700194.html

o utilizar la forma: http://www.pydowntv.com/api?url=http://www.atresplayer.com/television/programas/karlos-argui%C3%B1ano-en-tu-cocina/temporad

[2013-10-08 09:48] #68 closed, assigned to aabilio

[2013-10-08 09:49] aabilio commented on #69
Debería estar arreglado ya este error: http://pydowntv.com/url/http://www.atresplayer.com/television/programas/el-objetivo/temporada-2/capitulo-6-vicente-martnez-pujalte_2013100600191.html

[2013-10-08 09:49] #69 closed, assigned to aabilio

[2013-10-08 09:50] aabilio commented on #66
Ya debería estar solucionado ;) http://pydowntv.com/url/http://www.atresplayer.com/television/series/la-patrona/temporada-1/capitulo-3-2-10-13_2013100300158.html

[2013-10-08 09:50] #66 closed, assigned to aabilio

[2013-10-08 13:36] mardojin opened #70 "Gracias........"
Muchísimas gracias de nuevo por todos sus arreglos. Se lo agradecemos todos mucho. Y si, ya está solucionado.

[2013-10-08 14:09] aabilio commented on #70
;)

[2013-10-08 14:09] #70 closed, assigned to nobody

[2013-10-08 20:15] mardojin opened #71 "Han bloqueado otra"
Siento tener que molestarle otra vez.  Creía que estaba todo solucionado pero no entiendo esta gente que están haciendo.  Resulta que la otra novela, la que no tenia problema para descargar, ahora no puedo. La que me soluciono si la puedo descargar pero esta otra, que he estado descargando sin ningún problema desde que cambiaron al sistema este de atresplayer, hoy de repente voy a descargar el pró

[2013-10-08 20:48] LuCoSiN commented on #71
A mi me pasa lo mismo con la novela el clon http://www.atresplayer.com/television/series/el-clon/temporada-1/capitulo-173-3-10-13_2013100700327.html

Dice: ERROR al recuperar el vídeo. ¿Es una URL válida? HTTP Error 401: Unauthorized

Gracias!

[2013-10-09 14:56] LuCoSiN commented on #71
Vale, ya pide descarga rel capítulo 173, pero el 174 http://www.atresplayer.com/television/series/el-clon/temporada-1/capitulo-174-4-10-13_2013100700247.html salen los links de todas las calidades pero el archivo que se baja es de bytes. ¿Porqué no está disponible ninguna calidad?

Gracias!

[2013-10-09 18:11] mardojin opened #72 "Gracias pero no se puede"
Hola de nuevo.  Veo que has estado tratando de arreglarlo ya que cuando intento utilizar pydown para la novela me salen cinco enlaces en vez de uno.  De los cinco ninguno funciona. No le quiero molestar más. Gracias por intentarlo pero se ve claramente que los técnicos de atresplayer han puesto algo para que no se pueda descargar de ninguna manera. De todos modos gracias por haberlo intentado. Alg

[2013-10-09 20:28] mardojin opened #73 "Continuan bloqueando acceso con atresplayer"
Quería decir por ultimo a todos los que se encuentren con problemas con el atresplayer que definitivamente han debido de ver que ha habido descargas porque una vez mas no puedo descargar la novela que me había solucionado lo que quiere decir que lo han vuelto a cambiar.

Ahora mismo ni puedo acceder al menú de novelas. No me deja. No sé que están haciendo esos estúpidos pero en nuestro caso no est

[2013-10-09 20:47] mardojin opened #74 "Todo Bloqueado"
Ni El Hormiguero, ni Jugones, ni nada que sea de antena 3, la sexta, nova, nada se puede descargar ya. Lo están prohibiendo todo. Todos los programas que descargaba para mi padre los han bloqueado todos. Dicen "Disfrute de Atresplayer" que disfrutar ni porras si no podemos  ver nada!

Al principio solo eran las novelas, pero ahora son todos los programas. O sea, que no quieren que descarguemos nad

[2013-10-09 23:19] iskraelectrica opened #75 "Atresmedia: ERROR 403: Forbidden."
wget -c http://desprogresiva.antena3.com/assets2/2013/10/08/56628267-1013-49B1-8E93-930C8217C87A/video_720_900k_es.mp -O'/shares/Public/Shared Videos/Amar/Amar es para siempre c190.mp4'
--2013-10-10 00:36:48--  http://desprogresiva.antena3.com/assets2/2013/10/08/56628267-1013-49B1-8E93-930C8217C87A/video_720_900k_es.mp
Resolving desprogresiva.antena3.com... 205.128.90.126, 8.254.128.126
Connecting

[2013-10-10 15:11] #72 closed, assigned to nobody

[2013-10-10 15:11] #71 closed, assigned to aabilio

[2013-10-15 09:30] spain-shoemaker opened #76 "Atresplayer: ¿están subidos los últimos cambios al repositorio?"
Buenos días,

He observado que desde la versión web es posible obtener los vídeos de urls como ésta:

http://www.atresplayer.com/television/series/vive-cantando/temporada-1/capitulo-6-captulo_2013100400464.html

No obstante me he bajado la última versión que hay subida en GitHub y cuando pruebo la versión script no me funciona:

$ pydowntv.py
## PyDownTV (Descarga vídeos de las webs de TV española

[2013-10-15 09:32] aabilio commented on #76
Los enlaces que da pydowntv ahora mismo no son válidos.
Esto aun así, aun no está subido al repositorio. Tardará un poco.
Saludos.

[2013-10-15 09:56] #74 closed, assigned to nobody

[2013-10-15 09:56] #75 closed, assigned to nobody

[2013-10-15 09:56] #73 closed, assigned to nobody

[2013-10-17 14:32] TOINUSA opened #77 "Antena3 Y Telecinco"
Hola,
Supongo que ya habreis tenido varios comentarios sobre el "atres player" you no puedo ver nada desde el lunes (estoy en Estados Unidos). Querria saber si se va a arreglar porque me encanta Pydown, es muchisimo mejor que el atres ese. Tampoco puedo ver "Tierra de Lobos" y cuando echaron "Reserva" en RTVE tampoco se veia. Bueno en fin espero que lo podais solucionar. Yo no soy programadora o n

[2013-10-17 14:36] saertus opened #78 "Atresplayer: No descarga los videos (BUG)"
THIS ISSUE WAS DELETED AND BLOCKED

[2013-10-29 08:31] josem1974 opened #79 "antena3-atresplayer"
THIS ISSUE WAS DELETED AND BLOCKED

[2013-11-01 08:03] lucasvc opened #80 "Error en la descarga des de "mitele.es" en la web"
THIS ISSUE WAS DELETED AND BLOCKED

[2013-11-01 20:42] antonio8909 opened #81 "Mitele.es no funciona en ninguno de sus enlaces:"
Ni en PydownTV ni en Descargavideos.tv funciona ningún enlace de mitele.es
En Pydown dice:
ERROR al recuperar el vídeo: mitele.es: No se puede obenter enlaces: Deadline exceeded while waiting for HTTP response from URL: http://www.mitele.es/series-online/criadas-y-malvadas/temporada-1/capitulo-10/
Y en Descargavideos...
Error. Los vídeos de mitele en formato RTMP no están soportados.
Lo sentimos.

[2013-11-02 10:14] aabilio commented on #81
A finales de la semana que viene espero tener un hueco para verlo y arreglarlo. Me lo dejo apuntado.

[2013-11-02 10:16] aabilio commented on #81
#80

[2013-11-02 10:16] #81 closed, assigned to aabilio

[2013-11-02 10:16] #79 closed, assigned to nobody

[2013-11-02 10:17] #78 closed, assigned to nobody

[2013-11-02 10:17] aabilio commented on #77
#61 #80

[2013-11-02 10:17] #77 closed, assigned to nobody

[2013-11-04 17:30] Atsmcc commented on #22
Buen día:
nuevamente con la molestia de no poder descargar el Capítulo 9 de la Temporada 9. Puedo verlo online sin ningún problema, pero al querer descargarlo, me manda mensaje: ERROR al recuperar el vídeo: mitele.es: No se puede obenter enlaces: Deadline exceeded while waiting for HTTP response from URL: http://www.mitele.es/programas-tv/cuarto-milenio/temporada-9/programa-339/
Esperando pueda so

[2013-11-08 20:23] #80 closed, assigned to aabilio

[2013-11-08 20:38] antonio8909 opened #82 "Nueva issue sobre mitele.es"
Dado que han cerrado el otro tema informo que sigue sin funcionar.
La página devuelve esto: ERROR al recuperar el vídeo: mitele.es: RTMP no soportado para el canal por ahora.
Por favor echadle un vistazo.
Gracias

[2013-11-08 20:39] aabilio commented on #82
Los vídeos que dicen eso es por que MiTele los dispone a través de ese protocolo y nunca han sido soportados por pydowntv. No sé si lo estará alguna vez, pero no de momento. Saludos.

[2013-11-08 20:39] #82 closed, assigned to nobody

[2013-11-09 11:08] sergioabril commented on #76
Eso venía a comentar, que los enlaces que da no son validos; hay intención o previsión de que se consigan videos válidos desde atresplayer.com?

[2013-11-13 11:42] atds1955 opened #83 "Error al recuperar enlaces de alguno vídeos de RTVE"
Se ha detectado error:
ERROR al recuperar el vídeo. ¿Es una URL válida? 'ascii' codec can't decode byte 0xed in position 2198: ordinal not in range(128)

[2013-11-17 11:09] aabilio commented on #83
para qué vídeo?

[2013-11-17 15:56] atds1955 commented on #83
Adolfo T. Dochado Soto

Ldo. con Grado en CC. EE. y Empresariales

Censor Jurado de Cuentas – Auditor

Consultor de Organización

No puedo descargar videos de TVE. Por ejemplo, los capítulos de la serie “Isabel”.

De: Abilio Almeida [mailto:notifications@github.com]
Enviado el: domingo, 17 de noviembre de 2013 12:10
Para: aabilio/PyDownTV2
CC: Adolfo
Asunto: Re: [PyDownTV2] PyDownTV Web don't func

[2013-11-18 16:47] aabilio commented on #76
Ahora los cambios están subidos al servidor.
Pero la API (y por lo tanto el script) solo funcionará para los vídeos FREE, no lo REGISTER.. (Para estos últimos da un enlace a la API de atresplayer que dará el enlace final)..

[2013-11-20 16:53] angelez commented on #83
Pasa con todos los videos de Isabel en rtve de la segunda temporada:
http://www.rtve.es/alacarta/videos/isabel/isabel-capitulo-24/2124776/

Yo creo que es por la capa de video interactivo que les han puesto, porque algunos antiguos si que se pueden descargar que no tienen esa capa.
Y todos se pueden descargar con la extensión FVD Video Downloader en chrome o con download helper de Firefox

[2013-11-20 16:55] aabilio commented on #83
Sí, lo puedo arreglar, pero voy a tardar un poco, quizás el lunes que
viene..
El 20/11/2013 17:53, "angelez" notifications@github.com escribió:

[2013-11-20 17:15] angelez commented on #83
No hay prisa, . . . .  Faltaría mas!!!

Gracias.

[2013-11-20 20:58] JorgeGlez opened #84 "Nombre del fichero destino como parámetro"
Buenas,

Escribo aquí por primera vez así que perdona si no es el sitio correcto o algo.

Estaba probando tu script (que dicho sea de paso es la leche, enhorabuena) y ví que me descargaba los videos con nombre destino "V". Indagando un poco he visto que si no saca bien el nombre (al menos para los de Telecinco) le asigna el nombre genérico "VideosDeTelecinco.mp4" y al final le pasa sólo el primer

[2013-12-01 13:44] antonio8909 opened #85 "Soporte para hogarutil.com"
Hola @aabilio ,
Te pido soporte para hogarutil haber si es posible.
Links de ejemplo: http://www.hogarutil.com/tv/programas/karlos-arguinano-cocina/201311/29/index.html http://www.hogarutil.com/decoracion/estancias/bano/201311/como-modernizar-bano-viejo-22573.html

Un saludo y gracias de antemano

EDITO: Se esta buscando una solución más fácil para la descarga de vídeos. Hasta el momento esperen a

[2013-12-04 10:54] MagoSolar commented on #26
Hoy me decidí a intentar de nuevo con el mismo link de hace meses y descubrí el fallo... en mis Windows XP o 7 la ruta deve estar entre comillas dobles (en lugar de simples), y el destino hay que ponerlo sin comillas. Funcionó perfecto y me quedó así:
C:\rtmpdump>rtmpdump -r "rtmp://cp151415.edgefcs.net/ondemand/mp4/videos/55814260001/55814260001_2271873102001_M-todo-Escandinavo-y-Waldorf-la-otra-

[2013-12-04 12:04] denobisipsis commented on #26
Si coges el rtmp y cambias

rtmp://cp151415.edgefcs.net/ondemand/mp4/videos

por

http://comeresa.uds.ak.o.brightcove.com/

tienes un enlace directo

http://comeresa.uds.ak.o.brightcove.com/55814260001/55814260001_2271873102001_M-todo-Escandinavo-y-Waldorf-la-otra-educacion-completo.mp4

[2013-12-07 10:35] siulwon opened #86 "Error al intentar descargar de IETB"
No da el enlace de salida para descargar vía rtmpdump.
Mensaje de error:
"Se ha detectado error:
Lo que has introducido no corresponde con ningún canal soportado por PyDownTV"

http://www.eitb.com/es/videos/detalle/1810448/video-entrevista-martin-barriuso-pannagh-peticion-fiscal/

[2013-12-07 11:46] denobisipsis commented on #86
Esa dirección es eitb.com, y el método al enlace es distinto:

http://www.eitb.com/es/get/multimedia/video/id/1810448/size/grande/

f4m

On 12/7/13, siulwon notifications@github.com wrote:

[2013-12-08 11:42] hotfileuse commented on #85
Me uno a la petición, me interesa el programa de bricomania.

Muchas gracias por el esfuerzo.

[2013-12-08 15:12] antonio8909 commented on #85
Cierro que ya se esta trabajando en una solución.
Próximamente estará disponible.
Yo mientras estare con otro metodo.
Saludos

[2013-12-09 16:19] TOINUSA opened #88 "Telecinco"
Hi,
I cannot see " Tierra De Lobos", it says that i do not have the credentials, or something like that. I can see Antena3 with no problem. Can anybody help me?

[2013-12-12 13:18] aabilio commented on #85
PyDownTV no está trabajando en un soporte para Hogarutil. Vuelvo a abrir la issue.

[2013-12-12 13:55] #26 closed, assigned to aabilio

[2013-12-12 14:34] aabilio commented on #88
Url del vídeo?

[2013-12-12 14:43] TOINUSA commented on #88
Hola Abilio,

No puedo ver “Tierra de Lobos” http://www.mitele.es/series-online/tierra-de-lobos/temporada-3/capitulo-38/ cuando lo pongo an PyDown, me dice que no tengo credenciales o algo asi, si voy directament a Telecinco, me dice que el vido no esta disponible fuere de Espana, pero eso era asi con Antena 3, y aun asi los podia ver. Me pase igual con algunos, no todos, los videos de RTVE.  Esto

[2013-12-12 14:44] TOINUSA commented on #88
Una cosa mas, uso Google Chrome.

Thanks,

Trini Owens

(Office manager)

From: Abilio Almeida [mailto:notifications@github.com]
Sent: Thursday, December 12, 2013 9:35 AM
To: aabilio/PyDownTV2
Cc: TOINUSA
Subject: Re: [PyDownTV2] Telecinco (#88)

Url del vídeo?

—
Reply to this email directly or view it on GitHub https://github.com/aabilio/PyDownTV2/issues/88#issuecomment-30426960 .  https://githu

[2013-12-12 14:49] TOINUSA commented on #88
Perdona Abilio, una cosa mas. He estado viendo “Tierra de Lobos” a traves de miestreno.com. Te lo digo por si esto te allude. Lo que pasa es que ellos no son tan buenos como vosotros, y hoy estan ahi, pero manana alomejor no. Me paso asi con “ Gran Reserva” de RTVE. Ellos estaban dando todos los capitulos hasta que llegaron al ultimo capitulo de la temporada, y por alguna razon no lo tienen. Antes

[2013-12-12 15:02] aabilio commented on #84
He añadido el pequeño soporte sugerido por ti en el último commit: https://github.com/aabilio/PyDownTV2/commit/b3ec55da548f5770aa8161c323629fda5db77b91

[2013-12-12 15:02] #84 closed, assigned to aabilio

[2013-12-12 15:21] aabilio commented on #88
El problema es que pydowntv proporciona los enlaces de los que mitele dispone. Si MiTele solo lo ofrece a través de geobloqueo, nosotros no podemos/debemos hacer nada. (el caso de Antena 3 era distinto ya que inicialmente los geobloqueaban, pero permitían acceder al mismo vídeo sin geobloqueo si se sabía cómo..).

Puedes probar a usar un VPN gratuito para aunque solo sea iniciar la descarga. Para

[2013-12-12 15:21] #88 closed, assigned to aabilio

[2013-12-12 15:25] #76 closed, assigned to aabilio

[2013-12-12 18:24] alvaroordonhez opened #89 "Falla con Televisión de Galicia"
No descarga el video que corresponde con el enlace, si no otro.

Saludos y gracias.

[2013-12-12 18:28] aabilio commented on #89
El vídeo que supuestamente es otro, no contiene en ningún momento el primero (el deseado)?

Dame el enlace por favor.

Graciñas ;)

[2013-12-12 20:03] antonio8909 commented on #85
@denobis tiene ya el programa. cierro la issue porque ya lo tiene y ya va bien

[2013-12-12 20:05] antonio8909 opened #90 "No funcion pydowntv (app) en android"
Hola @aabilio
Te escribo porque la aplicación de Android da un error a la hora de iniciar y al hacer algo (adjunto captura de pantalla), espero que lo puedas arreglar.
Esto pasa sin poner ningún enlace (lo de antena 3 da otro error que dice: "error desconocido" y lo dice en todos los links soportados)
Un saludo
![screenshot_2013-12-12-20-59-51](https://f.cloud.github.com/assets/5004766/1736812/c70

[2013-12-12 20:23] aabilio commented on #90
Es un error de la app, tendría que dejar de salir una vez se descargue el
prime vídeo. Está pendiente de revisión.
El 12/12/2013 21:05, "antonio8909" notifications@github.com escribió:

[2013-12-12 20:25] aabilio commented on #85
A pesar que @denobis hace un gran trabajo, y ha colaborado muchas veces con pydowntv y otras plataformas, el programa al que haces referencia no forma parte de pydowntv.. Por eso mantengo el hilo abierto hasta que pydowntv soporte de manera oficial este canal. Saludos.

[2013-12-12 20:46] antonio8909 commented on #85
y lo vais a soportar????

[2013-12-12 20:47] antonio8909 commented on #90
Pues no me descarga ninguno. He probado rtve, mitele, telecinco, antena 3... y nada de nada

[2013-12-12 21:14] alvaroordonhez commented on #89
Pues si. Perdón. No le di tiempo a descargarse de todo.

Lo siento. Borra este issue. Graciñas a vos ;)

[2013-12-12 22:29] aabilio commented on #89
Es que ya ha pasado antes y es que crtvg pone cachos de vídeos más largos en su web. En realidad se podría bajar solo el el cacho correspondiente, pero es un poco más complicado ;)

[2013-12-12 22:29] #89 closed, assigned to aabilio

[2013-12-12 22:30] aabilio commented on #85
Cuando tenga un poco de tiempo veré qué se puede hacer para la web..

[2013-12-12 22:32] aabilio commented on #90
Como es sabido los principales canales de descarga directa han puesto trabas y esto hace que la api falle de más en estos canales..

[2013-12-15 10:26] antonio8909 commented on #90
@aabilio ese es el error que me aparece con todos los videos. espero que encuentres una solucion

[2013-12-25 10:48] Ronbinn opened #91 "No puedo descargar de EITB con los nuevos enlaces"
Hola estoy intentando descargar este video desde linux (firefox y chrome)
http://www.eitb.tv/eu/bideoa/irrikitown/2345154873001/2809067936001/05-nov-13/

Y me aparecen 3 enlaces para hacer "guardar como..." pero ninguno funciona. Sería posible que pusierais el comando para rtmpdump como haciais antes? Nunca me dieron problemas

Gracias

[2013-12-28 09:43] Bricomaniaco commented on #85
Hola  antonio8909, de que programa se trata y como lo puedo conseguir?

Saludos

[2014-01-03 00:55] juanjosepablos commented on #86
Da error ese metodo:
Access Denied
You don't have permission to access "http://hdstreameitb-f.akamaihd.net/z/multimediahd/videos/2013/12/05/1258014/20131205_13204624_0006421442_002_001_ETB_BARRIUSO.mp4/manifest.f4m" on this server.

Reference #18.7f4a212e.1388710481.1e1e810d

[2014-01-03 02:15] juanjosepablos commented on #86
Pero si añades hdcore=2.7.6 en la petición parece descargar el archivo manifest.f4m . También aparece un parámetro g que parece un indicativo de la sesión. Pero vamos que yo solamente lo he inspeccionado por curiosidad con el http request logger.

php AdobeHDS.php --quality high --manifest "http://hdstreameitb-f.akamaihd.net/z/multimediahd/videos/2013/12/05/1258014/20131205_13204624_0006421442_002

[2014-01-07 17:00] frentemorao commented on #35
buenas

Utilizo este post para no abrir otro.

Antes de navidad no tenía problemas para descargarme videos desde mtv.es en mi raspberry (cogiendo el código de pydowntv y con el rtmp).

Ahora, de vuelta a la rutina, estoy intentando descargarme este mp4 (http://www.mtv.es/programas/geordie-shore-6-temporada/episodios/geordie-shore-608/video/geordie-shore-ep-608-parte-1-de-4-989828/) sin éxito.

En

[2014-01-07 18:15] denobisipsis commented on #35
rtmpdump  -r "rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/GEORDIE-SHORE-6-TEMP/gs608_1280x720_3500_h32.mp4"
-o etwas.mp4

On 1/7/14, frentemorao notifications@github.com wrote:

[2014-01-07 18:46] frentemorao commented on #35
gracias!!

me ha funcionado cambiando las " por ' y poniendo en la misma linea -o etwas.mp4

[2014-01-12 10:19] denobisipsis commented on #91
rtmpdump.exe -r "rtmp://cp150446.edgefcs.net/ondemand/&mp4:102076681001/102076681001_2809234836001_218338-20131105-210732-copy.mp4?**nn**=1497926354001&slist=102076681001/&auth=daEdpdbaeafbEa9dNb_cCcTbzbta9cabraY-bs0MEG-bWG-poyAvpwx_yBAv_DEDA_ErC&aifp=bcosuds" -s "http://admin.brightcove.com/viewer/us20121213.1025/federatedVideoUI/BrightcovePlayer.swf?uid=1355746343102" -y "mp4:102076681001/102076

[2014-01-12 13:40] Ronbinn commented on #91
gracias

Cómo haces para conseguir el comando? es para poder hacerlo yo mismo en un futuro

[2014-01-12 16:50] denobisipsis commented on #91
No se puede conseguir por vías normales html sino usando protocolos especiales (amf).

[2014-01-13 16:28] frentemorao commented on #35
denobis, me ayudas con el 7x01 y 7x02 de Geordie Shore??

http://www.pydowntv.com/?url=http%3A//www.mtv.es/programas/geordie-shore-temporada-7/episodios/geordie-shore-702/video/geordie-shore-ep-702-parte-1-de-4-992421/

http://www.pydowntv.com/?url=http%3A//www.mtv.es/programas/geordie-shore-temporada-7/episodios/geordie-shore-701/video/geordie-shore-ep-701-parte-1-de-4-991405/

[2014-01-13 16:31] aabilio commented on #35
rtmpdump -r 'rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/GEORDIE-SHORE-7-TEMP/gs-702_1280x720_3500_h32.mp4' -o 'Geordie_Shore_Ep.702_Parte_1_de_4.mp4'

rtmpdump -r 'rtmpe://cp35019.edgefcs.net/ondemand/mtviestor/_!/intlod/es/tv/GEORDIE-SHORE-7-TEMP/gs-701_1280x720_3500_h32.mp4' -o 'Geordie_Shore_Ep.701_Parte_1_de_4.mp4'

El error de pydowntv se debe a los cambios en un proxy que

[2014-01-13 16:40] frentemorao commented on #35
muchas gracias!!

para futuras descargas, hay alguna manera de sacar el código sin molestarte??

[2014-01-13 16:45] aabilio commented on #35
Si utilizas el script de pydowntv y estás en España no deberías tener
problemas:

./pydowntv -n "http://www.mtv...." para descargar (debes tener instalado
RTMPDUMP para mtv)
./pydowntv -ns "http://www.mtv...." para ver el enlace

aabilio - http://web.pydowntv.com
GPG id 81D115C4 Abilio Almeida Eiroa (aabilio)
SIP: aabilio@ekiga.net Skype: @a_abilio

2014/1/13 frentemorao notifications@github.com

[2014-01-13 16:50] aabilio commented on #35
Bueno, si usas Windows, necesitas instalar Python (http://www.python.org/ftp/python/2.7.6/python-2.7.6.msi) y llamar al script desde el:

C:\Python2.7\python.exe pydowntv.py -ns "..." (*)

(*)
La C:\ depende de dónde hayas instalado python y la versión la que hayas instalado..
Tienes que estar en la consola donde esté descargado pydowntv.py.. que lo puedes descargar desde aquí (Github: https://git

[2014-01-13 16:56] frentemorao commented on #35
Utilizo la raspberry (por lo tanto debian) y para coger el enlace, el plugin de chrome en windows xp (luego me conecto con putty a la raspberry y lo pongo a descargar)

Estoy en España y durante 2013 me he descargado sin problemas dos temporadas enteras de Geordie Shore.
Ahora me da ese error... (voy a ver si se debe a otro plugin que tengo instalado...)

[2014-01-13 16:59] frentemorao commented on #35
Abilio, otra cosa... no me funcionan tus enlaces... me da el siguiente error:
ERROR: Closing connection: NetStream.Play.StreamNotFound

[2014-01-13 17:09] aabilio commented on #35
Bueno, pues entonces no necesitas python, por que en Debian viene instalado...

1.- Te conectas a la Rasp con a través de ssh como vienes haciendo
2.- Te bajas en el directorio que quieras Pydowntv:

[code]

3.- Descomprimes el paquete:

[code]

4.- Te vas al directorio del script:

[code]

5.- Ejecutas pydowntv para descargar el capítulo:

[code]

o solo para ver los comandos:

[code]

[2014-01-13 17:13] aabilio commented on #35
@frentemorao sobre el error `ERROR: Closing connection: NetStream.Play.StreamNotFound` es el mismo que le daba a @melguel (mirar más arriba en este mismo hilo) y dijo que se solucionó actualizando rtmpdump...

[2014-01-13 17:13] frentemorao commented on #35
yo antes utilizaba directamente rtmdump pero voy a probar tu script!!

En relación a los enlaces, he desinstalado el plugin de chrome "multiaccount login" por si interfería con tu plugin y lamentablemente tengo que decir que sigo obteniendo código erróneo...

[2014-01-13 17:20] aabilio commented on #35
@frentemorao ya comenté arriba que la versión online de pydowntv para mtv tiene un error debido a un proxy que he dejado de utilizar, por eso hasta que lo arregle, seguirá fallando (necesita proxy por que los servers de pydowntv están fuera de España).
Te propongo usar la versión offline (local) de pydowntv (que te digo arriba) para alcanzar los enlaces de mtv. Esta versión debería funcionar si el

[2014-01-13 17:33] aabilio commented on #35
@frentemorao más info sobre el error de los enlaces que copie antes.. parece que Github borró algunos caracteres de la URL:

[code]

[2014-01-13 17:39] frentemorao commented on #35
acabo de probar la versión offline y de lujo!!
edito para decir que también de lujo con los enlaces que acabas de poner (incluyendo los caracteres que borró Github)

[2014-01-14 14:41] mardojin opened #92 "Problema con descarga MiTele"
http://www.mitele.es/programas-tv/abre-los-ojos-y-mira/temporada-1/programa-16/

Normalmente lo descargo sin problema. Esta semana es la primera vez que me sale esto:

ERROR al recuperar el vídeo. ¿Es una URL válida? An error occured while connecting to the server: Unable to fetch URL: http://www.pydowntv.com/utils/YXRyZXNwbGF5ZXJfcmFuZG9tXzI/1389710341;/nogeo/programa/abrelosojos/t1/c16_ok_1b712f

[2014-01-14 15:25] aabilio commented on #92
Ese tipo de problema ya debería estar solucionado (http://www.pydowntv.com/?url=http%3A//www.mitele.es/programas-tv/abre-los-ojos-y-mira/temporada-1/programa-16/). Gracias por reportar.
Saludos.

[2014-01-14 15:25] #92 closed, assigned to aabilio

[2014-01-14 16:16] mardojin commented on #92
Muchisimas gracias!

On Tuesday, January 14, 2014 10:27:46 AM, Abilio Almeida notifications@github.com wrote:

Closed #92.
—
Reply to this email directly or view it on GitHub.

[2014-01-25 11:03] jachsper opened #93 "No esta autorizado a acceder a los recursos autorizados"
Desde hace 2 dias, intento descargar los vídeos del programa 4 Milenio de la web mitele y me aparece el mensaje siguiente : "no esta autorizado a acceder a los recursos autorizados"

Lo he intentado manualmente desde chrome y safari, también instalando el plugin en los dos navegadores, pero nada de nada, me indica que no estoy autorizado:

Access Denied
You don't have permission to access "http://

[2014-01-25 12:18] denobisipsis commented on #93
Probablemente están bloqueando la ip a abilio. Pero el mecanismo sigue
siendo el mismo, aunque están introduciendo servidores akamai.

Por ejemplo

http://mitelepmd-a.akamaihd.net/1/nogeo/programa/cuartomilenio/t9/c350_856ba5f5.mp4?hdnea=st=1390649814~exp=1390653414~acl=/1/nogeo/programa/cuartomilenio/t9/*~hmac=b127bf292a253e3b5039d9e338a35b4c20f5e7fbfcb052bce04f30251cffbefa

El 25 de enero de 201

[2014-01-25 13:30] jachsper commented on #93
Así entiendo que no habrá posibilidad de descargar mas programas online?

Gracias,

[2014-01-25 14:33] denobisipsis commented on #93
De momento se siguen descargando igual de fácil

2014-01-25 jachsper notifications@github.com

[2014-01-25 14:44] jachsper commented on #93
Pues tendré que cambiar mi ip, ya que a mi no me las deje descargar.

Gracias

[2014-01-25 15:37] mardojin opened #94 "Problema con mitele"
Hola. Parece que han vuelto a cambiar algo en mitele.
 URL: http://www.mitele.es/programas-tv/pasapalabra/temporada-2/programa-1-816/
Ayer funcionaba y hoy bo.
Si puedes y tienes tiempo.

Muchas gracias.

Dolores.

[2014-01-25 16:06] denobisipsis commented on #94
Dolores,

http://mitelepmd-a.akamaihd.net/1/nogeo/programa/pasapalabra/t2/c1816_6be20271.mp4?hdnea=st=1390665901~exp=1390669501~acl=/1/nogeo/programa/pasapalabra/t2/*~hmac=76a21e2fb8cb522752ed0aeaf47c254b7c0d68be479a77b9127930f58fbb90d7

El 25 de enero de 2014, 16:37, mardojin notifications@github.com escribió:

[2014-01-25 20:03] doramas67 commented on #93
jachsper, a mi me pasa lo mismo con la temporada 9 de CUARTO MILENIO. No hay forma de que te lo deje descargar, aún procediendo a hacerlo de forma correcta ("guardar enlace como")
A ver si podéis, Abilio, solucionar este problema.
Muchas gracias a todos de antemano.

[2014-01-25 20:53] jachsper commented on #93
Gracias dorama67, creía que sólo me sucedía a mi.
Ojalá encuentren una solución.
Gracias!

[2014-01-25 21:06] doramas67 commented on #93
De nada, a tí,  jachsper

[2014-01-26 15:35] mardojin opened #95 "Continuan los problemas con varios programas en mitele.es"
Sigo sin poder descargar los programs de mitele, aun no puedo descargar pasapalabra y muchos otros. Hoy intente descargar este:

http://www.mitele.es/programas-tv/diario-de/temporada-13/programa-137/

Nada, no puedo descargar nada.

Gracias.

[2014-01-26 15:41] denobisipsis commented on #95
Mientras no se arregle en la página de pydown, con el atresdownloader se
pueden bajar.

http://www18.zippyshare.com/v/25019275/file.html

El 26 de enero de 2014, 16:35, mardojin notifications@github.com escribió:

[2014-01-26 15:46] mardojin commented on #95
atresdownloader?

On Sunday, January 26, 2014 10:41:58 AM, denobis notifications@github.com wrote:

Mientras no se arregle en la página de pydown, con el atresdownloader se
pueden bajar.

http://www18.zippyshare.com/v/25019275/file.html

El 26 de enero de 2014, 16:35, mardojin notifications@github.com escribió:

[2014-01-26 15:48] doramas67 commented on #94
Los de Mitele haciendo de las suyas. Tampoco se puede descargar a través de PyDownTV ningún capítulo ni de CUARTO MILENIO, ni de LA QUE SE AVECINA.

[2014-01-26 16:04] doramas67 commented on #95
¡Funciona el atresdownloader, amigos!

[2014-01-26 16:12] mardojin commented on #95
Muchas gracias. Se me olvido que esto tambien vale.

On Sunday, January 26, 2014 11:04:06 AM, doramas67 notifications@github.com wrote:

¡Funciona el atresdownloader, amigos!
—
Reply to this email directly or view it on GitHub.

[2014-01-26 18:21] jachsper commented on #95
..tambien para Mac?

[2014-01-27 10:45] ismanastic commented on #95
Será que soy extremadamente cortito, pero con lo del multi A3 downloader me pasa lo que nunca me ocurrió con el normal solo para A3. Me dice que no puedo descargar porque me falta un archivo MSVCR110.dll y que por eso no podré descargar, y también algo de AdobeHD me falta. A alguien más le ha salido eso? Es que me bajé ese .DLL y al ir a copiarlo SÍ lo tenía realmente, así que no sé qué diantres p

[2014-01-27 10:56] denobisipsis commented on #95
Tiene que ver con el
Visual C++ Redistributable for Visual Studio 2012Descárgate del siguiente
link el update

http://www.microsoft.com/en-us/download/details.aspx?id=30679#

El 27 de enero de 2014, 11:45, ismanastic notifications@github.comescribió:

[2014-01-27 11:07] ismanastic commented on #95
Primera vez que me pasa...y por qué con el otro no ocurre?
Como diría el padre de Julio Iglesias: "raro raro raro" ^^
Aunque no venga al caso, te hago una pregunta más. Porque creo que va también de códecs y no vi en su día ni una función de MP en este foro :S
Cuando veo ciertos vídeos en webs, estos se oyen pero no se reproducen más que con una retahíla de rayas...ya te digo que no es con todos,

[2014-01-27 11:20] ismanastic commented on #95
No ha surtido efecto, pero gracias.
Sigue saliendo el mensaje de Adobe HD no funciona, no podrás descargar f4m

[2014-01-27 12:02] denobisipsis commented on #95
1-Borra la carpeta php entera

2-descárgate
http://windows.php.net/downloads/releases/php-5.3.28-Win32-VC9-x86.zip

3-y descomprímelo cambiando el nombre del directorio a "php" sin más

2014-01-27 ismanastic notifications@github.com

[2014-01-27 12:17] denobisipsis commented on #95
Tiene que ver con la compilación del último PHP 5.5.8 que es VC11, por lo
que debéis actualizar vuestro visual basic o pasaros a la anterior o
cualquiera que sea superior a 5 y VC9.

2014-01-27 José Luis Lucas Saorín denobisipsis@gmail.com

[2014-01-27 12:49] ismanastic commented on #95
Ahora después de comer lo pruebo :)
Comentario de supermegahiperignorante: en el enlace que me acabas de pasar veo "Win32". Eso no influye en nada en si el sistema operativo es de 32 o de 64 bits? Lo digo porque el mío es de 64 :S
Te informo con lo que sea cuando lo pruebe. Gracias, crack!

[2014-01-27 12:55] denobisipsis commented on #95
Debería funcionarte bien, sólo he visto malfuncionamiento en el windows
server pero si es un windows 7 u 8 normal no debe haber problemas. Yo
manejo x64 y el windows 8 y va bien con el php x32.  De todas formas las
versiones php x64 son todavía experimentales

El 27 de enero de 2014, 13:49, ismanastic notifications@github.comescribió:

[2014-01-27 17:11] aabilio commented on #95
Continuamos en: https://github.com/aabilio/PyDownTV2/issues/94

[2014-01-27 17:11] #95 closed, assigned to aabilio

[2014-01-27 17:13] aabilio commented on #94
Soy consciente de los problemas en pydowntv web y script. Si tengo un poco de tiempo veré lo qué puedo hacer al respecto. Saludos.

[2014-01-27 18:42] antonio8909 opened #96 "Pedir soporte DRM Atresplayer"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-01-27 20:24] frentemorao commented on #35
aunque los videos los descarga perfecto, suelo tener este mensaje al finalizar la descarga...

Download complete
Traceback (most recent call last):
  File "./pydowntv.py", line 247, in <module>
    d.descargarVideo()
  File "/home/pi/PyDownTV2-master/Script/uiDescargar.py", line 140, in descargarVideo
    elif self.__TIPO == "rtmp" or self.__TIPO == "rtmpe": self.__getRTMP()
  File "/home/pi/PyDow

[2014-01-27 23:15] #96 closed, assigned to aabilio

[2014-01-27 23:17] aabilio commented on #35
Es un pequeño error de codificación que tengo que revisar, pero no debería tener mucha importancia..

[2014-01-28 00:09] aabilio commented on #93
Más Info en: https://github.com/aabilio/PyDownTV2/issues/94

[2014-01-28 00:09] #93 closed, assigned to aabilio

[2014-01-28 01:16] aabilio commented on #94
De momento parece que debería ir tirando otra vez... (gracias a @denobis :+1:)

[2014-01-28 02:06] mardojin commented on #94
Muchas gracias por tu trabajo. 

On Monday, January 27, 2014 8:16:55 PM, Abilio Almeida notifications@github.com wrote:

De momento parece que debería ir tirando otra vez... (gracias a @denobis )
—
Reply to this email directly or view it on GitHub.

[2014-01-28 17:48] antonio8909 opened #97 "Conocer como descargar manualmente atresplayer."
Hola @aabilio
Aunque ya existen muchos metodos para descargar de atresplayer me gustaria saber cual es la manera manual para aprenderla.
Un saludo

[2014-01-28 20:10] antonio8909 commented on #94
Este cambio hace que descargue muy muy rapido (1MB/S en mi internet) los videos

[2014-01-29 14:44] antonio8909 commented on #90
@aabilio has pensado ya en una actualización de la app?

[2014-01-29 18:13] ismanastic opened #98 "Fallo con PyDownTV de web RTVE"
Hola,
pues resulta que trato de descargar capítulos de "Amar en tiempos revueltos" con PyDownWeb y ciertos episodios se desincronizan inexplicablemente entre audio y vídeo.
Por ejemplo
http://www.rtve.es/alacarta/videos/television/amar-tiempos-revueltos1t-capitulo/382264/
en la web de RTVE se ve bien, pero al descargarlo se produce un efecto de que parece que hablen a cámara lenta y con retraso.
M

[2014-01-29 20:44] denobisipsis commented on #98
Con las calidades altas no pasa

Para el primero

http://mvod.lvlt.rtve.es/resources/TE_NGVA/flv/6/4/1231955466146.flv

y para el segundo

http://mvod.lvlt.rtve.es/resources/TE_NGVA/flv/6/8/1271177524086.flv

bájate esos

En general, para estos capítulos antiguos sustituye del enlace que obtengas
mp4 por flv.

El enlace desincronizado sería

http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/6/4/12319

[2014-01-30 14:27] ismanastic commented on #98
:O a mí el PyDownTV no me deja escoger entre calidades...me da el enlace que me da y ya, como siempre, vaya.
La pregunta sigue en pie: ¿por qué se desincronizan? Si el vídeo origen es bueno, el resultado debería ser bueno, porque yo no le hago nada más que descargarlo ^^

Pero ahora que lo pienso, a mí cuando me da enlaces de descarga de RTVE, no me da ese http://mvod... sino que me da una ristra

[2014-01-31 13:24] denobisipsis commented on #94
Acabo de hacer funcionar el mitele rtmp

[2014-01-31 13:28] aabilio commented on #94
ya ni me acordaba que existían :D

aabilio - http://web.pydowntv.com
GPG id 81D115C4 Abilio Almeida Eiroa (aabilio)
SIP: aabilio@ekiga.net Skype: @a_abilio

2014-01-31 denobis notifications@github.com

[2014-01-31 13:48] denobisipsis commented on #94
Ahora tengo prisa, luego te envío un mail con la info

2014-01-31 Abilio Almeida notifications@github.com:

[2014-01-31 19:53] simonbcn opened #99 "[Petición] Nombre de fichero más descriptivo"
Hola,
Cuando descargo el nombre del fichero suele ser un conjunto de letras y números que no me dicen nada. ¿No se podría coger el texto del enlace como nombre del fichero a descargar?

[2014-01-31 20:10] ismanastic commented on #94
Has hecho funcionar el rtmp dichoso?
Lo he probado yo y sigue dando el mismo problema. Supongo que aún no has compartido cómo hacerlo. Estaré al caso :P

[2014-02-01 08:30] DJJuls opened #100 "PyDownTV2 Script: Falla descarga por consola"
Tengo instalado PyDownTV2 Script, en una raspberry y hasta hace poco funcionaba bien. He descargado la última versión pero sigue fallando. Este es el error:

pi@raspbmc:~$ pydowntv.py http://www.mitele.es/programas-tv/cuarto-milenio/temporada-9/programa-351/

[ URL ] http://www.mitele.es/programas-tv/cuarto-milenio/temporada-9/programa-351/
[INFO] Mitele.es
[INFO] ID: /nogeo/programa/cuartomilenio

[2014-02-01 10:55] aabilio commented on #100
La actualizo esta noche
El 01/02/2014 09:30, "DJJuls" notifications@github.com escribió:

[2014-02-02 19:58] aabilio commented on #100
Descarga la última versión del script. Ahora debería funcionar. Saludos.

[2014-02-02 20:00] aabilio commented on #99
En la medida de lo posible pydowntv intenta poner nombre descriptivos a los archivos.
Para qué urls se está produciendo lo que comentas?

[2014-02-02 20:08] simonbcn commented on #99
Cuando bajo cualquier programa de mitele.es pone nombres de fichero del tipo `c20_37e2700f.mp4`.

[2014-02-02 22:41] zochre opened #101 "Error con videos de Canal +"
Hola a todos/as:

Desde hace algunos días, he comprobado que ya no funcionan los enlaces de los videos subidos a la web de Canal +

Una URL de ejemplo es la siguiente: http://canalplus.es/play/video.html?xref=20140112plucanftb_13.Ves

Al intentar obtener el link directo al video, aparece el siguiente mensaje:

![captura de pantalla 2014-02-02 a las 23 36 37](https://f.cloud.github.com/assets/65703

[2014-02-03 06:07] lusoma opened #102 "Cambios tele5 bug"
desde hace no mas de 15 dias no me va la descarga.Lo hacia con Opera,copiando de la caché pero ahora observo que guarda el video en multiples trozos .tmp de maximo 500 kbs.
  Trabajo con Ubuntu (kubuntu) y poco a poco han ido desapareciendo las posibilidades,por ejemplo copiando de /proc/id.proceso/fd/xx . Ya no aparece tampoco ahí.
        En tu web,busca y encuentra el video pero no da opcioon a

[2014-02-03 09:31] aabilio commented on #102
A mi sí me funciona. Tanto T5 como MiTele. Puede que lo estés haciendo mal, no hay que hacer clic sobre la imagen, sino sobre el enlace. Por si acaso, mira esta parte del vídeo de ayuda: https://www.youtube.com/watch?v=1_y9MXiHhis#t=49

Saludos.

[2014-02-03 10:37] lusoma commented on #102
He pecado de pardillo,no me aparecia el  titulo,a partir del 1. por tener un script bloqueado.
          Gracias y saludos.
PD- Al registrarme aqui me he liado en el paso3. Me sale "Add owners to the usopersonal organization"  y termino apareciendo en algo como "añadir repositorios". Supongo que sera por poner como organizacion "usopersonal" cuando no soy organizacion si no simple usuario.

[2014-02-03 11:57] aabilio commented on #101
He estado tocando un poco el canal y parece que vuelve a descargar.
Un par de pruebas: http://web.pydowntv.com/?url=http%3A//canalplus.es/play/video.html%3Fxref%3D20140112plucanftb_13.Ves y http://www.pydowntv.com/?url=http%3A//canalplus.es/play/video.html%3Fid%3D1102331%26media%3DNF963272%26cc%3DPLTVPR

[Commit: https://github.com/aabilio/PyDownTV2/commit/3ca9bc50859993cff97982c125056a77507b7b97]

[2014-02-03 11:58] #101 closed, assigned to aabilio

[2014-02-03 11:59] aabilio commented on #102
Bueno, pues parece que solucionado entonces ;)

[2014-02-03 11:59] #102 closed, assigned to aabilio

[2014-02-03 11:59] #100 closed, assigned to aabilio

[2014-02-03 14:28] zochre commented on #101
¡Perfecto!

Muchas gracias :)

[2014-02-03 16:50] aabilio commented on #98
He implementado en PyDownTV los cambios que dice @denobis para los vídeos antiguos. Ejemplo: http://www.pydowntv.com/?url=http%3A//www.rtve.es/alacarta/videos/television/amar-tiempos-revueltos1t-capitulo/382264/

[Commit: https://github.com/aabilio/PyDownTV2/commit/8b831c509ff422530a6172d93f871fffd7ef9bd1]

[2014-02-03 16:50] #98 closed, assigned to aabilio

[2014-02-03 18:20] aabilio commented on #94
He implementado la solución de @denobis para los RTMP. Parece que no hay mucho tiempo para pegar el comando en la terminal. [Commit: https://github.com/aabilio/PyDownTV2/commit/4b2b69dbff0ddfe30c0fd9f00c3fc8947fe2f937]
El que pueda y sepa puede user la versión Script de PyDownTV.

Saludos.

 [Commit de la solución de MiTele para el problema original: https://github.com/aabilio/PyDownTV2/commit/1ac

[2014-02-03 18:20] #94 closed, assigned to aabilio

[2014-02-03 18:28] aabilio commented on #98
Fix "vídeos interactivos" reportado a través de Twitter (lo que al final resultó ser un pequeño fallo que no tenía que ver con los vídeos interactivos: https://github.com/aabilio/PyDownTV2/commit/293da80bc9619e64f1f58eb8f7e3686573f6946a

[2014-02-03 18:32] aabilio commented on #99
He estado probando con varios vídeo de MiTele y todos me han dado nombres descriptivos. ¿Podrías, por favor, pegarme algún enlace concreto para saber cuáles son exactamente los que están fallando y por qué? Gracias.

[2014-02-03 18:39] aabilio commented on #97
Es un tema complejo. Existen muchas maneras de encontrar los enlaces, y que yo sepa ninguno 100% manual.
Puedes ver aquí cómo lo hace pydowntv: https://github.com/aabilio/PyDownTV2/blob/master/spaintvs/grupo_a3.py

Cierro el tema.

[2014-02-03 18:39] #97 closed, assigned to aabilio

[2014-02-03 18:46] aabilio commented on #90
@antonio8909 sobre la app de android decir que aun voy a tardar bastante en actualizarla, ya que requiere mucho tiempo que no tengo.
Pero PyDownTV versión web (http://www.pydowntv.com/) está optimizada para ser usada en dispositivos móviles desde sus inicios. Los vídeos se deberían de poder descargar de la misma manera que se hace en el navegador de un PC.

[[ Para páginas como atresplayer, que bl

[2014-02-03 18:47] simonbcn commented on #99
Olvidé decir que uso el plugin de Firefox 27 en Ubuntu Linux 13.10 64 bits.
Este enlace, por ejemplo: http://www.mitele.es/programas-tv/tu-casa-lo-vale/temporada-3/programa-38/ **>** http://www.pydowntv.com/?url=http%3A//www.mitele.es/programas-tv/tu-casa-lo-vale/temporada-3/programa-38/

[2014-02-03 19:09] aabilio commented on #99
OK. Estábamos hablando de dos cosas diferentes. Yo pensaba que me estabas diciendo que utilizabas el script de PyDownTV, y tú me estabas hablando de la versión web.
Sobre lo que comentas, "no puedo realizar nada". Como te dije, pydowntv ya intenta encontrar un nombre para el archivo resultante que tenga que ver con lo que se está intentando descargar, pero esto es para cuando el programa se ejecut

[2014-02-03 20:31] simonbcn commented on #99
Ok, vale.

No, si yo descargo haciendo `clic derecho` > `Guardar enlace como...` y cambio el nombre pero lo comentaba por si se podía hacer automático.

Buen trabajo por este programa/script/etc... va de coña.

[2014-02-03 20:31] #99 closed, assigned to aabilio

[2014-02-08 18:01] xamot opened #103 "Error al descargar videos de Television Galicia"
Al intentar crear los enlaces para descargar el video sale este aviso: " Error al recuperar el video. Es una url valida? list index out of range"
Ocurre desde hace unos dias, lo podeis revisar?

[2014-02-09 18:27] ghost commented on #3
A ver la verdad es que  mi uso la ultima version de mac pero la web da error.

http://intl.esperanto.mtvi.com/www/custom/intl/errorslates/copyright_error.flv?geo%3Dus' -o 'Geordie_Shore_Ep.704.mp4'

lo ves, ?? como lo arrglo ?

[2014-02-10 17:38] peter55 opened #104 "Api problema (atresplayer)"
Hola.

Para sacar enlaces de atresplayer por la api hay problemas con algunos de ellos no se si por tema de espacios o por la ñ. Por ejemplo en los de Arguiñano.
Ejemplo:
www.pydowntv.com/api?url=http://www.atresplayer.com/television/programas/karlos-argui%C3%B1ano-en-tu-cocina/temporada-1/capitulo-109-cardo-salsa-nueces-huevos-codorniz_2014021000161.html

Gracias. Saludos.

[2014-02-16 19:02] paloma66 opened #106 "No puedo descargar los enlaces de Mitele para rtmpdump"
Hola intento descargar el enlace rtmpdump :

http://www.mitele.es/telenovelas/mentir-para-vivir/temporada-1/capitulo-2/

[code]

pero no se puede , escribe ERROR : rtmp server sent error
                                            ERROR: rtmp server requested close

sera problema mio o temporal del servidor o de Mitele , no se !!!???!! podrian aclararme  por favor , muchisssssimas gracias por su a

[2014-02-16 19:56] aabilio commented on #106
El problema puede ser la "tardanza" en ejecutar el comando.. ya que tiene un tiempo de vida muy corto. Prueba a hacerlo lo más rápido posible (a mi el comando que devuelve pydowntv me ha funcionado).
Saludos.

[2014-02-16 19:59] denobisipsis commented on #106
Asegurate de tener la ultima version del rtmpdump y vuelve a obtener el
link. Caduca rapido
El 16/02/2014 20:02, "paloma66" notifications@github.com escribió:

[2014-02-17 13:52] ismanastic commented on #106
He seguido los pasos del tutorial para rtmpdump y sigo sin enterarme de cómo se hace...
Me he descargado el .exe del archivo, lo he pegado en la carpeta System32, abro la consola de Windows y?? Ahí qué se le pega?
Por ejemplo:
Comandos para rtmpdump:

rtmpdump -r "rtmpe://cp272476.edgefcs.net/ondemand/" -y "mp4:1/rtmpe/geo/programa/hayunacosaquetequierodecir/t3/c58_89e34d6c.mp4?auth=daEc1dHb5dsaxb

[2014-02-17 21:19] Condematos opened #107 "No puedo descargar video de enlace de Atresplayer"
http://www.atresplayer.com/television/programas/lasexta-noche/temporada-1/capitulo-56-baltasar-garzn_2014021600015.html

[2014-02-19 21:11] stamaty commented on #106
Yo tampoco puedo. Creo que tengo la última versión de rtmpdump 2.4 y he intentado copiar el link y ejecutarlo lo más rápido posible. No hay manera, me da el mismo error que a Paloma66. No se que hago mal...

[2014-02-19 21:48] aabilio commented on #106
Mañana habrá un intento de solución. A ver qué tal.. (o esta noche)
El 19/02/2014 22:11, "stamaty" notifications@github.com escribió:

[2014-02-19 23:17] aabilio commented on #107
Puede que sea un error puntual. Vamos a ver si se reproduce en otros vídeos.
Si alguien tiene la app para Android, que vea a ver si le funciona ese vídeo (pydowntv saca los enlaces para Android y no para la web realmente..)

[2014-02-21 13:20] paloma66 commented on #106
Muchas gracias por intertarlo y por todo el interes

[2014-02-21 16:08] atomblu commented on #106
De verdad que no consigo entender porque mitele pone siete telenovelas nuevas que no se pueden ver online desde su página web. He intentado verlas directamente sin tener que descargarlas y no se puede! Son unos chapuceros. Si intentas verlo desde la web de mitele primero que está continuamente cargando con el circulo dando vueltas en el medio. Tienes que esperar bastante tiempo hasta que continua,

[2014-02-21 16:11] denobisipsis commented on #106
Si aabilio me permite, estoy intentando comprender porqué al copiar el link y ejecutarlo no va, ya que en mi servidor se descarga perfectamente y con el programa atres también. Si estáis interesados verdaderamente podéis utilizarlo:

http://www58.zippyshare.com/v/66894968/file.html

[2014-02-21 16:17] atomblu commented on #106
Por favor, si es posible, que el arreglo no tenga que ver con esto de rtmp por que en mi sistema por lo menos, (windows 8.1) no me acepta el comando. Dice una y otra vez que el comando rtmpdump es invalido.

Gracias.

[2014-02-21 16:24] atomblu commented on #106
Gracias Denobis por recordarme lo de atres para descargar.  Voy a intentarlo pero se me olvido la contraseña y no pueda loguear. Qué hago?

Gracias.

Dolores

[2014-02-21 17:11] denobisipsis commented on #106
No hace falta ninguna contraseña, a no ser que sea para atresmedia

[2014-02-21 17:19] atomblu commented on #106
Para atresmedia downloader hay un login y un password.

On Friday, February 21, 2014 12:11:24 PM, denobis notifications@github.com wrote:

No hace falta ninguna contraseña, a no ser que sea para atresmedia
—
Reply to this email directly or view it on GitHub.

[2014-02-21 17:21] atomblu commented on #106
Si abres la pagina que te mando veras arriba a la izquierda el login y
password.  Al no ser que esté completamente equivocada y esto no sea a lo
que te refieres para descargar estas telenovelas de mitele. A mí no me funciona
nada. Y como ya he dicho no puedo verlo online tampoco.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Para atresmedia downloader hay un login y un password.

On Friday, Februa

[2014-02-21 17:52] denobisipsis commented on #106
Para mitele no es necesario

mira:

http://postimg.org/image/pddu43khl/

[2014-02-21 19:41] atomblu commented on #106
Lo intentare. Hasta ahora no he tenido suerte.

On Friday, February 21, 2014 12:52:28 PM, denobis notifications@github.com wrote:

Para mitele no es necesario
mira:
http://postimg.org/image/pddu43khl/
—
Reply to this email directly or view it on GitHub.

[2014-02-21 19:54] atomblu commented on #106
No me
funciona.  En la pagina que adjunto veras
como se queda. Siempre indica que esta descargando 1 y  los números están a cero siempre.  Y nunca empieza a descargar.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Lo intentare. Hasta ahora no he tenido suerte.

On Friday, February 21, 2014 12:52:28 PM, denobis notifications@github.com wrote:

Para mitele no es necesario
mira:
http://postimg.org/im

[2014-02-21 20:11] atomblu commented on #106
Cuando
abro el atresplayer siempre indica 6 descargos en cola. No lo entiendo porque
aun no he pegado el url. Termina estos 6 descargos y luego se para. Y cuando yo pego el url del
video no descarga nada más.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

No me
funciona.  En la pagina que adjunto veras
como se queda. Siempre indica que esta descargando 1 y  los números están a cero siempre.  Y nunc

[2014-02-21 20:13] atomblu commented on #106
Perdona, vuelvo a mandar la pagina.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Cuando
abro el atresplayer siempre indica 6 descargos en cola. No lo entiendo porque
aun no he pegado el url. Termina estos 6 descargos y luego se para. Y cuando yo pego el url del
video no descarga nada más.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

No me
funciona.  En la pagina que adjunto veras
como se queda.

[2014-02-21 20:15] atomblu commented on #106
Creo que por fin lo he solucionada. Si no funciona, lo dejo. Perdona las molestias.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Perdona, vuelvo a mandar la pagina.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Cuando
abro el atresplayer siempre indica 6 descargos en cola. No lo entiendo porque
aun no he pegado el url. Termina estos 6 descargos y luego se para. Y cuando yo pego el url del
video n

[2014-02-21 20:41] atomblu commented on #106
Por fin funciona! Con atresplayer downloader. Muchisimas gracias a todos.

[2014-02-22 06:24] aabilio commented on #106
He añadido una pequeña ayuda más.
Ejemplo: http://web.pydowntv.com/?url=http%3A//www.mitele.es/telenovelas/la-tempestad/temporada-1/capitulo-10/
FAQ: http://www.pydowntv.com/ayuda#DescargarRtmpEasy

[2014-02-22 06:24] #106 closed, assigned to aabilio

[2014-02-22 15:57] stamaty commented on #106
He utilizado las ayudas para descargar rtmpdump de la página. Lo primero decir que FUNCIONA!
Luego explico que he hecho varias descargas:en todas el archivo generado no tiene extensión, le he añadido el .mp4 y  perfecto. Como la descarga se añade automáticamente, no toco nada de donde dice comando: y nombre:. Quizá tendria que poner ahí el nombre que quiero del archivo, pero no se muy bien como, t

[2014-02-22 18:03] aabilio commented on #106
Tanto easy rtmpdump como rtmp downloader desde pydowntv no tiene soporte
para cambiar el nombre de archivo resultante. Lo tendrá para los dos..

El sábado, 22 de febrero de 2014, stamaty notifications@github.com
escribió:

##

aabilio - http://web.pydowntv.com
GPG id 81D115C4 Abilio Almeida Eiroa (aabilio)
SIP: aabilio@ekiga.net Skype: @a_abilio

[2014-02-23 16:03] atomblu commented on #106
Imposible descargar este capitulo:

http://www.mitele.es/telenovelas/la-tempestad/temporada-1/capitulo-1/

Se queda en cola sin descargar.

Muchas gracias.

On Saturday, February 22, 2014 1:03:53 PM, Abilio Almeida (aabilio) notifications@github.com wrote:

Tanto easy rtmpdump como rtmp downloader desde pydowntv no tiene soporte
para cambiar el nombre de archivo resultante. Lo tendrá para los dos.

[2014-02-23 16:09] denobisipsis commented on #106
Atomblue, si ocurre eso para la descarga (menú funciones de cola) y vuelve a buscar. A veces pasa, pero al final se descarga.

[2014-02-23 16:13] atomblu commented on #106
Gracias. Lo seguire intentando.

On Sunday, February 23, 2014 11:09:28 AM, denobis notifications@github.com wrote:

Atomblue, si ocurre eso para la descarga (menú funciones de cola) y vuelve a buscar. A veces pasa, pero al final se descarga.
—
Reply to this email directly or view it on GitHub.

[2014-02-23 16:44] atomblu commented on #106
Que puedo hacer cuando se para por ejemplo en 35% de descargo y de ahi no pasa.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Gracias. Lo seguire intentando.

On Sunday, February 23, 2014 11:09:28 AM, denobis notifications@github.com wrote:

Atomblue, si ocurre eso para la descarga (menú funciones de cola) y vuelve a buscar. A veces pasa, pero al final se descarga.
—
Reply to this email directly o

[2014-02-23 16:47] denobisipsis commented on #106
Esperar, está programado para parar de descargar sólo cuando se complete, a no ser que tú lo pares manualmente. Por experiencia te digo que los rtmp pueden pararse y tras un tiempo continúar, eso significa que se ha cortado la conexión, pero el programa la recupera las veces necesarias.

[2014-02-23 16:57] atomblu commented on #106
Me he encontrado con un problema nuevo.  He notado ya dos veces que termina de descargar un capitulo y cuando abro la carpeta no esta el video. Como puede suceder eso? Ha sido despues de cambiar a la ultima version de atres downloader.

On Sunday, February 23, 2014 11:47:31 AM, denobis notifications@github.com wrote:

Esperar, está programado para parar de descargar sólo cuando se complete, a no s

[2014-02-23 17:15] atomblu commented on #106
Ha dejado de funcionar.  He vuelto a descargar otro capitulo y la carpeta de descargos esta completamente vacia.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Me he encontrado con un problema nuevo.  He notado ya dos veces que termina de descargar un capitulo y cuando abro la carpeta no esta el video. Como puede suceder eso? Ha sido despues de cambiar a la ultima version de atres downloader.

On S

[2014-02-23 17:32] atomblu commented on #106
He vuelto a descargar de nuevo atresdownloader 14.1 para probar desde un principio y no funciona. Cuando abro la carpeta gris, al lado del triangulo naranja, solo se ve una carpeta que pone IMG. No hay nada mas. No se que ha pasado.

On , DOLORES JIMENEZ mdjn@rogers.com wrote:

Ha dejado de funcionar.  He vuelto a descargar otro capitulo y la carpeta de descargos esta completamente vacia.

On , DO

[2014-02-24 11:30] ismanastic commented on #106
He probado el nuevo A3 Multi Downloader y al menos ya me encuentra el vídeo rtmpdump, pero ahora surge el problema de que se queda parpadeando y no descarga nada y si le das, te dice que ya está en proceso. Además me he fijado que te da una descarga gigantesca: normalmente esos programas pesan entre 1'9 y 2 gigas, aquí me da uno de 6'1 gigas, lo que es una salvajada.
Es normal?

[2014-02-24 11:47] denobisipsis commented on #106
Dime con qué video

[2014-02-24 12:37] ismanastic commented on #106
http://www.mitele.es/programas-tv/hay-una-cosa-que-te-quiero-decir/temporada-3/programa-58/

Lo que he hecho ahora es leer que @aabilio puso un tutorial con otro programa alternativo, que abre una página y tal. Parece que ese funciona, ya te diré, pero va para largo porque es un programa de 4 horas. Aun así, te agradecería que miraras lo del A3 Multi-Downloader :)

[2014-02-24 12:45] denobisipsis commented on #106
Lo del tamaño es una estimación en función del bitrate y la duración, así que es orientativo aunque en la mayoría de ocasiones funciona. Si el rtmp se queda a cero sin avanzar lo que tienes que hacer es cancelar y volver a buscar.

[2014-02-24 12:47] ismanastic commented on #106
No sé qué diantres he hecho, pero ahora no me funciona lo otro pero sí el Multi-Downloader :S
Ahora ni me carga el pydown, a saber qué le pasa. Al menos me descarga ya, pero esos 6'21 gigas me va a tardar una eternidad ^^ y para riperarlo ni te digo puajjj.
Tienen relación un programa con otro? Porque al ir a cerrar lo que tuve abierto del A3 Multi-D es cuando me ha cancelado la otra descarga y ah

[2014-02-24 12:52] denobisipsis commented on #106
Como te digo, a veces falla la primera vez y no descarga, pero si pruebas más veces te lo saca. No tienen relación los programas, es mejor que los corras en tiempos distintos cuando se trate de rtmp. Sobre los 6 GB la información que obtengo es que dura 239 minutos a un bitrate combinado de 1800. Eso son casi 4 horas a un alto bitrate, por lo que es factible.

[2014-02-24 13:06] ismanastic commented on #106
Pero en pydown siempre me da unos 1'9-2 gigas, puedes comprobarlo en cualquier programa.
Lo más curioso es que de las 3 temporadas solo ese programa me ha dado ese quebradero de cabeza...y que conste que no miro el programa xD es más, ni me interesa, pero suelo descargarlo todo

[2014-02-24 16:01] denobisipsis commented on #106
Ya está arreglado, efectivamente son dos gigas, con un bitrate real de unos
1200.

El 24 de febrero de 2014, 14:06, ismanastic notifications@github.comescribió:

[2014-02-24 20:26] ismanastic commented on #106
Lo he descargado. Se desincroniza, pero menos es nada. Es leve el desfase, pero se "nota",,,y se queda como a medias, porque al descargar se paraliza en "Faltan 2 segundos" y de ahí no pasa. Lo he tenido casi 1 hora así y nada, lo he cancelado y ya, total, serán 1 o 2 segundos del programa y dudo que sea ese el motivo de la desincro.
Gracias!
Entre @denobis y @aabilio nos van dando mil y una soluc

[2014-02-25 20:46] stamaty commented on #106
Sigo utilizando rtmp downloader desde pydowntv y va como la seda. Perfecto, ni un solo problema!

[2014-03-04 14:47] atomblu opened #108 "RTMP DOWNLOAD NO FUNCIONA"
Llev dos dias probando y no funciona. Imediatamente pone fallo y fallo y fallo. No  importa que video sea falla una y otra vez.

[2014-03-07 11:29] paketepl opened #109 "Pedir soporte para nuevo canal - TV Mediterraneo"
Hola,
Si fuera posible me gustaria que incluyerais en vuestra herramienta el canal TV Mediterraneo. Es un canal regional pero tienen una tertulia deportiva de 1.5h muy buena que no se puede descargar via videodownloadhelper, jdowloader......
Muchas gracias de antemano.
Os adjunto un link publico a un programa
http://webtv.tvmediterraneo.es/video/?videoId=e-24

[2014-03-07 13:05] denobisipsis commented on #109
De momento te dejo el link

http://progressive.enetres.net/mp4Streamer.php?u=489DDF7FE98241D19D8970314BC9D3EF&c=001&f=2014-03-05-23-30-08-021-021-live-300.mp4

El mecanismo es muy sencillo, si puedo lo implemento

[2014-03-09 11:26] lluis1950 opened #110 "Peticion de canal nuevo .... Orange Arena"
Me gusta mucho el baloncesto, hace un tiempo podia bajarme lospartidos de Orange Arena pero ahora lo veo imposible y me encantaria poder seguir bajando algun partido
Os agradezco todo el trabajo que haceis, ya que gracias a vosotros puedo bajarme series y otros programas.
Luis Giner

[2014-03-10 11:46] aabilio commented on #108
¿te sigue fallando?

[2014-03-10 12:41] atomblu commented on #108
Hola. No, funciona de maravilla ahora.   Perdona si no conteste es que tuve una pequeña
emergencia estos últimos días.  Muchas
gracias por preguntar y por todo el trabajo que haces. 
Saludos
Dolores.

On Monday, March 10, 2014 7:46:42 AM, Abilio Almeida (aabilio) notifications@github.com wrote:

te sigue fallando?
—
Reply to this email directly or view it on GitHub.

[2014-03-10 12:45] #108 closed, assigned to aabilio

[2014-03-10 15:00] denobisipsis commented on #110
Lo tengo a punto pero sólo con el atresdownloader, en la próxima revisión. El canal webtvmediterráneo ya está incorporado.

[2014-03-10 15:09] lluis1950 commented on #110
Muchas gracias por tu trabajo
Saludos

[2014-03-11 14:37] denobisipsis commented on #110
Varias cosas:

1- Se requiere necesariamente login
2- los videos de música están en dailymotion, pero hay que encontrar el código relacionado
3- los de baloncesto son hls ios

[2014-03-11 15:23] lluis1950 commented on #110
No se como hacer funcionar        atresdownloader ..... me podrias ayudar, por favor
Luis

[2014-03-11 16:04] denobisipsis commented on #110
Esa versión no incorpora todavía el arenaorange, pero pronto subiré el
update.

Para hacerlo funcionar sólo hay que copiar la url de la página donde esté
el video que quieras descargar y pulsar el botón con la lupa. Si todo va
bien te saldrán varios botones con las calidades disponibles. Pulsas el que
desees y se baja al directorio downloads, y también lo tienes accesible en
el menú últimas descar

[2014-03-11 16:21] lluis1950 commented on #110
## Muchisimas gracias por la informacion y pronta subida del update a orange arena

El mar, 11/3/14, denobis notifications@github.com escribió:

 Asunto: Re: [PyDownTV2] Peticion de canal nuevo .... Orange Arena (#110)
 Para: "aabilio/PyDownTV2" PyDownTV2@noreply.github.com
 CC: "lluis1950" lluis1950@yahoo.es
 Fecha: martes, 11 de marzo, 2014 17:04

 Esa versión no incorpora todavía el
 arenaorang

[2014-03-19 01:59] angelsarroyo opened #111 "Solicitar soporte para nuevo canal en la versión web de PyDownTv"
La url del canal de televisión solicitado es:
www.btv.cat

Felicito vuestro trabajo y os doy las gracias
Àngels

[2014-03-21 17:25] MagoSolar opened #112 "Petición de de soporte para nuevo canal, Survival.es"
Me gustaría solicitar que incluyérais a Survival Internacional, por ejemplo:
http://www.survival.es/peliculas/alla-vamos

Muchas gracias, y ¡ánimo!

[2014-03-21 22:20] codex-20 opened #113 "Petición nuevo canal (8TV)"
Hola.

En otras ocasiones habéis sido increíbles a la hora de responder a una petición. A ver si es posible de nuevo!

Se trata de los videos de http://www.8tv.cat

El que quiero ahora mismo en concreto es:

http://www.8tv.cat/migdia/videos/societat/immersio-laboral-sindrome-de

Muchas gracias por todo. Saludos.

[2014-03-22 08:20] antonio8909 commented on #112
http://assets.survivalinternational.org/video_files/1202/there-you-go-edit-master-ipod-360p.m4v

[2014-03-22 08:27] antonio8909 opened #114 "Finalizado"
Prueba

[2014-03-22 08:28] codex-20 commented on #113
Estoy casi allí con la URL pero no he sido capaz:

[09:24:34.855] GET http://ma156-r.analytics.edgesuite.net/9.gif?a=P~b=9c1e67f75e9bf1686~c=4A1BE383E04A7A085B96B2CAFAB86C0191EAF742~d=FE5C8EFEBF7A9E115C0BA21D8F08A479C3524326~e=3~f=R~g=0~h=1.2~i=1.1~k=0348E46A1BAFCCA266633EED97ED7509E05CA063~am=D~_ac=a500/d15/&mp4:media/1589608506001/201403/3127/1589608506001_3372175900001_Down-Migdia21mar.mp4&1395

[2014-03-22 08:52] codex-20 commented on #113
Y con un poco más de sudor lo he logrado, el video de:

http://www.8tv.cat/migdia/videos/societat/immersio-laboral-sindrome-de

está en:

http://brightcove.vo.llnwd.net/pd15/media/1589608506001/201403/3127/1589608506001_3372175900001_Down-Migdia21mar.mp4

Si pudieráis incorporar el canal sería estupendo, ¡¡muchas gracias!!

[2014-03-22 16:04] antonio8909 commented on #113
Te recomiendo el programa internet download manager porque ese programa detecta la mayoria de videos de estas paginas.
http://www.intercambiosvirtuales.org/software/internet-download-manager-6-final-ml-espanol-gestor-de-descargas-veloz-compatible-con-los-navegadores-actuales
Saludos

[2014-03-22 21:23] codex-20 commented on #113
Gracias Antonio, le daré un vistazo aunque yo soy fan incondicional de PyDownTV :)

[2014-03-23 09:25] antonio8909 commented on #113
Cuando lo vayas a extraer abre el rar sin extraerlo y en la carpeta patch cambia el nombre tan largo que tiene a patch.exe y ya lo extraes.
Cada vez que se actualice ejecutas el patch y listo

[2014-03-23 20:11] MC26 commented on #109
Hola! Me estoy volviendo loca buscando una programa o manera de descargar un video colgado en TV Mediterraneo también.
El enlace es:
http://webtv.tvmediterraneo.es/video/?videoId=e-56
Por favor, si podeis hacer algo, os lo agradecería muchísimo!!
Gracias de antemano.
Saludos

[2014-03-23 22:57] denobisipsis commented on #109
http://progressive.enetres.net/mp4Streamer.php?u=489DDF7FE98241D19D8970314BC9D3EF&c=001&f=8eb111dbea152-58-41-021-021-live-700.mp4

El 23 de marzo de 2014, 21:11, MC26 notifications@github.com escribió:

[2014-03-23 22:58] denobisipsis commented on #109
Cómo me gustaría estar en las fallas che, :-)

El 23 de marzo de 2014, 23:57, José Luis Lucas Saorín <
denobisipsis@gmail.com> escribió:

[2014-03-23 23:08] MagoSolar commented on #112
Muchas gracias!!!

  ----- Original Message -----
  From: antonio8909
  To: aabilio/PyDownTV2
  Cc: MagoSolar
  Sent: Saturday, March 22, 2014 5:20 AM
  Subject: Re: [PyDownTV2] Petición de de soporte para nuevo canal, Survival.es (#112)

  http://assets.survivalinternational.org/video_files/1202/there-you-go-edit-master-ipod-360p.m4v

  —
  Reply to this email directly or view it on GitHub.

[2014-03-24 16:13] MC26 commented on #109
Muchísimas gracias!!!! Por la rapidez y por la eficacia
Pues sí, las fallas son las mejores fiestas del mundo jejeje!! :)

[2014-03-24 23:09] Llongueraitis opened #115 "Paydowntv no funciona con ATRESPLAYER"
He copiado la URL correctamente:
http://www.atresplayer.com/television/programas/tu-cara-me-suena/temporada-1/tu-cara-me-suena_2011122300221.html
Y cada vez me da error, he probado con chrome y firefox y no hay nada que hacer.

Estan seguros que funciona?
![error atresplayer](https://f.cloud.github.com/assets/7052733/2506562/46e37ea6-b3a9-11e3-97da-a8201c007276.jpg)

[2014-03-24 23:13] aabilio commented on #115
El vídeo al que intentas acceder es de pago y pydowntv no soporta este tipo de vídeos. Saludos.

[2014-03-24 23:13] #115 closed, assigned to nobody

[2014-03-24 23:14] aabilio commented on #113
Por mi parte ahora mismo está muy difícil que le pueda dedicar tiempo. Estoy muy liado. A ver si alguien se anima a hacerlos. Saludos

[2014-03-25 09:32] Llongueraitis commented on #115
Muchas gracias por la información.

Sabes alguna manera de hacerlo?, porque mi hija pequeña me tiene loco con este programa y quisiera bajarle la 1era y 2da temporada.

En series yonkis están casi todos los episodios pero se ven fatal y están desincronizados muchos de ellos.

Por torrent sólo están los últimos en mp4 que se ven muy bien.

Gracias por tu ayuda

De: Abilio Almeida (aabilio) [mailto:

[2014-03-29 02:13] simonbcn commented on #83
A mi me pasa lo mismo con la versión web cuando quiero intento bajarme: http://www.rtve.es/alacarta/videos/ochentame-otra-vez/

[2014-03-29 02:21] simonbcn opened #116 "Imposible instalar el script en Ubuntu 13.10 64 bits"
Ubuntu 13.10 64 bits
PyDownTV 0.1.0-ALPHA

[code]

He instalado `python-setuptools` y `python3-setuptools`.

[2014-04-01 18:12] forestrf commented on #86
http://www.eitb.com/multimediahd/videos/2013/12/05/1258014/20131205_13204624_0006421442_002_001_ETB_BARRIUSO.mp4

"http://www.eitb.com/" + (desde z/ hasta /manifest.f4m en la url del f4m)

[2014-04-02 08:18] simonbcn opened #117 "Vídeos descargados en Linux con el flag ejecutable"
Ubuntu 13.10 64 bits
PyDownTV 0.1.0-ALPHA

Usando el script me he bajado varios vídeos de diferentes TVs y todos se bajan con el flag "x" (ejecutable) activado. ¿Por qué? Esto no debería ser así y es un fallo de seguridad.

[2014-04-05 19:39] karidenicolai commented on #109
Hola me puedes ayudar a mi tambien mi link es este:

http://webtv.tvmediterraneo.es/video/?videoId=e-52

tambien es de fallas, he intentado localizar el mp4 con el codigo fuente, pero no lo veo o no se como se hace, muchas gracias.

[2014-04-05 20:03] denobisipsis commented on #109
http://progressive.enetres.net/mp4Streamer.php?u=489DDF7FE98241D19D8970314BC9D3EF&c=001&f=ebf974099f4d8-50-37-021-021-live-700.mp4

El 5 de abril de 2014, 21:39, karidenicolai notifications@github.comescribió:

[2014-04-05 20:17] karidenicolai commented on #109
Muchassssssssssssssss Graciasssssssssssssss

[2014-04-08 12:14] aabilio commented on #117
Tienes razón, no me había dado cuenta ;)
El problema está al crear el archivo con os.open (aquí: https://github.com/aabilio/PyDownTV2/blob/master/Script/pyaxel/pyaxel.py#L342).
Debería ser: out_fd = os.open(output_file+".part", os.O_CREAT | os.O_WRONLY, 0600) para que el archivo solo quedara con permisos de lectura y escritura.

Lo tengo cambiado, haré push dentro de poco.
Saludos.

[2014-04-08 12:14] #117 closed, assigned to aabilio

[2014-04-08 12:17] aabilio commented on #116
Tengo que intentar reproducir el error en GNU/Linux a ver qué puede estar pasando. A ver si tengo un poco de tiempo estos días..
Saludos.

[2014-04-11 08:06] simonbcn opened #118 "[Petición] Parámetro adicional para el nombre de fichero"
Estoy usando el script en Linux y el nombre que pone a los programas a veces son excesivamente largos: "_Programa_2-Destino_de_caballero_-Destino_de_caballero--Un_principe_para_Laura-Temporada_1.mp4_"
Por eso estaría bien que el script tuviese una manera de poder indicar el nombre para cada URL. Yo veo dos posibilidades:
1. Si el parámetro que viene a continuación de una URL no es otra URL tomarlo

[2014-04-11 08:15] simonbcn commented on #107
A mi me pasa con el script, he probado varias URLs de diferentes vídeos de AtresPlayer y todos fallan. En lugar de bajar el vídeo baja un fichero de texto con el nombre `VideoAtresPlayer.mp4` de ~190 bytes con el contenido:

[code]

Sin embargo, si uso la web sí funciona.
Por poner unos ejemplos, todos los programas de "El Jefe Infiltrado" fallan: http://www.atresplayer.com/television/programas/el

[2014-04-11 12:36] maseret commented on #109
Espero que no sea ya abusar, jeje. Me gustaría que me ayudaras con otro video de fallas:
http://webtv.tvmediterraneo.es/video/?videoId=e-49
Muchas gracias!

[2014-04-11 19:17] atomblu opened #119 "rtmp downloader"
Lleva todo el dia dando fallos. No se que pasa.

[2014-04-11 21:42] atomblu commented on #108
Hoy
dejo de funcionar RTMP DOWNLOADER VO 2B.  Se abre la ventanita
negra y se queda diciendo Espere por favor y nunca empieza a descargar el
contenido.  En la pagina que se abre en
el navegador da un fallo inmediatamente. Esto ocurrió una vez ya hace tiempo.
No sé por qué ocurre de repente.
 
Gracias.

[2014-04-12 04:23] denobisipsis commented on #109
http://progressive.enetres.net/mp4Streamer.php?u=489DDF7FE98241D19D8970314BC9D3EF&c=001&f=0d0863ec972d1-22-16-021-021-live-700.mp4

El 11 de abril de 2014, 14:36, maseret notifications@github.com escribió:

[2014-04-12 11:41] forestrf commented on #108
Qué vídeo provoca el fallo?

[2014-04-12 14:02] atomblu commented on #108
Incluyo un pdf donde se ve la ventanilla negra que se queda asi con "espere por favo", la ventana de rtmp que indica el fallo, y pydowntv con la novela. Me da fallo en todas las telenovelas de mitele.es. Ocurrio por primera vez ayer.

Gracias.
On Saturday, April 12, 2014 7:41:26 AM, Andrés notifications@github.com wrote:

Qué vídeo provoca el fallo?
—
Reply to this email directly or view it on Git

[2014-04-14 07:20] maseret commented on #109
Velocidad y eficacia...un crack!
Muchísimas gracias!!!

[2014-04-18 11:21] Salvat0res opened #120 "Videos en HD"
¿Existe la posiblidad de descargar en calidad HD?

[2014-04-28 09:38] aabilio commented on #120
PyDownTV no tiene ninguna manera de descargar vídeos de otra forma que no sea la que se publica (para algunos vídeos se dan varias opciones de calidad).
Si lo que quieres son vídeo en HD de atresplayer, y tienes Windows puedes usar este software de Denobis: http://www.mediafire.com/download/z4jujjg5975udck/a3toMP4v15.exe

Saludos.

[2014-04-28 09:38] #120 closed, assigned to nobody

[2014-04-28 10:02] aabilio commented on #119
Forest va sacando nuevas versión del programa. Puedes verlas aquí y probar otras si una no te funciona: https://github.com/forestrf/RTMP-Downloader/releases

Saludos!

[2014-04-28 10:02] #119 closed, assigned to nobody

[2014-04-28 10:05] aabilio commented on #118
Estupendo!, veo la opción del flag. Cuando tenga un poco de tiempo lo meto, sino se anima alguien antes..

Saludos.

[2014-04-28 10:12] aabilio commented on #107
@simonbcn es normal que es script para atresplayer te estuviera fallando ya que en ese momento metieron necesario el logueo desde atresplayer para acceder a la API a todos los vídeos. Ahora mismo (última versión), es normal que desde el script te siga "fallando" ya que ahora pydowntv no devuelve la url final, sino la url a la que hay que acceder para obtener el vídeo (API interna de atresplayer),

[2014-04-28 10:17] aabilio commented on #104
Evidentemente tengo que arreglar esos fallos, pero cuando sea así, dale formato a la url tipo %encode, por ejemplo: http://www.pydowntv.com/api/http%3A//www.atresplayer.com/television/programas/karlos-argui%25C3%25B1ano-en-tu-cocina/temporada-1/capitulo-160-crema-esprragos-verde-galletas-queso_2014042500160.html

Por cierto, la API para atresplayer ahora mismo la no da la url del vídeo final, sino

[2014-04-28 10:17] #104 closed, assigned to aabilio

[2014-04-28 10:46] simonbcn commented on #107
en resumen, para que funcione el script ¿tengo que registrarme y estar logueado en A3Player en el browser? ¿Pero el script cómo detectará esto si es independiente del navegador?

[2014-04-28 10:56] aabilio commented on #107
No, no me he explicado muy bien, sorry.
El script, directamente no te va a funcionar, ya que lo que te devuelve es la url de una api interna de atresplayer (lo puedes ver si ejecutas pydowntv así: pydowntv -nsd <url_del_video>) y no la url final del vídeo, por lo tanto lo que descargará es una archivo de texto en formato json con información errónea, como la que muestras arriba en otro comentario.

[2014-04-28 18:25] simonbcn commented on #107
¿Y por qué la versión web de pydowntv me deja descargar un programa sin estar logueado?

[2014-04-28 18:53] forestrf commented on #107
Si un vídeo de ATresPlayer pide que estés logueado en su web para verlo, no podrás conseguir el enlace del vídeo sin antes loguearte. Si puedes verlo sin estar logueado podrás conseguir el enlace del vídeo.

Tal y como dice Aabilio, PyDownTV no da como resultado el enlace del vídeo, en su lugar da la dirección de un archivo json que contiene el enlace del vídeo.
Ese archivo lo descarga el usuario

[2014-04-28 19:24] atomblu commented on #119
Muchas gracias.
On Monday, April 28, 2014 6:02:11 AM, Abilio Almeida (aabilio) notifications@github.com wrote:

Forest va sacando nuevas versión del programa. Puedes verlas aquí y probar otras si una no te funciona: https://github.com/forestrf/RTMP-Downloader/releases
Saludos!
—
Reply to this email directly or view it on GitHub.

[2014-04-28 20:00] simonbcn commented on #107
Yo no tengo cuenta en A3Player y me puedo bajar vídeos de programas a través de la web usando el complemento para Firefox PyDownTV pero no lo baja cuando uso el script.
Como muestra un botón: http://www.atresplayer.com/television/programas/salvados/temporada-8/capitulo-9-los-otros-olvidados_2014042500361.html

Que yo sepa todos los vídeos están disponibles en formato SD públicamente, sin necesidad

[2014-04-29 20:14] atomblu commented on #119
He probado la version nueva y solo funciona de vez en cuando. Tengo que estar todo el dia probando hasta conseguirlo.  No funciona como debia de funcionar.
On Monday, April 28, 2014 3:20:51 PM, DOLORES JIMENEZ mdjn@rogers.com wrote:

Muchas gracias.
On Monday, April 28, 2014 6:02:11 AM, Abilio Almeida (aabilio) notifications@github.com wrote:

Forest va sacando nuevas versión del programa. Puedes

[2014-05-01 21:06] bdovaz commented on #11
Alguna novedad? Tengo desarrollada una app para Chromecast y me gustaría implementar esta posibilidad también.

[2014-05-01 21:42] bdovaz opened #121 "Falla al obtener ciertos enlaces de EITB"
Me he fijado que en la web pone que EITB es por RTMP pero ahora es por HTTP.

Mi problema es que con contenidos nuevos parece que funciona bien al obtener los enlaces pero no con los antiguos (pone "File not found."").

Ejemplo correcto:

http://www.eitb.tv/es/video/kontrako-eztarria-lo-ultimo/676435921001/3525645190001/kontrako-eztarria--2014-0501-/

Ejemplo incorrecto:

http://www.eitb.tv/es/vid

[2014-05-01 22:27] aabilio commented on #11
Por mi parte no voy a desarrollar nada al respecto por falta de tiempo,
pero lo que podemos hacer es un listado aquí de los streams que no creo que
sea muy difícil conseguirlos a mano (y ya hay muchos servicios que ofrecen
esto) y supongo que estos streams no cambiarán con frecuencia..
El 01/05/2014 23:06, "N3uRo" notifications@github.com escribió:

[2014-05-03 00:44] juanjosepablos commented on #107
Pues parece mas bien un error de codigo. si:
URL DE DESCARGA FINAL  https://servicios.atresplayer.com/api/xxxxxxxxx/es.json le quitas el .json
el fichero de texto (json) que descargas tiene el contenido correcto.  resultDes":"http://dpt.antena3.com/xxx/900K_640x360_main.mp4?nvb=xxx&nva=xxx&&token=xxx

es la url valida del capitulo completo sin usuario y contraseña. Tal y como lo puedes ver desde l

[2014-05-03 01:26] juanjosepablos commented on #107
A mi este cambio me ha funcionado con los episodios completos y que se emiten en abierto. Si puedes verlo en la web sin usuario y contraseña, esto te funciona (normalmente los 2 ultimos) :

[code]

[2014-05-05 15:04] ismanastic opened #122 "Serie Desenlace, colgada en Vertele"
Hola, como PyDown solo descarga vídeos de webs de televisión, no permite descargar esa serie inédita que ha puesto Vertele en su web.
Sabéis si podéis hacer alguna modificación al programa para poder descargarla? Gracias!

[2014-05-05 18:03] aabilio commented on #122
A ver si alguien se anima a programar vertele.
De momento con este script:

[code]

Sacas las urls de desenlace en SD:

| TITLE | URL | SMIL |
| --- | --- | --- |
| Desenlace Venenosos | http://www0.c03837.cdn.qbrick.com/80407/ncode/2014-04-23/Venenosos_aos_ba3b3e89.mp4 | http://vms.api.qbrick.com/rest/v3/player.smil?cid=B4815C84&assetId=AD96C75B&clipBegin=0&clipEnd=0&playListItemId=315696 |
| Des

[2014-05-07 06:27] bdominguez opened #123 "No funcionan los enlaces de mitele"
Pues eso, desde esta noche no funcionan los enlaces de mitele ni desde la api ni desde la web.

[2014-05-07 10:07] aabilio commented on #123
Ha sido un error en una migración. Dentro de poco tendría que empezar a funcionar con normalidad otra vez.
Gracias por reportar.
Saludos.

[2014-05-07 10:12] aabilio commented on #123
Parece que todo ya empieza a funcionar con normalidad.

[2014-05-07 10:12] #123 closed, assigned to aabilio

[2014-05-08 09:10] ismanastic commented on #122
Eres un genio! No sé cómo lo has hecho, pero esta tarde me pongo al lío :P

[2014-05-08 15:54] bdovaz commented on #123
Gracias!

[2014-05-08 15:58] bdovaz opened #124 "No funcionan los enlaces de Telemadrid"
Estoy probando los enlaces y no funcionan. Ejemplo reciente:

http://www.pydowntv.com/api/http://www.telemadrid.es/programas/hora-deportiva/hora-deportiva-08052014

¿Podéis mirarlo?

Gracias!!

[2014-05-08 16:21] aabilio commented on #124
ok. Gracias por reportar.

[2014-05-08 16:37] aabilio commented on #124
Ya debería estar funcionando con normalidad otra vez. Échale un ojo.

API: http://www.pydowntv.com/api/http://www.telemadrid.es/programas/hora-deportiva/hora-deportiva-08052014

[code]

Web: http://www.pydowntv.com/?url=http://www.telemadrid.es/programas/hora-deportiva/hora-deportiva-08052014

Saludos.

[2014-05-08 16:43] bdovaz commented on #124
Sí que funciona pero si abro directamente la url en Google Chrome no me carga el reproductor de HTML5 (el de serie) para ver el MP4 (como siempre pasa) sino que me intenta cargar el plugin de vlc (que tengo instalado). ¿Por qué puede ser?

Es que uso la API para enviar vídeos a Chromecast y si no devuelve el vídeo no me va a funcionar.

Gracias!

[2014-05-08 16:57] aabilio commented on #124
Supongo que será por el tipo de de vídeo (el encoding). Pero de todas maneras es un vídeo.. ¿no te lo reproduce el chromecast?

[2014-05-08 16:58] bdovaz commented on #124
No parece, he hecho una prueba rápida con este servicio:

http://movies.foamsnet.com/url/

Y lo que hace es intentar cargarlo en Chromecast pero vuelve al menu (eso suele pasar cuando no puede reproducirlo).

Que de hecho ahí aparecen los codecs y formatos que soporta.

[2014-05-08 17:00] aabilio commented on #124
Pues no sé, un vídeo es.. el GET devuelve:

[code]

[2014-05-08 17:02] bdovaz commented on #124
Igual es por la cabecera? "video/x-flv"

Aunque el formato sea MP4 devuelve en la cabecera otro tipo de contenido.

[2014-05-08 17:05] aabilio commented on #124
Esto es lo que devuelve la API de brightcove:

[code]

[2014-05-08 17:12] bdovaz commented on #124
El problema es que esas URLs devuelven acceso denegado si no contienen "?v=&fp=&r=&g=".

Y si incluyo eso (que es lo que devuelves tu) es cuando no funciona jajaja.

Para mí que el problema es el "content/type = video/x-flv" que Chromecast lo ve y lo echa para atrás. Debería devolver "video/mp4".

[2014-05-08 17:17] aabilio commented on #124
Ya, por eso le metí esos parámetros, sino no tienes acceso al vídeo ;)
No sé cómo funciona chromcast, ni qué formatos de archivos (y/o streaming), codecs,... permite. Ahí no te puedo ayudar.
¿La app para chromecast la programas tú, o estás utilizando alguna de terceros? ¿Has probado a bajarte el vídeo y enviarlo como un fichero y no directamente en streaming desde servidores de terceros a ver si c

[2014-05-08 17:29] bdovaz commented on #124
Aquí están los formatos compatibles:

https://developers.google.com/cast/docs/media

La app la he programado para Android y tengo miles de descargas y casi 500 valoraciones (4,7 de 5 de nota).

Utilizo el SDK de Chromecast y yo desde que le envío la URL no se qué pasa. Acabo de poner un issue nuevo en el github del SDK de Chromecast para ver si se puede saltar esa comprobación de alguna manera.

A

[2014-05-08 17:44] aabilio commented on #124
Pues a ver si se puede arreglar, suerte! ;)

[2014-05-08 17:46] bdovaz commented on #124
Gracias!

[2014-05-08 17:46] #124 closed, assigned to aabilio

[2014-05-11 18:38] iskraelectrica opened #125 "atresplayer devuelve siempre Hash no válido (script y web)"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-05-11 20:38] bdovaz opened #126 "Los enlaces de atresplayer no funcionan, pone "Hash invalido""
Con este enlace:

http://www.pydowntv.com/api/http://www.atresplayer.com/television/series/el-secreto-de-puente-viejo/temporada-1/capitulo-814-9-5-14_2014050800114.html

Devuelve en url vídeo un JSON (como siempre). El problema es que en ese JSON devuelve "hash no válido".

https://servicios.atresplayer.com/api/urlVideoLanguage/20140508-EPISODE-00002-false/android_tablet/20140508-EPISODE-00002-fal

[2014-05-11 21:32] bdovaz opened #127 "Error al obtener algunos enlaces de RTVE"
Ejemplo:

http://www.pydowntv.com/api/http://www.rtve.es/alacarta/videos/aguila-roja/aguila-roja-t1-capitulo-7/470719/

Devuelve: "Error desconocido"

[2014-05-12 10:13] ismanastic commented on #122
Hola, tengo un problema. Uno de los vídeos está repetido...y precisamente el que falta es el último de la serie llamado "El suicida". Sería posible conseguirlo?

[2014-05-13 06:12] bdominguez opened #128 "Web caída "503 Over Quota""
Pues eso.

Gracias!

[2014-05-13 12:16] aabilio commented on #128
En pie. Gracias por reportar ;). Saludos.

[2014-05-13 12:16] #128 closed, assigned to aabilio

[2014-05-13 12:19] aabilio commented on #126
Ya está arreglado. Pero cuando recibas a través de la API de pydowntv la URL de la API de atresplayer en vez del mp4, tienes que acceder a ella con un User-Agent de un móvil android, sino te seguirá dando hash inválido. Saludo .
Movido: https://github.com/aabilio/PyDownTV2/issues/125

[2014-05-13 12:19] #126 closed, assigned to nobody

[2014-05-13 22:06] bdovaz commented on #128
Vuelve a ocurrir!

[2014-05-16 15:23] ghost opened #129 "fallos la sexta y antena3 tanto videos libres como siendo usuario"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-05-17 02:06] aabilio commented on #127
En cuanto pueda le echo un ojo..

[2014-05-17 23:03] simonbcn commented on #107
A mi esto no me funciona intentando bajar el programa: http://www.atresplayer.com/television/programas/equipo-de-investigacion/temporada-1/capitulo-91-epidemia-silenciosa_2014051600337.html

[2014-05-18 09:11] juanjosepablos commented on #107
https://servicios.atresplayer.com/api/urlVideo/20140516-EPISODE-00010-false/android_tablet/20140516-EPISODE-00010-false|1400434039|d13d8b28200360ca63544d72ff2ae0d5
Da el error:
<resultData>
<result>3</result>
<resultDes>Hash no válido</resultDes>
</resultData>

[2014-05-20 14:26] #129 closed, assigned to aabilio

[2014-05-21 16:12] aabilio commented on #122
ups! un bug en el script, que arreglado quedaría:

[code]

Y cuya ejecución daría:

| TITLE | URL | SMIL |
| --- | --- | --- |
| Desenlace El Suicida | http://www0.c03837.cdn.qbrick.com/80407/ncode/2014-04-24/El%20Suicida_aos_8c2b1efb.mp4 | http://vms.api.qbrick.com/rest/v3/player.smil?cid=B4815C84&assetId=13D7198A&clipBegin=0&clipEnd=0&playListItemId=315849 |
| Desenlace Venenosos | http://www0.c

[2014-05-21 16:12] #122 closed, assigned to aabilio

[2014-05-26 17:34] bdovaz opened #130 "Obtener a través de la API enlaces Atresplayer que requiere registro"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-05-28 20:42] #130 closed, assigned to aabilio

[2014-05-28 20:43] bdovaz commented on #121
¿Lo puedes mirar por favor?

Gracias!

[2014-05-30 16:35] bdovaz opened #131 "Ciertos enlaces de Atresplayer devuelven "URL obtenido correctamente" y el valor de url_video es "NULL""
Un ejemplo:

http://www.pydowntv.com/api/http://www.atresplayer.com/television/series/downton-abbey/temporada4/capitulo-4-captulo_2014052800212.html

No se si es algo en concreto de esta serie pero te lo pongo por si es extrapolable a alguna condición que no has tenido en cuenta.

Un saludo!

[2014-05-30 23:17] aabilio commented on #131
Le echaré un ojo en cuanto pueda..

[2014-05-30 23:18] aabilio commented on #121
En cuanto pueda lo miro

[2014-06-01 14:25] stamaty commented on #131
Con esa serie en concreto, lo que a mi me devuelve A tres player, tanto si le doy al play como si me logeo como si no (desde la web) es lo siguente:

enlace:
http://www.atresplayer.com/television/series/downton-abbey/temporada4/capitulo-4-captulo_2014052800212.html
Mensaje:
Error: Server Error
The server encountered an error and could not complete your request.
Please try again in 30 seconds.

No

[2014-06-01 15:35] ghost commented on #131
yo lo accbo de resvisar y en el android se me ve en la web con use normal
no se, da errores esa serie en concreto. el resto de la sexta y antena3, se
ve su enlace en chrome.

incluso con wifi se corta la serie y da error.

yo creo que es cosa suya.

rodrigo

On Sun, Jun 1, 2014 at 4:25 PM, stamaty notifications@github.com wrote:

[2014-06-03 09:50] nachofr opened #132 "Petición de nuevo canal - TPA (TV Principado de Asturias)"
La dirección web donde están los programas es la siguiente:

http://www.rtpa.es/alacarta

[2014-06-03 22:16] bdovaz commented on #127
Otro ejemplo:

http://www.pydowntv.com/api/http://www.rtve.es/alacarta/videos/redes/redes-estimula-tu-cerebro-para-vivir-mas-mejor/1921047/

Devuelve bien la respuesta pero no existe el enlace al mp4

[2014-06-04 17:58] aabilio commented on #132
El canal RTPA es uno de los ya soportados por PyDownTV pero acabo de comprobar ahora que está fallando.
Cambio el sentido de "Petición" a "Bug" y queda pendiente de supervisión.
Saludos.

[2014-06-04 19:01] aabilio commented on #131
He estado viendo, y null es lo que devuelve el propio atresplayer:

[code]

Quizá es por el DRM (http://servicios.atresplayer.com/episode/get?episodePk=20140528-EPISODE-00008-false):

[code]

[2014-06-04 19:08] aabilio commented on #127
Acabo de probar los dos ejemplos que me das y en los dos me ha obtenido correctamente el enlace (tal cual, abriendo el enlace que pegas en una pestaña nueva de mi navegador).
¿Puedes confirmar por favor que te siguen sin funcionar?

[2014-06-04 19:09] #125 closed, assigned to aabilio

[2014-06-04 19:13] aabilio commented on #121
Los enlaces que me pasas, ahora mismo no puedo acceder a ellos a través del navegador. Es decir, me carga la página sin error, pero luego no parece haber vídeo en ella. ¿Puedes comprobar esto por favor?

[2014-06-04 20:06] aabilio commented on #132
He estado corrigiendo por encima parte de los problemas. Ejemplo: http://web.pydowntv.com/?url=http%3A//www.rtpa.es/video%3ATPA%2520Noticias.%2520Primera%2520Edicion_1401466078.html

Si encuentras algún vídeo que no funcione, por favor, repórtalo. Saludo.

[2014-06-04 20:06] #132 closed, assigned to aabilio

[2014-06-04 21:09] bdovaz commented on #121
En los 2 casos funciona (Chrome 35) lo que pasa que va sobre flash con lo que si tienes alguna extensión que lo bloquee no te va a cargar.

De todas maneras da igual, mira cualquier otro programa anterior a 2014 y pasará lo mismo.

[2014-06-04 21:09] bdovaz commented on #127
Parece que fue en un momento concreto. Gracias!

[2014-06-04 21:09] #127 closed, assigned to aabilio

[2014-06-04 21:45] aabilio commented on #127
OK, cerramos entonces.
Oye, enhorabuena a todo esto, he estado viendo que Casteando tiene ya un montón de reviews muy buenas ;)

[2014-06-05 16:15] bdovaz commented on #127
Incluida una denuncia de Atresmedia y todo.

http://www.adslzone.tv/2014/06/05/casteando-chromecast-se-queda-sin-los-contenidos-de-atresmedia/

He tenido que eliminar el canal de Atresplayer de mi app... Y ahora están inflando la app oficial a una estrella y comentarios negativos, ellos verán.

Además de que su app oficial no ha implementado Chromecast, va fatal con errores por todos lados.

[2014-06-05 16:40] aabilio commented on #127
Sí, justo lo vi ayer con la actualización.. una putada buena la verdad. Sorry.

[2014-06-05 18:36] forestrf commented on #127
WTF.
No se qué decir...

[2014-06-06 17:34] nonamenoway opened #133 "rtve a la carta video quality"
For "rtve a la carta" stuff,  linked video is mp4 low quality.
Example:
Saber y ganar June 5th:
http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/9/5/1402067033459.mp4
Resolution is 480x270
Searching for the same video directly into "a la carta" website and downloading video by firefox download plugin, downloaded video is mp4 640x360, good quality.
tve.py source file comments that high quality is ava

[2014-06-08 18:03] mijes commented on #109
Buenas tardes llevo intentando descargar este evento desde hace una semana y no lo consigo me gustaría descargarme este evento colgado en TV Mediterráneo también. ¿Me puedes ayudar también?

El enlace es:
http://webtv.tvmediterraneo.es/video/?videoId=e-223

Por favor, si podéis hacer algo, os lo agradecería mucho!!
Gracias de antemano.

[2014-06-08 18:11] denobisipsis commented on #109
Para aquellos interesados en este canal podéis utilizar el atresdownloader
que hace tiempo que lo tiene. De todas formas

http://progressive.enetres.net/mp4Streamer.php?u=489DDF7FE98241D19D8970314BC9D3EF&c=001&f=ecac15d8851f7-01-00-021-021-live-600.mp4

El 8 de junio de 2014, 20:03, mijes notifications@github.com escribió:

[2014-06-08 20:15] mijes commented on #109
mil gracias se ve entero genial pero al descargar a mi pc me da error ¿por qué?

[2014-06-08 20:48] denobisipsis commented on #109
Luego pruebo a descargarlo. Pero si le das a verlo online te lo abre el vlc
y no da problemas
El 08/06/2014 22:15, "mijes" notifications@github.com escribió:

[2014-06-08 21:52] mijes commented on #109
ya pero quiero descargarlo para grabarlo en un dvd, si pudieras arreglarlo porque el atresdownloader no lo conozco ni se donde descargarlo ni como funciona. Gracias.

[2014-06-09 06:58] mijes commented on #109
Buenos días, lo he intentado ver online desde internet explorer y se corta y si lo veo online desde el chrome se entrecorta bastante aunque llega hasta el final pero se para entremedias por lo que las descargas las he probado con ambos navegadores y se corta  a las 2 horas 51 minutos y el evento entero dura 3 horas 49 minutos. Por fa si lo puedes arreglar, es importante que tenga este evento pues

[2014-06-09 07:01] denobisipsis commented on #109
Prueba con esto

http://www.mediafire.com/download/y8wlpg22rce2d7p/a3toMP4v15.7.exe

lo instalas, introduces la dirección web que pasaste y le das al botón de
buscar. Luego al de descargar.

El 9 de junio de 2014, 8:58, mijes notifications@github.com escribió:

[2014-06-09 07:42] mijes commented on #109
gracias estoy ya viendo la imagen en el programa pero no veo el botón para dar a descargar.

[2014-06-09 09:00] mijes commented on #109
ya lo tengo mil gracias

[2014-06-10 08:25] nonamenoway commented on #133
Until November 2013, pydowntv links for rtve videos were 640x360, good quality.

[2014-06-10 20:30] aabilio commented on #122
A petición a través de email dejo esto aquí:

vertele.py:

[code]

Lanzando:

[code]

Se obtiene:

| TITLE | URL | SMIL |
| --- | --- | --- |
| Entrevista a Hiba Abouk (I) | http://www0.c03837.cdn.qbrick.com/80407/ncode/2014-06-09/Entrevista%20a%20Hiba%20Abouk%201_aos_043ff799.mp4 | http://vms.api.qbrick.com/rest/v3/player.smil?cid=B4815C84&assetId=B6149872&clipBegin=0&clipEnd=0&playListItemId=387

[2014-06-13 21:20] frentemorao commented on #35
aabilio, estoy intentando descargar desde la raspberry con el offline y me da error de permisos...

[2014-06-17 16:25] simonbcn opened #134 "No puedo bajar vídeos de TV3"
Estoy intentando bajar un programa de TV3 a través de estas dos URLs: http://www.tv3.cat/videos/3491850/Veterinaris--Capitol-62 y http://www.tv3.cat/3alacarta/#/videos/3491850 pero en ambos casos da error:

[code]

Vía web no he podido probar ya que http://www.pydowntv.com/ da un error `503 Over Quota`

[2014-06-18 15:48] rosiewin opened #135 "Archivos htm al intentar descargar de Atresplayer"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-06-19 19:16] nonamenoway commented on #133
Today, pydowntv.com site is returning the 640x360 video for the same link...
(!)

Link:
http://www.rtve.es/alacarta/videos/saber-y-ganar/saber-ganar-06-06-14/2602704/
13 days ago:
http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/9/5/1402067033459.mp4 (480x270)
Today:
http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/1/1/1402066618711.mp4 (640x480)

Just tested the command line version at my linux compu

[2014-06-20 13:37] #133 closed, assigned to nobody

[2014-06-21 00:22] thiagoskapata opened #136 "[web] Error al recuperar video de Mi Tele"
He intentado bajar [un vídeo](http://www.mitele.es/series-online/al-salir-de-clase/temporada-1/capitulo-83/) de Mi Tele, pero se ha detectado error:
ERROR al recuperar el vídeo: mitele.es: Error en Tokenizer: HTTP Error 404: Not Found
He intentado bajar otros videos, pero el mensaje de error es el mismo.

[2014-06-21 02:13] aabilio commented on #136
Sí, esta tarde metí la pata en una configuración. ya debería estar arreglado. Saludos.

[2014-06-21 02:13] #136 closed, assigned to aabilio

[2014-06-21 02:35] #131 closed, assigned to aabilio

[2014-06-23 17:56] iskraelectrica opened #137 "¿Es posible utilizar la api con atresplayer, pasando el usuario y la contraseña?"
THIS ISSUE WAS DELETED AND BLOCKED

[2014-06-23 18:03] #137 closed, assigned to aabilio

[2014-06-24 09:30] rosiewin opened #138 "Error Over Quota en web"
La web anda caida esta mañana, desde hace un rato. He probado en otro navegador y otro pc y nada.

![captura](https://cloud.githubusercontent.com/assets/7924910/3369518/2d0ee06c-fb82-11e3-9ca3-6dfaf70d9787.PNG)

[2014-06-24 09:54] aabilio commented on #138
En pocos minutos volverá a estar operativa. Gracias por reportar. Saludos.

[2014-06-24 09:54] #138 closed, assigned to aabilio

[2014-06-25 23:45] kletiya opened #139 "Error al descargar MasterChef LA1"
Pues da error al intentar descargar este programa, me da con toda la segunda temporada aunque ya tengo descargados algunos, dejo de ejemplo los dos últimos links:

http://www.rtve.es/alacarta/videos/masterchef-2/masterchef-2-programa-10-18-06-14/2622294/

http://www.rtve.es/alacarta/videos/masterchef-2/masterchef-2-programa-11-25-06-14/2630473/

Gracias

[2014-06-26 07:39] rosiewin opened #140 "Error 403 en videos de RTVE"
Desde el martes (cuando la web estuvo caida un rato) no hay manera de descargar ningún video de RTVE, todos dan error 403

[2014-06-26 11:52] aabilio commented on #139
Ya deberían estar arreglados los problemas: (Ejemplos)
http://www.pydowntv.com/?url=http%3A//www.rtve.es/alacarta/videos/masterchef-2/masterchef-2-programa-10-18-06-14/2622294/
http://www.pydowntv.com/?url=http%3A//www.rtve.es/alacarta/videos/masterchef-2/masterchef-2-programa-11-25-06-14/2630473/

Saludos.

[2014-06-26 11:52] #139 closed, assigned to aabilio

[2014-06-26 11:53] aabilio commented on #140
Ya debería estar arreglado. Por favor, si puedes, compruébalo.
Gracias por reportar. Saludos.

[2014-06-27 08:24] nonamenoway opened #141 "tve ha dejado de funcionar desde consola"
Desde hace un par de días:

/pydowntv2/PyDownTV2-master/Script/pydowntv.py -s -S http://www.rtve.es/alacarta/videos/masterchef-2/masterchef-clase-cordon-bleu-madrid-bullabesa/2633679/

Resultado:

[ URL ] http://www.rtve.es/alacarta/videos/masterchef-2/masterchef-clase-cordon-bleu-madrid-bullabesa/2633679/
[INFO] Radio Televión Española
Traceback (most recent call last):
  File "/pydowntv2/PyDownT

[2014-06-27 10:50] aabilio commented on #141
Ayer subí cambios.. ¿Te bajaste la última versión?

[2014-06-27 11:05] nonamenoway commented on #141
Hola aabilio
He probado con la última, pero si no me equivoco en github la última actualización es de hace 6 días.
Gracias

[2014-06-27 11:12] aabilio commented on #141
Igual me olvidé de subir los cambios a GitHub.. Ahora miro..

[2014-06-27 11:32] aabilio commented on #141
Efectivamente, subí los cambios al servidor, pero me olvidé de hacer commit.. Ahora ya --> https://github.com/aabilio/PyDownTV2/commit/704d96880f5366fa47b82b3824423cc6eafeeb6a ;)

Saludos.

[2014-06-27 11:32] #141 closed, assigned to aabilio

[2014-06-27 11:33] #140 closed, assigned to aabilio

[2014-06-27 11:34] aabilio commented on #134
Con los cambios que acabo de subir debería estar funcionando bien ahora. Baja la última versión y échale un ojo ;)

[2014-06-27 11:34] nonamenoway commented on #141
Muchas gracias, aabilio !
Probado ahora mismo y funcionando perfecto

[2014-06-27 12:03] simonbcn commented on #134
Sí, ahora funciona. Muchas gracias. :smiley: :thumbsup:

[2014-06-27 12:03] #134 closed, assigned to aabilio

[2014-06-28 20:11] anse88 opened #142 "no me deja mitele descargar un video"
El problema que tengo es que me intento descargar un video de Al salir de clase, de la pagina Mitele, y cuando le doy a guardar video me sale Chrome html document.
Que puedo hacer para solucionarlo y poder bajarme el capitulo. Gracias.

[2014-06-29 13:43] nsnlqnbr opened #143 "Peticion: Descargar trozos de programas completos"
Hola buenas :) Quisiera pediros que si podriais, como he mencionado en el titulo, poder descargar trozos o fragmentos de programas/series completas. EJ: quiero descargar una escena de lqsa pero no esta cortado y tengo que descargar el capitulo entero y recortarlo por mi mismo, pero si hubiera una funcion online para cortar facilitaria mucho las cosas. Muchas gracias por vuestra atencion y espero q

[2014-07-15 15:01] antonio8909 commented on #114
Cierro

[2014-07-15 15:01] #114 closed, assigned to aabilio

[2014-07-15 18:47] avidesa commented on #109
Hola denobis, no logro sacar en link del video embebido. Me puedes ayudar. Gracias.

http://live.canal7televalencia.es/video/?videoId=e-564

[2014-07-16 16:25] rosiewin opened #144 "TVE no funciona"
No hay forma de descargar capitulos de RTVE A la carta. Todos dan o error 404 o archivo htm

[2014-07-16 16:43] aabilio commented on #144
¿Podrías ponerme alguna url de ejemplo?

Saludos.

[2014-07-16 19:14] rosiewin commented on #144
He probado varias, pero por poner ejemplo:

Htm: http://www.rtve.es/alacarta/videos/cuentame-como-paso/cuentame-como-paso-t7-capitulo-111/880592/

Error 404: http://www.rtve.es/alacarta/videos/amar-en-tiempos-revueltos/amar-tiempos-revueltos-t2-capitulo-132/425711/

[2014-07-17 02:50] #61 closed, assigned to aabilio

[2014-07-17 05:17] aabilio commented on #144
El primer ejemplo a mí me funciona: http://www.pydowntv.com/?url=http%3A//www.rtve.es/alacarta/videos/cuentame-como-paso/cuentame-como-paso-t7-capitulo-111/880592/

El segundo es verdad que no, tengo que echarle un vistazo ;)

[2014-07-17 14:20] denobisipsis commented on #109
http://progressive.enetres.net/mp4Streamer.php?u=9E9557EFCEBB43A89CEC8FBD3C500247&c=001&f=b07d6c269f920-11-22-022-022-live-700.mp4

[2014-07-19 22:27] rosiewin commented on #144
El primer ejemplo y todos los demas videos que he probado (capitulos de la misma serie y de amar en tiempos revueltos) me dan un archivo htm

Probé ayer y probé hoy... y ya no sé qué más probar XD porque me da lo mismo tanto si uso la extensión como si copipasteo el enlace. Incluso el que has puesto tú me da un archivo htm.

[2014-07-21 21:59] jotego opened #145 "Error en el Script (¿o me falta algo en mi Python?)"
Hola, estoy probando la versión de Script en Ubuntu 14.04 y después de ejecutar
sudo python setup.py install

Aun me da el siguiente error al tratar de descargar contenido:

Traceback (most recent call last):
  File "./pydowntv.py", line 209, in <module>
    info = canal.getInfo()
  File "/home/xxx/src/PyDownTV2/Script/spaintvs/grupo_a3.py", line 710, in getInfo
    return self.atresplayer_mobile(

[2014-07-28 10:24] aabil commented on #144
Esto me sale a mi al intentar descargar dibujos del clan con el script:

pydowntv.py http://www.rtve.es/infantil/videos-juegos/#/videos/baby-looney-tunes/todos/petunia-hucha/2681823/
Traceback (most recent call last):
  File "/usr/local/bin/pydowntv.py", line 5, in <module>
    pkg_resources.run_script('PydownTV==0.1.0', 'pydowntv.py')
  File "/usr/local/lib/python2.7/dist-packages/setuptools-0.6c

[2014-07-28 10:46] aabilio commented on #145
[code]

[2014-07-28 10:48] aabilio commented on #143
Lo siento, PyDownTV no tiene ni procesa los vídeos de los que ofrece los enlaces. Solo dice donde se encuentra alojado, por lo que son las cadenas las que tienen que ofrecer ese trozo.
Has probado a ver si tienen ese trozo la cadena en telecinco y no en MiTele?
Saludos.

[2014-07-28 10:48] #143 closed, assigned to aabilio

[2014-07-28 10:49] aabilio commented on #142
¿Me puedes poner el enlace exacto al vídeo? Saludos.

[2014-07-28 10:50] #135 closed, assigned to aabilio

[2014-07-28 10:53] aabilio commented on #144
@aabil necesitas un fichero en "/usr/local/lib/python2.7/dist-packages/PydownTV-0.1.0-py2.7.egg/spaintvs/" que se llame "secrets.py" y que tenga este contenido:

[code]

Eso o volver a hacer el clone (o checkout de tu repo) en donde haya el archivo "configure.py" en la raiz del proyecto y pasarlo..

Ejemplo:

[code]

[2014-07-28 10:55] aabilio commented on #144
@rosiewin aun no he tenido tiempo de ver qué está pasando.. sorry

[2014-07-28 14:50] aabil commented on #144
@aabilio, lo he vuelto a instalar como indicas (había olvidado el configure...), pero sigue sin funcionar:

pydowntv.py http://www.rtve.es/infantil/videos-juegos/#/videos/baby-looney-tunes/todos/petunia-hucha/2681823/

[ URL ] http://www.rtve.es/infantil/videos-juegos/#/videos/baby-looney-tunes/todos/petunia-hucha/2681823/
[INFO] Radio Televión Española
[INFO] ID del Vídeo : 2681823
[INFO] Vídeo d

[2014-07-28 14:54] aabilio commented on #144
@aabil eso es que va bien, pero ahora mismo están fallando algunos vídeos de RTVE (como comenta @rosiewin más arriba), en cuanto pueda, le echo un ojo ;)

[2014-07-30 05:40] jotego commented on #145
Gracias pero sigo con el mismo error. Después de haber ejecutado todos los
comandos recomendados:

Script $ python pydowntv.py
http://www.atresplayer.com/television/programas/mas-vale-tarde/2014/julio/dia-25-brcenas-vuelve-pedir-ruz-que-desbloqueen-cuentas-bancarias-pagar-hacienda_2014072500328.html

[ URL ]
http://www.atresplayer.com/television/programas/mas-vale-tarde/2014/julio/dia-25-brcenas-v

[2014-08-19 08:43] gerardomoll opened #146 "error en la descarga de un video de EITB"
Este enlace de la EITB me da error al descargarlo, qué puedo hacer para descargarlo?
http://www.eitb.tv/es/video/bilbao-ciudades-en-el-tiempo/2604897079001/2605836830001/bilbao-en-el-tiempo/
Muchas gracias
Un saludo

[2014-08-19 09:19] denobisipsis commented on #146
http://uds.ak.o.brightcove.com/102076681001/102076681001_2605864112001_174741-20130814-160351-copy.mp4?__nn__=1497926354001&slist=102076681001/&auth=daEbCa7chcMaBaadSaNbNc7bVbLd_cPaJdY-bt8Xiq-bWG-slGCyrzw_yAAq_JDEA_EtC&aifp=bcosuds

El 19 de agosto de 2014, 10:43, gerardomoll notifications@github.com
escribió:

[2014-08-29 17:29] iskraelectrica opened #147 "RTVE falla"
Saludos.

He probado varios videos y falla la descarga.
He probado con el script, con la web y con un programa propio.

http://www.rtve.es/alacarta/videos/la-forja-de-un-rebelde/forja-rebelde-capitulo-3/2714815/
http://www.rtve.es/alacarta/videos/la-forja-de-un-rebelde/forja-rebelde-capitulo-1/2696734/

Todos acaban igual:
Authorization Required
 This server could not verify that you are authorize

[2014-08-29 18:09] iskraelectrica commented on #147
RTVEPlayerVideo.swf es defecha 26/08/2014
La contra s e ñ a ha cambiado "y e L & d a D 3", aunque creo que esto ya lo sabes. Ya que mi programa no desembarullaba el xml y ahora sí, pero sigue tropezando con
 HTTP Error 401: Unauthorized
o
HTTP Error 403: Forbidden,
según el que pruebe de los que salen en el xml.

[2014-08-29 18:29] forestrf commented on #147
El resultado que funciona para el último vídeo es el flv en lugar del mp4. Para los otros dos es el mp4.

[2014-08-30 01:13] denobisipsis commented on #147
Para todos sigue funcionando el metodo png, para el ultimo

http://mvodt.lvlt.rtve.es/resources/TE_NGVA/mp4/8/9/1320481156898.mp4?nvb=20140830011115&nva=20140830071115&token=0753902edc2a607e9d347
,
El 29/08/2014 20:29, "Andrés" notifications@github.com escribió:

[2014-08-30 13:36] iskraelectrica commented on #147
en http://www.pydowntv.com/ no funciona nínguno. Veré si estoy desactualizado con el script, aunque creo que no.
denobis, el enlace que facilitas da esto al bajarlo:

<HTML><HEAD>
<TITLE>401 Authorization Required</TITLE>
</HEAD>
<BODY>

<H1>Authorization Required</H1>

This server could not verify that you
are authorized to access the document you
requested.  Either you supplied the wrong
credent

[2014-08-30 13:40] iskraelectrica commented on #147
"La forja de un rebelde - El rodaje desde dentro.mp4" http://mvodt.lvlt.rtve.es/resources/TE_NGVA/flv/2/0/1237979385702.flv?nvb=20140830091313&nva=20140830151313&token=0831458c47da563173117
El xml obtenido es este

<?xml version='1.0'?><quality><preset order='0' type='Alta'><response code='ok' geolocalizado='false' GMTEnabled='' GMTDisabled=''><url tipo='' provider='AKAMAI_STR-1350'>http://mvodt.l

[2014-08-30 18:03] iskraelectrica commented on #147
este funciona
http://mvod.lvlt.rtve.es/resources/TE_NGVA/flv/2/0/1237979385702.flv

y este, que es el que viene en el  xml no
http://mvodt.lvlt.rtve.es/resources/TE_NGVA/flv/2/0/1237979385702.flv

[2014-09-02 18:01] iskraelectrica commented on #147
Es algo peculiar de 'La forja de un rebelde' ya que los enlaces para 'Isabel' salen normalitos, sin la t de más.
Mosqueante.

[2014-09-02 18:01] #147 closed, assigned to nobody

[2014-09-05 08:26] nonamenoway opened #149 "Los links de RTVE piden user y pass"
Los links de RTVE están pidiendo user y pass al intentar reproducirlos.

http://www.rtve.es/alacarta/videos/telediario/comienza-grabacion-nueva-temporada-masterchef-junior/2738155/
------>
http://mvodt.lvlt.rtve.es/resources/TE_NGVA/mp4/1/5/1409690494951.mp4

[2014-09-05 08:32] denobisipsis commented on #149
http://mvod.lvlt.rtve.es/resources/TE_NGVA/mp4/1/5/1409690494951.mp4?nvb=20140905083055&nva=20140905143055&token=059b4b34bf73958dd50b3

El 5 de septiembre de 2014, 10:26, nonamenoway notifications@github.com
escribió:

[2014-09-05 15:21] nonamenoway commented on #149
Gracias Denobis.
El link de ejemplo en sí no me importa, sino cómo modificar el código para recuperar las URL correctas incluyendo los parámetros que has puesto (nvb,nva,token)
Se está preparando la actualización del código ?.

[2014-09-05 15:23] aabilio commented on #149
En cuanto pueda lo arreglo. Lo siento pero ahora mismo no tengo ni un
minuto para echarle un ojo. Saludos.

aabilio - http://web.pydowntv.com
GPG id 81D115C4 Abilio Almeida Eiroa (aabilio)
SIP: aabilio@ekiga.net Skype: @a_abilio

El 5 de septiembre de 2014, 17:21, nonamenoway notifications@github.com
escribió:

[2014-09-09 14:50] jorgemitcom commented on #37
Chicos, acaban de cambiar el metodo para los nuevos capitulos como este:http://replay.disneychannel.es/yo-no-he-sido/el-perro-de-la-casa-blanca.html
Hay algunos que siguen conservando el antiguo metodo, pero los que van colgando nuevos, al xml del episodio hay que añadirle "_mobile", y viene el capitulo todo junto, no por partes

[2014-09-09 17:35] denobisipsis commented on #37
http://i3tv.dcres.edgesuite.net/assets2/2014/08/28/00001/video_720_900k_es.mp4

Utiliza NetStorage y archivoNetStorage del xml (os suena de algo ese tipo
de enlaces? :))

El 9 de septiembre de 2014, 16:49, jorgeDCLaGira notifications@github.com
escribió:

[2014-09-10 15:20] jorgemitcom commented on #37
A mi no, pero recomendaría cambiar lo más pronto el sistema, y que solo coger el de <videoEsHigh>, porque es el que está en castellano y en alta calidad. Recuerdo que está disponible para todos los episodios, no tiene limitación, ya que de ahí cogen los enlaces la aplicación para Android.

[2014-09-10 21:35] antonio8909 commented on #37
@denobis como puedo contactar contigo por mail? Te tengo una pregunta sobre un servicio

[2014-09-11 13:40] denobisipsis commented on #37
froheweihnachten2014@gmail.com

2014-09-10 23:35 GMT+02:00 antonio8909 notifications@github.com:

[2014-09-12 12:54] aabilio commented on #149
Parece que ya va mejor

[2014-09-12 12:59] aabilio commented on #146
Parece que vuelve a funcionar ;)

[2014-09-12 13:03] #142 closed, assigned to aabilio

[2014-09-12 13:04] aabilio commented on #121
Parece que ya van bien ;)

[2014-09-12 13:04] #121 closed, assigned to aabilio

[2014-09-12 13:04] #149 closed, assigned to aabilio

[2014-09-12 13:05] #146 closed, assigned to aabilio

[2014-09-14 14:58] nonamenoway commented on #149
Hola aabilio,

No, está igual que estaba.
Lo que ocurre es que sólo protegen con user&pass los más recientes.

http://www.rtve.es/alacarta/videos/saber-y-ganar/saber-ganar-12-09-14/2754043/
->
http://mvodt.lvlt.rtve.es/resources/TE_NGVA/mp4/6/4/1410533977446.mp4

Pide user&pass.

[2014-09-14 14:59] nonamenoway opened #150 "rtve user & pass"
Hola aabilio,

tve sigue pidiendo user&pass.
Lo que ocurre es que sólo protegen con user&pass los más recientes.

http://www.rtve.es/alacarta/videos/saber-y-ganar/saber-ganar-12-09-14/2754043/
->
http://mvodt.lvlt.rtve.es/resources/TE_NGVA/mp4/6/4/1410533977446.mp4

Pide user&pass.

[2014-09-14 16:32] aabilio commented on #149
*no debería, digo (ese formato)
On Sep 14, 2014 6:31 PM, aabilio@gmail.com wrote:

Pydowntv  o debería dar ese enlace..
On Sep 14, 2014 4:58 PM, "nonamenoway" notifications@github.com wrote:

Hola aabilio,

No, está igual que estaba.
Lo que ocurre es que sólo protegen con user&pass los más recientes.

http://www.rtve.es/alacarta/videos/saber-y-ganar/saber-ganar-12-09-14/2754043/
->
http://mvodt.lv

[2014-09-14 16:32] aabilio commented on #149
Pydowntv  o debería dar ese enlace..
On Sep 14, 2014 4:58 PM, "nonamenoway" notifications@github.com wrote:

[2014-09-16 18:40] nonamenoway commented on #149
Pues es el enlace que devuelve pydowntv.com también...
Y hoy, pasados ya 3 días, ese enlace del ejemplo ya no pide user y pass al intentar reproducirlo.

Revisaré si ya no pide user&pass en ninguno o sigue pidiéndolo en vídeos más recientes.

x denobis:
¿Tienes el algoritmo que calcula la url que has posteado?.
Si lo tienes, yo mismo modifico el script y le envío los cambios a aabilio.

Gracias.

[2014-09-16 18:49] aabilio commented on #149
No pydowntv.com, no da el mismo enlace, fíjate ;) (en la sutileza está el truco)

[2014-09-17 16:27] nonamenoway commented on #149
Got it !!!
Gracias :-)

[2014-09-17 16:30] nonamenoway commented on #149
En el código de github está actualizado ?.
Supongo que (otra vez) no estoy usando la última versión...

[2014-09-17 16:31] aabilio commented on #149
@nonamenoway no, ahora lo subo

[2014-09-17 16:36] #150 closed, assigned to aabilio

[2014-09-17 16:37] aabilio commented on #149
@nonamenoway ya -> https://github.com/aabilio/PyDownTV2/commit/57cb1312a1ad66f9e6900e99818726368c10c495

[2014-09-17 16:48] nonamenoway commented on #149
Muchas gracias

[2014-09-29 20:01] googledance commented on #109
Hola denobis, si pudieras darme una pista para/o poder descargar este video, te estaria muy agradecido.: http://webtv.tvmediterraneo.es/video/?videoId=e-536

[2014-09-29 22:56] denobisipsis commented on #109
Prueba con el programa Atresdownloader, ya lo he arreglado para que se baje
ese link y los similares

El 29 de septiembre de 2014, 22:01, googledance notifications@github.com
escribió:

[2014-09-30 11:31] googledance commented on #109
Lo has vuelto a hacer denobis, eres un genio. Gracias

[2014-09-30 22:40] ghost opened #151 "video completos de discovery max"
buenas, ya me conoces soy rodrigo cavo

Te pongo donde estan los ep completos.

http://www.discoverymax.es/player/

Lo ideal poderlos bajar asi como van, un saludo

[2014-09-30 22:41] ghost commented on #151
Lo idea es anadirlos a ..

[2014-10-03 16:00] simonbcn opened #152 "Use '-f' flag to force overwrite."
[code]

[2014-10-03 16:02] simonbcn commented on #116
He hecho un nuevo clone de PyDownTV2 y el mismo problema persiste en Ubuntu 14.04 64 bits... :-(

¿Donde se supone que debería estar el modulo `ez_setup`? ¿En el directorio de PyDownTV2 o en el sistema?

[2014-10-03 16:09] simonbcn opened #153 "No funciona mitele.es"
Ubuntu 14.04 64 bits

[code]

[2014-10-03 16:13] simonbcn commented on #153
La web tampoco funciona...
![20141003_18 11 42_01](https://cloud.githubusercontent.com/assets/428231/4508722/41e80352-4b18-11e4-98a9-66fefb456109.jpg)

[2014-10-03 16:20] aabilio commented on #153
dentro de poco funcionará otra vez

[2014-10-03 16:21] simonbcn commented on #153
:+1:

[2014-10-07 14:59] ghost opened #154 "No funcionan los enlaces de RTVE"
por ejemplo este mismo.

http://www.rtve.es/drmn/embed/video/2783686

da error

[2014-10-07 16:07] aabilio commented on #154
Parece que es un bloqueo ya que el código en local funciona, pero a través de la web no se puede acceder a un recurso de RTVE.
Ahora no tengo tiempo para verlo, pero en cuanto pueda le echo un ojo.
Saludos.

[2014-10-08 10:36] ismanastic commented on #109
Se han cargado Atresdownloader?
No me permite descargar ya nada, ni de Mitele ni de Atresplayer :(

[2014-10-08 13:10] denobisipsis commented on #109
Os propongo un acertijo criptográfico

Desencriptar la cadena

ei5Uo9S4jyxktCG2dVhT1+vMKTyRMH0mJ4uGKetSsFF0bzubNTPZR4v9Dsew+oYT3WhIYeWix/vQkE60WiMqO2MUHyuysDq+c/KxqYICeZW2yjsuOeWywSVTpSICHHckzgMSBkDdR5ip8navDMkYnxE6/jnRBOg/80FUPp2HTNk6s5H771Cyc/acopcG5EtlE2TxSWlCQlFjilK7iiYcJyLxWNc2JcdSJOygSYO6kHaYljXqm7AGEQ==

Para ello usad blowfish ecb con la clave de resolver el siguiente enigma

Supongamos qu

[2014-10-08 13:13] ismanastic commented on #109
Si mi comentario te ha ofendido, lo siento.
Sabes que siempre he expresado mi más profunda admiración hacia ti y @aabilio.
Era porque vi que nadie más dijo nada y el último mensaje decía que todo iba ok.
De nuevo reitero mis disculpas

[2014-10-09 11:05] forestrf commented on #109
Aquí la solución del acertijo:
http://pastebin.com/6rbn9iDF

[2014-11-01 23:26] PabloCastellano commented on #154
Me ha pasado lo mismo con esta url:
http://www.rtve.es/alacarta/videos/la-noche-tematica/noche-tematica-guerra-control-remoto/2829934/

Supongo que el motivo es el mismo. Con el script en local sí va.

[2014-11-30 12:33] jaimeap87 opened #156 "Imposible hacer funcionar Easy-Rtmpdump en Mac"
Hola,

Estoy utilizando un Mac con Yosemite 10.10.1 y me es imposible utilizar Easy-Rtmpdump.
He seguido el manual para instalar todo, y cuando ejecuto "Easy-rtmpdump_MACOSX" me devuelve:

/Users/Jaime/Desktop/easy-rtmpdump/ertmpdump
Traceback (most recent call last):
  File "./easy-rtmpdump.py", line 12, in <module>
    import gevent
ImportError: No module named gevent
logout

[Proceso completado

[2014-11-30 12:37] ghost commented on #156
Mira es un problema tuyo por que yo tengo binarios compilasos busca que los hay exiten..

Rodrigo Calvo

Aun no se solvento lo de rtve ni en local ni en ninguna parte....

[2014-12-07 20:51] kissoq opened #157 "TV3 falla, nueva web en HTML5 ?"
Los videos de TV3, 3alacarta en general, ya no funcionan puesto que han cambiado recientemente toda la web. La nueva estructura de los nuevos videos (no sé si los antiguos han cambiado tambien la forma en que estan embedidos, aunque eso parece) es:

http://www.ccma.cat/tv3/alacarta/3-24/Resum-Barca-5-Espanyol-1/video/5385471/

¡Saludos y gracias!

[2014-12-07 23:19] ghost commented on #154
Todavia no solcentado? En local fynciina una de cada 10..

[2014-12-12 08:35] dextertru commented on #151
Me uno a la peticion no soy capaz de sacar el metodo de descarga de los videos.

[2014-12-12 11:18] ghost commented on #151
Ya ves..

[2014-12-15 00:20] kissoq commented on #157
Comentar solo que en esta web sí que funciona, por si eso puede ayudar:
http://videostv3.herokuapp.com/

saludos

[2014-12-26 16:33] aabilio commented on #100
[code]

[2015-01-01 17:32] #85 closed, assigned to aabilio

[2015-02-03 13:22] spds1 opened #158 "rtves script doesn't work anymore"
Hi,

the pydowntv server linux script is not working since few days with rtves:

[ URL ] http://www.rtve.es/alacarta/videos/el-tiempo/avisos-nieve-toda-mitad-norte/2978120
[INFO] Radio TeleviÃ³n EspaÃ±ola
[INFO] ID del VÃ­deo : 2978120
Traceback (most recent call last):
  File "/home/smartdo/Script/pydowntv.py", line 209, in <module>
    info = canal.getInfo()
  File "/home/smartdo/Script/spaintvs

[2015-02-13 19:01] danigarna commented on #109
Buenas tardes queria saber como puedo descargar videos en general de Mediterraneo TV una respuesta seria de agradecer, gracias.

[2016-02-08 13:16] selohu opened #159 "Atresplayer Premium"
Hola, también es posible descargar los premium?.

gracias

[2016-02-08 13:17] selohu commented on #107
Hola, buenas es posible también descargar los vídeos premium?. gracias